﻿@model SmartPlanner.BusinessLayer.TnADetailsDTO

@{
    ViewBag.Title = "To Do List";
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="form-group col-md-3">
                    @Html.Label("Date")

                    @Html.TextBoxFor(model => model.StartDate,
                                htmlAttributes: new { type = "date",
                                    @Value = Model.StartDate.ToString("yyyy-MM-dd"),
                                    @class = "form-control" })

                </div>

                <div class="" id="view-grid"></div>


            </div>
        </div>
    </div>

</div>
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            loadNotifications();

            $("#StartDate").change(function (e) {
                loadNotifications();
            });

            function loadNotifications() {
                var notiDate = $('#StartDate').val();

                if (notiDate === '')
                    return;

                $.ajax({
                    url: window.rootUrl + '/TnANotifications/LoadNotifications/?notificationDate=' + notiDate,
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        $('#view-grid').html(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        });

    </script>
}
