﻿@model IEnumerable<SmartPlanner.BusinessLayer.LineModule>

@{
    ViewBag.Title = "Manage Line Holidays";
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Manage Orders</li>
                    </ol>
                </div>
                <h4 class="page-title" Manage Line Holidays</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">

        <div class="col-sm-12">

            <div class="card-box">

                <p class="sub-header">
                    Use this option to manage the line holidays.
                </p>

                <table id="demo-custom-toolbar" data-toggle="table"
                       data-toolbar="#demo-delete-row"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-sort-name="factoryname"
                       data-page-list="[5, 10, 20]"
                       data-page-size="10"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                    <thead class="thead-light">

                        <tr>
                            <th data-field="factoryname" data-sortable="true">@Html.DisplayNameFor(model => model.FactoryNameId)</th>
                            <th data-field="modulenumber" data-sortable="true">@Html.DisplayNameFor(model => model.ModuleNumber)</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FactoryName.FactoryName)</td>
                            <td>@Html.DisplayFor(modelItem => item.ModuleNumber)</td>

                            <td>
                                <a href="@Url.Action("Detail", "LineCalendar", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a> 
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
        </div>
        <!-- end row -->
    </div>
