﻿@model IEnumerable<SmartPlanner.BusinessLayer.Notification>

@{
    ViewBag.Title = "Notifications";
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Notifications</li>
                    </ol>
                </div>
                <h4 class="page-title">Notifications</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to view your notifications.
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                    <table id="demo-custom-toolbar" data-toggle="table"
                           data-toolbar="#demo-delete-row"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-columns="true"
                           data-sort-name="name"
                           data-page-list="[5, 10, 20]"
                           data-page-size="10"
                           data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                        <thead class="thead-light">
                            <tr>
                                <th data-field="createdOn" data-sortable="true">@Html.DisplayNameFor(model => model.CretedOnString) </th>
                                <th data-field="message" data-sortable="true">@Html.DisplayNameFor(model => model.Message) </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CretedOnString)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Message)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

            </div>
        </div>
    </div>
</div>