﻿@model SmartPlanner.BusinessLayer.Factory

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Factory";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "New Factory";
        ViewBag.SubmitText = "Create";
    }

}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText Operation.
                </p>

                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid && Model.BrokenBusinessRules?.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.FactoryName)
                                @Html.TextBoxFor(model => model.FactoryName, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FactoryName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.PlanEmployees)
                                @Html.TextBoxFor(model => model.PlanEmployees, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                               data_bts_max = "9999999999",
                               onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                @Html.ValidationMessageFor(model => model.PlanEmployees, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.PlanEfficiency)
                                @Html.TextBoxFor(model => model.PlanEfficiency, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                               data_bts_max = "9999999999",
                               onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                @Html.ValidationMessageFor(model => model.PlanEfficiency, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.AvailableMinutes)
                                @Html.TextBoxFor(model => model.AvailableMinutes, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                               data_bts_max = "9999999999",
                               onkeypress = "return IsNumber(event)",
                               ondrop = "return false;", onpaste = "return false;" })
                                @Html.ValidationMessageFor(model => model.AvailableMinutes, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                <h5>Responsibilities</h5>
                                @Html.LabelFor(model => model.ConsumptionCalculationResponsibilityId)
                                @Html.DropDownListFor(model => model.ConsumptionCalculationResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConsumptionCalculationResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.SizeSetsubmisionResponsibilityId)
                                @Html.DropDownListFor(model => model.SizeSetsubmisionResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SizeSetsubmisionResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.SizeSetCommentResponsibilityId)
                                @Html.DropDownListFor(model => model.SizeSetCommentResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SizeSetCommentResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.ProductionPalningResponsibilityId)
                                @Html.DropDownListFor(model => model.ProductionPalningResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProductionPalningResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.PatternGradingResponsibilityId)
                                @Html.DropDownListFor(model => model.PatternGradingResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PatternGradingResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.CuttingResponsibilityId)
                                @Html.DropDownListFor(model => model.CuttingResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CuttingResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.PrintingResponsibilityId)
                                @Html.DropDownListFor(model => model.PrintingResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PrintingResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.EmbroideryResponsibilityId)
                                @Html.DropDownListFor(model => model.EmbroideryResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EmbroideryResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.ReCuttingShapingResponsibilityId)
                                @Html.DropDownListFor(model => model.ReCuttingShapingResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ReCuttingShapingResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.FinishingResponsibilityId)
                                @Html.DropDownListFor(model => model.FinishingResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FinishingResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.PackingResponsibilityId)
                                @Html.DropDownListFor(model => model.PackingResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PackingResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  mb-3">
                                @Html.LabelFor(model => model.InspectionResponsibilityId)
                                @Html.DropDownListFor(model => model.InspectionResponsibilityId, new SelectList(Model.Users, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.InspectionResponsibilityId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>
                                <a href="@Url.Action("Index", "Factories")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-office-building mr-1"></i>Go to Factory List</a>
                            </div>
                        }
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
