﻿@model IEnumerable<SmartPlanner.BusinessLayer.SubCategory>

@{
    ViewBag.Title = "Manage Sub Categories";
}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Manage Sub Categories</li>
                    </ol>
                </div>
                <h4 class="page-title">Manage Sub Categories</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to manage the Sub Categories.
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                    <a href="@Url.Action("Detail", "SubCategories")" class="btn btn-primary btn-rounded waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple-plus mr-1"></i>New Sub Category</a>

                <table id="demo-custom-toolbar" data-toggle="table"
                       data-toolbar="#demo-delete-row"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-sort-name="name"
                       data-page-list="[5, 10, 20]"
                       data-page-size="10"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th data-field="name" data-sortable="true">@Html.DisplayNameFor(model => model.CategoryId) </th>
                            <th data-field="module" data-sortable="true">@Html.DisplayNameFor(model => model.SubCategoryName) </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Category.ConfigValue) </td>
                                <td>@Html.DisplayFor(modelItem => item.SubCategoryName)</td>
                                <td>
                                    <a href="@Url.Action("Detail", "SubCategories", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a> |
                                    <a href="@Url.Action("Delete", "SubCategories", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
</div>
