﻿@model SmartPlanner.BusinessLayer.Operation

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Operation";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "New Operation";
        ViewBag.SubmitText = "Create";
    }

}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText Operation.
                </p>

                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid && Model.BrokenBusinessRules?.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.SMV)

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.OperationName)
                                @Html.TextBoxFor(model => model.OperationName, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OperationName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>
                                <a href="@Url.Action("Index", "Operations")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Go to Operations List</a>
                            </div>
                        }
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
