﻿@model SmartPlanner.BusinessLayer.LITUser


@{
    /**/

    ViewBag.Title = "Request Password Reset";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="text-center w-75 m-auto">

    <a href="@Url.Action("Index", "Home")">
        <span>
            <img src="~/Content/Template/assets/images/logo-light.png" alt="" height="36">
        </span>
    </a>
    <h3>@ViewBag.Message</h3>
    <p class="text-muted mb-4 mt-3">Enter your username.</p>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Html.ValidationSummary(true)
    </div>
}

@using (Html.BeginForm("Index", "RequestResetPassword", FormMethod.Post))
{
    @Html.AntiForgeryToken()



    @Html.HiddenFor(model => model.Id)

    <div class="form-group mb-3">
        @Html.LabelFor(u => u.UserName)
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user-alt"></i>
                </span>
            </div>
            @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", @autocomplete = "off" })
        </div>
        @Html.ValidationMessageFor(u => u.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Request" class="btn btn-primary" />
            <a href="@Url.Action("Index", "Login")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account mr-1"></i>Go to Login</a>
        </div>
    </div>

}

