﻿@using SmartPlanner.BusinessLayer.Common
@model IEnumerable<SmartPlanner.BusinessLayer.Productivity>

@{
    ViewBag.Title = "Manage Daily Output Details";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">Manage Daily Output Details</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to manage the daily output details of your organization.
                </p>

                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (Helper.GetAccessType(Enums.EnumAccessModules.DailyOutput).Equals(Enums.UserAccessType.ReadWrite))
                {
                    <a href="@Url.Action("Detail", "Productivity")" class="btn btn-primary btn-rounded waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-crop mr-1"></i>Add Daily Output</a>
                }


                <table id="demo-custom-toolbar" data-toggle="table"
                       data-toolbar="#demo-delete-row"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-sort-name="name"
                       data-page-list="[5, 10, 20]"
                       data-page-size="10"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                    <thead class="thead-light">
                        <tr>

                            <th data-field="working_date" data-sortable="true">
                                @Html.DisplayNameFor(model => model.WorkingDateText)
                            </th>
                            <th data-field="factory_id" data-sortable="true">
                                @Html.DisplayNameFor(model => model.FactoryId)
                            </th>
                            <th data-field="line_module_id" data-sortable="true">Line
                            </th>
                            <th data-field="customer" data-sortable="true">
                                @Html.DisplayNameFor(model => model.Style.CustomerId)
                            </th>
                            <th data-field="customer_po" data-sortable="true">
                                @Html.DisplayNameFor(model => model.Order.CustomerPONumber)
                            </th>
                            <th data-field="order_id" data-sortable="true">
                                @Html.DisplayNameFor(model => model.OrderId)
                            </th>
                            <th data-field="style_id" data-sortable="true">
                                @Html.DisplayNameFor(model => model.StyleId)
                            </th>
                            <th data-field="product_name" data-sortable="true">
                                Product
                            </th>
                            <th data-field="order_qty" data-sortable="true">
                                @Html.DisplayNameFor(model => model.Order.OrderQty)
                            </th>
                            <th data-field="attendance" data-sortable="true">
                                @Html.DisplayNameFor(model => model.Attendance)
                            </th>
                            <th data-field="produced_qty" data-sortable="true">
                                Produced Qty
                            </th>

                            @if (!Helper.GetAccessType(Enums.EnumAccessModules.DailyOutput).Equals(Enums.UserAccessType.NoAccess))
                            {
                            <th></th>
                            }
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WorkingDateText)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FactoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineModule.ModuleNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Style.Customer.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order.CustomerPONumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order.SalesOrderNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Style.StyleNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order.OrderQty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Attendance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProducedQty)
                                </td>

                                <td>
                                    @if (Helper.GetAccessType(Enums.EnumAccessModules.DailyOutput).Equals(Enums.UserAccessType.ReadWrite))
                                    {
                                        <a href='@Url.Action("Detail", "Productivity", new { id = item.Id })' class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a> <a href='@Url.Action("Delete", "Productivity", new { id = item.Id })' class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                                    }

                                    @if (Helper.GetAccessType(Enums.EnumAccessModules.DailyOutput).Equals(Enums.UserAccessType.ReadOnly))
                                    {
                                        <a href='@Url.Action("ViewDetail", "Productivity", new { id = item.Id })' class="btn btn-warning btn-sm"><i class="fa fa-eye"></i></a>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>