﻿@using SmartPlanner.BusinessLayer.Common
@model SmartPlanner.BusinessLayer.Productivity

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Daily Output";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "Add Daily Output";
        ViewBag.SubmitText = "Add";
    }

    WebGrid grid = new WebGrid(Model.LineOutputs, canPage: false);

    if (Helper.GetAccessType(Enums.EnumAccessModules.DailyOutput).Equals(Enums.UserAccessType.ReadWrite))
    {
        ViewBag.IsReadOnly = "form-control";
    }
    else
    {
        ViewBag.IsReadOnly = "form-control disabled";
    }
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.Title
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                <div class="row">
                    <div class="col-lg-12">

                        @using (Html.BeginForm("Detail", "Productivity", FormMethod.Post, htmlAttributes: new { @class = "needs-validation" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.WorkingDate)
                                    @Html.TextBoxFor(model => model.WorkingDate,
                                            htmlAttributes: new { type = "date",
                                                @Value = Model.WorkingDate.HasValue?Model.WorkingDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                                @class = @ViewBag.IsReadOnly
                                            })
                                    @Html.ValidationMessageFor(model => model.WorkingDate, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.FactoryId)
                                    @Html.DropDownListFor(model => model.FactoryId, new SelectList(Model.Factories, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FactoryId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.LineModuleId)
                                    @Html.DropDownListFor(model => model.LineModuleId, new SelectList(Model.LineModules, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LineModuleId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    @*@Html.HiddenFor(model => model.OrderId)*@
                                    @Html.LabelFor(model => model.Order.CustomerPONumber)
                                    @Html.TextBoxFor(model => model.Order.CustomerPONumber, htmlAttributes: new { @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.HiddenFor(model => model.StyleId)
                                    @Html.LabelFor(model => model.OrderId)
                                    @Html.DropDownListFor(model => model.OrderId, new SelectList(Model.Orders, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                                    @*@Html.TextBoxFor(model => model.Style.StyleNumber, htmlAttributes: new { @class = "form-control", @readonly = true })*@
                                </div>
                                <div class="form-group col-md-4">
                                    @*@Html.HiddenFor(model => model.ProductId)*@
                                    @Html.LabelFor(model => model.ProductId)
                                    @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.Products , "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                                    @*@Html.TextBoxFor(model => model.Product.ConfigValue, htmlAttributes: new { @class = "form-control", @readonly = true })*@
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Attendance)
                                    @Html.TextBoxFor(model => model.Attendance, htmlAttributes: new { @class = @ViewBag.IsReadOnly })
                                    @Html.ValidationMessageFor(model => model.Attendance, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.ProducedQty)
                                    @Html.TextBoxFor(model => model.ProducedQty, htmlAttributes: new { @class = "form-control disabled", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <a href="@Url.Action("Index", "Productivity")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-cart-outline mr-1"></i>Go to Daily Output List</a>
                            </div>

                            if (Model?.Id > 0)
                            {
                                <div class="border border-light p-2 mb-3">
                                    <div class="form-row">
                                        <div class="col-lg-12">

                                            @grid.GetHtml(
                                               tableStyle: "table table-responsive table-striped table-bordered",
                                               columns: grid.Columns(
                                                  grid.Column("FromTime", "From"),
                                                  grid.Column("ToTime", "To"),
                                                  grid.Column("ProducedQty", "Produced Qty")))

                                        </div>
                                    </div>

                                </div>
                            }


                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.jeditable.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var oldValue = '';
            $('.edit').editable(window.rootUrl + '/Productivity/SaveOutpt', {
                cssclass: 'jeditForm',
                tooltip: 'Click to edit...',
                width: 'none',
                height: 'none',
                submit: 'Save', //Here!
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('prodid'),
                        fromTime: $(this).data('from'),
                        toTime: $(this).data('to')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                        $('#ProducedQty').val(jsonData.ProducedQty);
                    }
                    else {
                        $(this).text(oldValue);
                        if (jsonData.message !== '') {
                            toastr.warning(jsonData.message);
                            toastr.clear();
                        }
                    }
                }
            })


            if (!isNaN(Date($('#WorkingDate').val()))) {

                $('#WorkingDate').datepicker().datepicker('disable');
            }


            //if ($('#FactoryId option:selected').val() > 0)
            //    $("#FactoryId").prop("disabled", true);

            //if ($('#LineModuleId option:selected').val() > 0)
            //    $("#LineModuleId").prop("disabled", true);

            //if ($("#Id").val() != "0") return;

            $("#WorkingDate").change(function (e) {
                LoadFactories();
                LoadLines();
                LoadOrders();
                LoadProducts();
                GetUpdateMode();
            });

            $("#FactoryId").change(function () {
                LoadLines();
                LoadOrders();
                LoadProducts();
            });

            $("#LineModuleId").change(function () {
                LoadOrders();
                LoadProducts();
            });

            $("#OrderId").change(function () {
                LoadProducts();
            });

            $("#ProductId").change(function () {
                GetUpdateMode();
            });

            function LoadFactories() {
                var workingDate = new Date($('#WorkingDate').val());
                var factoryId = $('#FactoryId option:selected').val();
                if (isNaN(workingDate)) return;
                $.ajax({
                    type: "GET",
                    url: window.rootUrl + "/productivity/GetFactories",
                    data: { date: workingDate.getTime() },
                    success: function (data) {
                        var s = '<option value="-1">Select One...</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Id + '">' + data[i].Name + '</option>';
                        }
                        $("#FactoryId").html(s);
                        //$('#styleId option:selected').val(styleId);
                        $("#FactoryId > [value=" + factoryId + "]").attr("selected", "true");
                    }
                });
            };

            function LoadLines() {
                var workingDate = new Date($('#WorkingDate').val());
                var factoryId = $('#FactoryId option:selected').val();
                var lineId = $('#LineModuleId option:selected').val();
                debugger;
                if (isNaN(workingDate) || factoryId === undefined) return;
                $.ajax({
                    type: "GET",
                    url: window.rootUrl + "/productivity/GetLines",
                    data: { date: workingDate.getTime(), factory: factoryId },
                    success: function (factories, outputs) {
                        var s = '<option value="-1">Select One...</option>';
                        for (var i = 0; i < factories.length; i++) {
                            s += '<option value="' + factories[i].Id + '">' + factories[i].Name + '</option>';
                        }
                        $("#LineModuleId").html(s);
                        //$('#styleId option:selected').val(styleId);
                        $("#LineModuleId > [value=" + lineId + "]").attr("selected", "true");
                    }
                });
            };

            function LoadOrders() {
                var workingDate = new Date($('#WorkingDate').val());
                var factoryId = $('#FactoryId option:selected').val();
                var lineId = $('#LineModuleId option:selected').val();
                var orderId = $('#OrderId option:selected').val();

                if (isNaN(workingDate) || factoryId === undefined) return;
                $.ajax({
                    type: "GET",
                    url: window.rootUrl + "/productivity/GetOrdersInBoard",
                    data: { date: workingDate.getTime(), factory: factoryId, lineId: lineId },
                    success: function (styles, outputs) {
                        var s = '<option value="-1">Select One...</option>';
                        for (var i = 0; i < styles.length; i++) {
                            s += '<option value="' + styles[i].Id + '">' + styles[i].Name + '</option>';
                        }
                        $("#OrderId").html(s);
                        //$('#styleId option:selected').val(styleId);
                        $("#OrderId > [value=" + orderId + "]").attr("selected", "true");
                    }
                });
            };


            function LoadProducts() {
                var workingDate = new Date($('#WorkingDate').val());
                var factoryId = $('#FactoryId option:selected').val();
                var lineId = $('#LineModuleId option:selected').val();
                var orderId = $('#OrderId option:selected').val();
                var productId = $('#ProductId option:selected').val();

                if (isNaN(workingDate) || factoryId === undefined) return;
                $.ajax({
                    type: "GET",
                    url: window.rootUrl + "/productivity/GetProductsInBoard",
                    data: { date: workingDate.getTime(), factory: factoryId, lineId: lineId, orderId: orderId },
                    success: function (products, outputs) {
                        var s = '<option value="-1">Select One...</option>';
                        for (var i = 0; i < products.length; i++) {
                            s += '<option value="' + products[i].Id + '">' + products[i].Name + '</option>';
                        }
                        $("#ProductId").html(s);
                        //$('#styleId option:selected').val(styleId);
                        $("#ProductId > [value=" + productId + "]").attr("selected", "true");
                    }
                });
            };
            
            function GetUpdateMode() {
                var workingDate = new Date($('#WorkingDate').val());
                var factoryId = $('#FactoryId option:selected').val();
                var lineId = $('#LineModuleId option:selected').val();
                var orderId = $('#OrderId option:selected').val();
                var productId = $('#ProductId option:selected').val();

                if (isNaN(workingDate) || factoryId === undefined || factoryId < 1 || lineId === undefined || lineId < 1 || orderId === undefined || orderId < 1 || productId === undefined || productId < 1) return;
                $.ajax({
                    type: "POST",
                    url: window.rootUrl + "/productivity/ResetUpdateMode",
                    data: { date: workingDate.getTime(), factoryId: factoryId, lineId: lineId, orderId: orderId, productId :productId },
                    success: function (data) {
                        if (data.Url !== '')
                            window.location.href = data.Url;
                    }
                });
            };

        });

    </script>
}