﻿@using SmartPlanner.BusinessLayer.Common
@model SmartPlanner.BusinessLayer.DTOs.SMVBankDTO

@{
    ViewBag.Title = "SMV Bank";
}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">SMV Bank</li>
                    </ol>
                </div>
                <h4 class="page-title">SMV Bank</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to compare two styles.
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Detail", "StyleDetails", FormMethod.Post, htmlAttributes: new { @class = "needs-validation", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="border border-light p-2 mb-3">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <h5>
                                            Select the first Style
                                        </h5>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BuyerId)
                                            @Html.DropDownListFor(model => model.BuyerId, new SelectList(Model.Buyers, "Id", "Name"), htmlAttributes: new { @class = "form-control", @id = "buyer1Id" })
                                            @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerId)
                                            @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.Customers, "Id", "Name"), htmlAttributes: new { @class = "form-control", @id = "customer1Id" })
                                            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                        </div>

                                        @*<div class="form-group">
            @Html.LabelFor(model => model.CategoryId)
            @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control", @id = "category1Id" })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubCategoryId)
            @Html.DropDownListFor(model => model.SubCategoryId, new SelectList(Model.SubCategories, "Id", "SubCategoryName"), htmlAttributes: new { @class = "form-control", @id = "sub_category1Id" })
            @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
        </div>*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StyleDetailId)
                                            @Html.DropDownListFor(model => model.StyleDetailId, new SelectList(Model.StyleDetails, "Id", "StyleNumber"), "Select One...", new { @class = "form-control", @id = "style1Id" })
                                            @Html.ValidationMessageFor(model => model.StyleDetailId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProductId)
                                            @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.StyleProducts, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control", @id = "product1Id" })
                                            @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <h5>
                                            Select the second Style
                                        </h5>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BuyerId)
                                            @Html.DropDownListFor(model => model.BuyerId, new SelectList(Model.Buyers, "Id", "Name"), htmlAttributes: new { @class = "form-control", @id = "buyer2Id" })
                                            @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerId)
                                            @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.Customers, "Id", "Name"), htmlAttributes: new { @class = "form-control", @id = "customer2Id" })
                                            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                        </div>

                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.CategoryId)
                                            @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control", @id = "category2Id" })
                                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SubCategoryId)
                                            @Html.DropDownListFor(model => model.SubCategoryId, new SelectList(Model.SubCategories, "Id", "SubCategoryName"), htmlAttributes: new { @class = "form-control", @id = "sub_category2Id" })
                                            @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                                        </div>*@
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StyleDetailId)
                                            @Html.DropDownListFor(model => model.StyleDetailId, new SelectList(Model.StyleDetails, "Id", "StyleNumber"), "Select One...", new { @class = "form-control", @id = "style2Id" })
                                            @Html.ValidationMessageFor(model => model.StyleDetailId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProductId)
                                            @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.StyleProducts, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control", @id = "product2Id" })
                                            @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-row">
                                <div class="border border-light p-2 mb-3 col-lg-12">
                                    <div class="alert alert-primary" role="alert" id="change-over-text">
                                        Select both the styles to view the change over!
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-row">
                                <div class="border border-light p-2 mb-3 col-lg-12">
                                    @if (Helper.GetAccessType(Enums.EnumAccessModules.SMVManagement).Equals(Enums.UserAccessType.ReadWrite))
                                    {
                                        <a href="@Url.Action("Detail", "StyleDetails")" class="btn btn-primary btn-rounded waves-effect waves-light" id="btn-new-smv"><i class="mdi mdi-crop mr-1"></i>SMV New Inquiry</a>
                                        <a href="#" class="btn btn-primary btn-rounded waves-effect waves-light" id="btn-revision-smv"><i class="mdi mdi-crop mr-1"></i>SMV Revision Inquiry</a>
                                    }
                                </div>
                            </div>*@

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="border border-light p-2 mb-3" id="style1-view">

                                    </div>
                                </div>


                                <div class="form-group col-md-6">
                                    <div class="border border-light p-2 mb-3" id="style2-view">

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
</div>



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $("#style1Id").change(function (event) {
                //loadStyleDetails(1);
                loadProducts(1);
            });

            $("#style2Id").change(function (event) {
                loadProducts(2);
            });

            $("#buyer1Id").change(function () {
                listStyles(1);
            });

            $("#buyer2Id").change(function () {
                listStyles(2);
            });

            $("#customer1Id").change(function () {
                listStyles(1);
            });

            $("#customer2Id").change(function () {
                listStyles(2);
            });

            $("#product1Id").change(function (event) {
                loadStyleProduct(1);
            });

            $("#product2Id").change(function (event) {
                loadStyleProduct(2);
            });

            function loadStyleProduct(controlId) {
                var id = $("#style" + controlId + "Id").val();

                $.ajax({
                    url: window.rootUrl + '/SMVBank/LoadStyleProducts',
                    data: { styleProductId: id },
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        $('#style' + controlId + '-view').html(data);
                        calculateChangeOver();
                    }
                });

                
            }

            function loadProducts(controlId) {

                var styleId = $('#style' + controlId + 'Id option:selected').val();
                var productId = $('#product' + controlId + 'Id option:selected').val();

                if (styleId === undefined) return;
                $.ajax({
                    type: "GET",
                    url: window.rootUrl + "/styleproducts/GetStyleProducts",
                    data: { style: styleId },
                    success: function (data) {
                        var s = '<option value="-1">Select One...</option>';

                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Id + '">' + data[i].Name + '</option>';
                        }

                        $('#product' + controlId + 'Id').html(s);

                        $('#product' + controlId + 'Id > [value=' + productId + ']').attr("selected", "true");
                    }
                });

                //if (controlId == 1 && styleId != undefined && styleId > 0) {
                //    $("#btn-revision-smv").attr("href", window.rootUrl + '/StyleDetails/Detail/?id=' + styleId + '&isInquiry=2')
                //}
                //else {
                //    $("#btn-revision-smv").attr("href", "#")
                //}
            }

            function listStyles(controlId) {

                var buyerId = $('#buyer' + controlId + 'Id option:selected').val();
                var customerId = $('#customer' + controlId + 'Id option:selected').val();

                if (buyerId === undefined)
                    buyerId = -1;

                if (customerId === undefined)
                    customerId = -1;

                $.ajax({
                    type: "GET",
                    url: window.rootUrl + "/SMVBank/GetStyleList",
                    data: { buyerId: buyerId, customerId: customerId },
                    success: function (data) {
                        var s = '<option value="-1">Select One...</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Id + '">' + data[i].Name + '</option>';
                        }
                        $('#style' + controlId + 'Id').html(s);

                    }
                });
            }

            function calculateChangeOver() {
                var product1IdVal = $("#product1Id").val();
                var product2IdVal = $("#product2Id").val();

                var changeOverDiv = $("#change-over-text");

                if (product1IdVal == undefined || product2IdVal == undefined || product1IdVal == -1 || product2IdVal == -1 || product1IdVal == '' || product2IdVal == '') {
                    changeOverDiv.text("Select both the styles to view the change over!");
                    return;
                }

                $.ajax({
                    url: window.rootUrl + '/SMVBank/CalculateChangeOver',
                    data: { product1Id: product1IdVal, product2Id: product2IdVal },
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        changeOverDiv.text("Change over value: " + data + "%");
                    }
                });
            }
        });

    </script>

}
