﻿@using SmartPlanner.BusinessLayer.Common
@model IEnumerable<SmartPlanner.BusinessLayer.StyleRevision>

@{
    ViewBag.Title = "Manage SMV Inquiries";
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Manage Styles</li>
                    </ol>
                </div>
                <h4 class="page-title">Manage SMV Inquiries</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to manage the SMV inquiries of your organization.
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                @if (Helper.GetAccessType(Enums.EnumAccessModules.SMVManagement).Equals(Enums.UserAccessType.ReadWrite))
                {
                    <a href="@Url.Action("Detail", "StyleDetails")" class="btn btn-primary btn-rounded waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-crop mr-1"></i>New SMV Inquiry</a>
                }

                <table id="demo-custom-toolbar" data-toggle="table"
                       data-toolbar="#demo-delete-row"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-sort-name="requestedby"
                       data-page-list="[5, 10, 20]"
                       data-page-size="10"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">

                    <thead class="thead-light">
                        <tr>
                            <th data-field="requestedby" data-sortable="true">@Html.DisplayNameFor(model => model.RequestedById)</th>
                            <th data-field="inquirytype" data-sortable="true">@Html.DisplayNameFor(model => model.InquiryType)</th>
                            <th data-field="buyer" data-sortable="true">@Html.DisplayNameFor(model => model.StyleDetail.BuyerId)</th>
                            <th data-field="department" data-sortable="true">@Html.DisplayNameFor(model => model.StyleDetail.Department)</th>
                            <th data-field="stylenumber" data-sortable="true">@Html.DisplayNameFor(model => model.StyleDetail.StyleNumber)</th>
                            <th data-field="requesteddate" data-sortable="true">@Html.DisplayNameFor(model => model.RequestedDateText)</th>
                            <th data-field="accepteddate" data-sortable="true">@Html.DisplayNameFor(model => model.RevisedDateText)</th>
                            <th data-field="acceptedby" data-sortable="true">@Html.DisplayNameFor(model => model.AcceptedById)</th>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.StyleManagementIE).Equals(Enums.UserAccessType.ReadWrite) || Helper.GetAccessType(Enums.EnumAccessModules.SMVManagement).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.RequestedBy.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.InquiryType)</td>
                                <td>@Html.DisplayFor(modelItem => item.StyleDetail.Buyer.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.StyleDetail.Department)</td>
                                <td>@Html.DisplayFor(modelItem => item.StyleDetail.StyleNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.RequestedDateText)</td>
                                <td>@Html.DisplayFor(modelItem => item.RevisedDateText)</td>
                                <td>@Html.DisplayFor(modelItem => item.AcceptedBy.FullName)</td>

                                @if (Helper.GetAccessType(Enums.EnumAccessModules.StyleManagementIE).Equals(Enums.UserAccessType.ReadWrite) || Helper.GetAccessType(Enums.EnumAccessModules.SMVManagement).Equals(Enums.UserAccessType.ReadWrite))
                                {
                                    <td>
                                        <a href="@Url.Action("Detail", "StyleDetails", new { id = item.StyleId, isInquiry=3, inquiryRevisionId = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>

