﻿@model SmartPlanner.BusinessLayer.LITUser

@{
    bool isMyProfile = Convert.ToBoolean(TempData["MyProfile"] ?? false);
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = isMyProfile ? "Update Profile" : "Update User";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "New User";
        ViewBag.SubmitText = "Create";
    }
    string editType = isMyProfile ? "profile" : "user";
    TempData["MyProfile"] = isMyProfile;
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText @editType.
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid && Model.BrokenBusinessRules?.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        @using (Html.BeginForm("Detail", "Users", FormMethod.Post, htmlAttributes: new { @class = "needs-validation" }))
                        {
                            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.UserName)
                                @if (isMyProfile)
                                {
                                    @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control disabled", @readonly = true })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control" })
                                }
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.FullName)
                                @Html.TextBoxFor(model => model.FullName, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Phone)
                                @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.UserLevelId)
                                @if (isMyProfile)
                                {
                                    @Html.DropDownListFor(model => model.UserLevelId, new SelectList(Model.UserLevelList, "Id", "LevelName"), htmlAttributes: new { @class = "form-control disabled", @disabled = true })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.UserLevelId, new SelectList(Model.UserLevelList, "Id", "LevelName"), htmlAttributes: new { @class = "form-control" })
                                }
                                @Html.ValidationMessageFor(model => model.UserLevelId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>

                                @if (!isMyProfile)
                                {
                                    <a href="@Url.Action("Index", "Users")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Go to Users List</a>
                                }

                                @if (isMyProfile && !Model.UserName.Equals("Admin", StringComparison.OrdinalIgnoreCase))
                                {
                                    <input type="button" class="btn btn-outline-warning" value="Request Password Reset" onclick="location.href='@Url.Action("Index","RequestResetPassword", new { id = Model.Id})'" />
                                }
                            </div>
                        }
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>

