﻿@using SmartPlanner.BusinessLayer.Common
@model IEnumerable<SmartPlanner.BusinessLayer.LITUser>

@{
    ViewBag.Title = "Manage Users";
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Manage Users</li>
                    </ol>
                </div>
                <h4 class="page-title">Manage Users</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to manage the users of the system.
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->
                @if (Helper.GetAccessType(Enums.EnumAccessModules.UserManagement).Equals(Enums.UserAccessType.ReadWrite))
                {
                    <a href="@Url.Action("Detail", "Users")" class="btn btn-primary btn-rounded waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple-plus mr-1"></i>New User</a>
                }
                <table id="demo-custom-toolbar" data-toggle="table"
                       data-toolbar="#demo-delete-row"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-sort-name="name"
                       data-page-list="[5, 10, 20]"
                       data-page-size="10"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">

                    <thead class="thead-light">
                        <tr>
                            <th data-field="fullname" data-sortable="true">@Html.DisplayNameFor(model => model.FullName)</th>
                            <th data-field="username" data-sortable="true">@Html.DisplayNameFor(model => model.UserName)</th>
                            <th data-field="email" data-sortable="true">@Html.DisplayNameFor(model => model.Email)</th>
                            <th data-field="phone" data-sortable="true">@Html.DisplayNameFor(model => model.Phone)</th>
                            <th data-field="levelname" data-sortable="true">@Html.DisplayNameFor(model => model.UserLevel.LevelName)</th>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.UserManagement).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                            <td>@Html.DisplayFor(modelItem => item.UserLevel.LevelName)</td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.UserManagement).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("Detail", "Users", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a> |
                                    <a href="@Url.Action("Delete", "Users", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a> |
                                    <a href="@Url.Action("ResetPassword", "Users", new { id = item.Id })" class="btn btn-warning btn-sm"><i class="fa fa-retweet"></i></a>
                                </td>
                            }
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>
