﻿@model SmartPlanner.BusinessLayer.Company

@{
    ViewBag.Title = "Company Detail";
}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">

                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid && Model.BrokenBusinessRules?.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()



                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Address)
                                @Html.TextBoxFor(model => model.Address, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>

                            <div class="border border-light p-2 mb-3">
                                <div class="form-row">
                                    <div class="form-group mb-3">
                                        @*@Html.LabelFor(model => model.ReportLogoName)
                                            @Html.TextBoxFor(model => model.ReportLogoName, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ReportLogoName, "", new { @class = "text-danger" })*@

                                        @Html.LabelFor(model => model.ReportLogo)
                                        @Html.TextBoxFor(m => m.ReportLogo, new { type = "file", @class = "form-control-file" })
                                        @Html.TextBoxFor(m => m.ReportLogoName, htmlAttributes: new { @class = "form-control mt-2", @readonly = true })
                                        @Html.TextBoxFor(m => m.OldReportLogoName, htmlAttributes: new { @class = "form-control hidden" })
                                        <a href="@Url.Action("Index", "Home")@Model.ReportLogoPath" class="btn btn-outline-primary waves-effect waves-light mt-2 @(Model.ReportLogoName == "" ? "disabled" : string.Empty)" id="download-sketch" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>
                                        <hr />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.OrderPrefix)
                                @Html.TextBoxFor(model => model.OrderPrefix, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OrderPrefix, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Phone)
                                @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.StartTime)
                                @Html.TextBoxFor(model => model.StartTime, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">

                                @Html.LabelFor(model => model.DefaultFactoryId)

                                @Html.DropDownListFor(model => model.DefaultFactoryId, new SelectList(Model.Factories, "Id", "FactoryName"), htmlAttributes: new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.DefaultFactoryId, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.TotalMinutes)

                                @Html.TextBoxFor(model => model.TotalMinutes, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                                                   data_bts_max = "9999999999",
                                                   onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })

                                @Html.ValidationMessageFor(model => model.TotalMinutes, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value="Save">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ReportLogo').change(function (event) {
            if (this.files && this.files[0]) {
                $("#ReportLogoName").val(this.files[0].name);
            }
        });
    });
</script>