﻿@model SmartPlanner.BusinessLayer.DTOs.TimeBoardDTO

@{
    ViewBag.Title = "Planning Board";
}


<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Manage Planning Board</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to manage planning board.
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm())
                        {
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                @Html.Label("Factory Name")

                                @Html.DropDownListFor(model => model.FactoryNameId, new SelectList(Model.FactoryNames, "Id", "FactoryName"), "Select One..", htmlAttributes: new { @class = "form-control" })

                            </div>

                            <div class="form-group col-md-3">
                                @Html.Label("From Date")
                                @*@Html.TextBox("FromDate", Model.FromDate, new { @type = "date", @class = "form-control" })*@

                                @Html.TextBoxFor(model => model.FromDate,
                                            htmlAttributes: new { type = "date",
                                                @Value = Model.FromDate.HasValue?Model.FromDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                                @class = "form-control" })

                            </div>
                            <div class="form-group col-md-3">
                                @Html.Label("To Date")
                                @*@Html.TextBox("ToDate", Model.ToDate, new { @type = "date", @class = "form-control" })*@

                                @Html.TextBoxFor(model => model.ToDate,
                                            htmlAttributes: new { type = "date",
                                                @Value = Model.ToDate.HasValue?Model.ToDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                                @class = "form-control" })

                            </div>

                        </div>
                        }

                        <div class="form-row" id="view-grid"></div>
                    </div><!-- /.col -->
                    

                </div>



            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>


@section scripts{

    <script type="text/javascript">
    $(document).ready(function () {
        loadBoard();
        $("#FactoryNameId").change(function (event) {
            loadBoard();
        });
        $("#FromDate").change(function (e) {
            loadBoard();
        });
        $("#ToDate").change(function (e) {
            loadBoard();
        });
        function loadBoard() {
            var id = $("#FactoryNameId").val();
            var from = $('#FromDate').val();
            var to = $('#ToDate').val();

            if (from === '' || to === '' || id < 1)
                return;

            $.ajax({
                url: window.rootUrl + '/Board/LoadBoard/?factoryId=' + id + '&from=' + from + '&to=' + to,
                type: 'GET',
                cache: false,
                success: function (data) {
                    $('#view-grid').html(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    </script>

}
