﻿@using SmartPlanner.BusinessLayer.Common
@model IEnumerable<SmartPlanner.BusinessLayer.SearchPlacedOrdersDTO>

@{
    ViewBag.Title = "Search Planning Board";
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Search Planning Board</li>
                    </ol>
                </div>
                <h4 class="page-title">Search Planning Board</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to search the placed order details.
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                <table id="demo-custom-toolbar" data-toggle="table"
                       data-toolbar="#demo-delete-row"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-sort-name="factoryname"
                       data-page-list="[5, 10, 20]"
                       data-page-size="10"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">

                    <thead class="thead-light">
                        <tr>
                            <th data-field="factoryname" data-sortable="true">@Html.DisplayNameFor(model => model.FactoryName)</th>
                            <th data-field="modulenumber" data-sortable="true">@Html.DisplayNameFor(model => model.ModuleNumber)</th>
                            <th data-field="salesordernumber" data-sortable="true">@Html.DisplayNameFor(model => model.SalesOrderNumber)</th>
                            <th data-field="stylenumber" data-sortable="true">@Html.DisplayNameFor(model => model.StyleNumber)</th>
                            <th data-field="productname" data-sortable="true">@Html.DisplayNameFor(model => model.ProductName)</th>
                            <th data-field="startdate" data-sortable="true">@Html.DisplayNameFor(model => model.StartDateString)</th>
                            <th data-field="enddate" data-sortable="true">@Html.DisplayNameFor(model => model.EndDateString)</th>
                            <th data-field="shipmentdate" data-sortable="true">@Html.DisplayNameFor(model => model.ShipmentDateString)</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FactoryName)</td>
                            <td>@Html.DisplayFor(modelItem => item.ModuleNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.SalesOrderNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.StyleNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                            <td>@Html.DisplayFor(modelItem => item.StartDateString)</td>
                            <td>@Html.DisplayFor(modelItem => item.EndDateString)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShipmentDateString)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>
