﻿@model IEnumerable<SmartPlanner.BusinessLayer.Role>


@{

    ViewBag.Title = "Update Roles";

    WebGrid grid = new WebGrid(Model, canPage: false);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to update Roles.
                </p>
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                }

                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">


                        @grid.GetHtml(
       tableStyle: "table table-responsive table-striped table-bordered",
       columns: grid.Columns(
           grid.Column("RoleName", "Role"),
           grid.Column(header: "User", format:@<text><div class="edit" data-id="@item.Id">@item.UserName</div></text>)))
                        

                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts{
    <script src="~/Scripts/jquery.jeditable.js"></script>
    <script>

        $(document).ready(function () {

            var oldValue = '';
            $('.edit').editable(window.rootUrl + '/roles/SaveUser', {
                cssclass: 'jeditForm',
                tooltip: 'click to change...',
                width: 'none',
                height: 'none',
                type: 'select',
                submit: 'Ok',
                loadurl: window.rootUrl + '/orderdetails/loadusers',
                loaddata: function () {
                    return { id: $(this).data('id') };
                },
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.name)
                    }
                    else {
                        $(this).text(oldValue);
                    }
                }
            })
        })
    </script>
}


