﻿@model SmartPlanner.BusinessLayer.LineModule

@{
    ViewBag.Title = "Delete Line Module";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title">Are you sure you want to delete this?</h4>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            @using (Html.BeginForm())
                            {
                                <div class="form-group mb-3">
                                    <dl class="row">

                                        <dt class="col-sm-3">
                                            @Html.DisplayNameFor(model => model.FactoryNameId)
                                        </dt>

                                        <dd class="col-sm-9">
                                            @Html.DisplayFor(model => model.FactoryName.FactoryName)
                                        </dd>

                                        <dt class="col-sm-3">
                                            @Html.DisplayNameFor(model => model.ModuleNumber)
                                        </dt>

                                        <dd class="col-sm-9">
                                            @Html.DisplayFor(model => model.ModuleNumber)
                                        </dd>

                                        <dt class="col-sm-3">
                                            @Html.DisplayNameFor(model => model.PlanEmployees)
                                        </dt>

                                        <dd class="col-sm-9">
                                            @Html.DisplayFor(model => model.PlanEmployees)
                                        </dd>

                                        <dt class="col-sm-3">
                                            @Html.DisplayNameFor(model => model.PlanEfficiency)
                                        </dt>

                                        <dd class="col-sm-9">
                                            @Html.DisplayFor(model => model.PlanEfficiency)
                                        </dd>

                                        <dt class="col-sm-3">
                                            @Html.DisplayNameFor(model => model.AvailableMinutes)
                                        </dt>

                                        <dd class="col-sm-9">
                                            @Html.DisplayFor(model => model.AvailableMinutes)
                                        </dd>

                                        <dt class="col-sm-3">
                                            @Html.DisplayNameFor(model => model.AverageProductionOut)
                                        </dt>

                                        <dd class="col-sm-9">
                                            @Html.DisplayFor(model => model.AverageProductionOut)
                                        </dd>

                                        <dt class="col-sm-3">
                                            @Html.DisplayNameFor(model => model.ProductionPerDay)
                                        </dt>

                                        <dd class="col-sm-9">
                                            @Html.DisplayFor(model => model.ProductionPerDay)
                                        </dd>

                                    </dl>
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" class="btn btn-primary" value="Delete">
                                    <a href="@Url.Action("Index", "LineModules")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Go To Line Modules List</a>
                                </div>
                            }
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
