﻿@model SmartPlanner.BusinessLayer.LineModule

@{
    ViewBag.Title = "Line Module Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group mb-3">
                            <dl class="row">

                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.FactoryNameId)
                                </dt>

                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.FactoryName.FactoryName)
                                </dd>

                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.ModuleNumber)
                                </dt>

                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.ModuleNumber)
                                </dd>

                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.PlanEmployees)
                                </dt>

                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.PlanEmployees)
                                </dd>

                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.PlanEfficiency)
                                </dt>

                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.PlanEfficiency)
                                </dd>

                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.AvailableMinutes)
                                </dt>

                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.AvailableMinutes)
                                </dd>

                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.AverageProductionOut)
                                </dt>

                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.AverageProductionOut)
                                </dd>

                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.ProductionPerDay)
                                </dt>

                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.ProductionPerDay)
                                </dd>

                            </dl>
                        </div>
                        <div class="form-group mb-0">
                            <a href="@Url.Action("Detail", "LineModules", new { id = Model.Id })" class="btn btn-info waves-effect waves-light"><i class="mdi mdi-square-edit-outline mr-1"></i>Edit</a>
                            <a href="@Url.Action("Index", "LineModules")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Go To Line Modules List</a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

