﻿@model SmartPlanner.BusinessLayer.LineModule

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Line Module";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "New Line Module";
        ViewBag.SubmitText = "Create";
    }
}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText Line Module.
                </p>

                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid && Model.BrokenBusinessRules?.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.FactoryNameId)

                                @Html.DropDownListFor(model => model.FactoryNameId, new SelectList(Model.FactoryNames, "Id", "FactoryName"), htmlAttributes: new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.FactoryNameId, "", new { @class = "text-danger" })

                            </div>


                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.ModuleNumber)
                                @Html.TextBoxFor(model => model.ModuleNumber, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ModuleNumber, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.PlanEmployees)
                                @Html.TextBoxFor(model => model.PlanEmployees, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                               data_bts_max = "9999999999",
                               onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                @Html.ValidationMessageFor(model => model.PlanEmployees, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.PlanEfficiency)
                                @Html.TextBoxFor(model => model.PlanEfficiency, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                               data_bts_max = "9999999999",
                               onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                @Html.ValidationMessageFor(model => model.PlanEfficiency, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.AvailableMinutes)
                                @Html.TextBoxFor(model => model.AvailableMinutes, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                               data_bts_max = "9999999999",
                               onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                @Html.ValidationMessageFor(model => model.AvailableMinutes, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.AverageProductionOut)
                                @Html.TextBoxFor(model => model.AverageProductionOut, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                               data_bts_max = "9999999999",
                               onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                @Html.ValidationMessageFor(model => model.AverageProductionOut, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.ProductionPerDay)
                                @Html.TextBoxFor(model => model.ProductionPerDay, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                               data_bts_max = "9999999999",
                               onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                @Html.ValidationMessageFor(model => model.ProductionPerDay, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>
                                <a href="@Url.Action("Index", "LineModules")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Go to Line Modules List</a>
                            </div>
                        }
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
