﻿@using SmartPlanner.BusinessLayer.Common
@model SmartPlanner.BusinessLayer.OrderCombination

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Order Combination";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "Create Order Combination";
        ViewBag.SubmitText = "Create";
    }

    ViewBag.IsOrder = "form-control  disabled";
    ViewBag.IsCut = "form-control  disabled";

    if (Helper.GetAccessType(Enums.EnumAccessModules.OrderManagementCut).Equals(Enums.UserAccessType.ReadWrite))
    {
        ViewBag.IsCut = "form-control";
    }

    if (Helper.GetAccessType(Enums.EnumAccessModules.OrderManagement).Equals(Enums.UserAccessType.ReadWrite))
    {
        ViewBag.IsOrder = "form-control";
    }
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText the product, size, and color combination for order details.
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        @using (Html.BeginForm("Combination", "OrderDetails", FormMethod.Post, htmlAttributes: new { @class = "needs-validation" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.OrderDetailsId)
                            @Html.HiddenFor(model => model.StyleProductId)
                            @Html.HiddenFor(model => model.Wastage)

                            <div class="form-row">

                                <div class="form-group  col-md-12">
                                    @Html.LabelFor(model => model.StyleProductId)
                                    @Html.TextBoxFor(model => model.StyleProduct.ProductName, htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.StyleProductId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-12">
                                    @Html.LabelFor(model => model.ColorName)
                                    @Html.TextBoxFor(model => model.ColorName, htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.ColorName, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-12">
                                    @Html.LabelFor(model => model.SizeName)
                                    @Html.TextBoxFor(model => model.SizeName, htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.SizeName, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-12">
                                    @Html.LabelFor(model => model.Qty)
                                    @Html.TextBoxFor(model => model.Qty, new { @class = @ViewBag.IsOrder, type = "text", data_toggle = "touchspin",
                                   data_bts_max = "9999999999",
                                   onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                    @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-12">
                                    @Html.LabelFor(model => model.PlanDeliveryQty)
                                    @Html.TextBoxFor(model => model.PlanDeliveryQty, new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.PlanDeliveryQty, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group  col-md-12">
                                    @Html.LabelFor(model => model.CutQty)
                                    @Html.TextBoxFor(model => model.CutQty, new { @class = @ViewBag.IsCut, type = "text", data_toggle = "touchspin",
                                   data_bts_max = "9999999999",
                                   onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                    @Html.ValidationMessageFor(model => model.CutQty, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-12">
                                    @Html.LabelFor(model => model.ShipQty)
                                    @Html.TextBoxFor(model => model.ShipQty, new { @class = @ViewBag.IsCut, type = "text", data_toggle = "touchspin",
                                   data_bts_max = "9999999999",
                                   onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                    @Html.ValidationMessageFor(model => model.ShipQty, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>
                                <a href="@Url.Action("Detail", "OrderDetails", new { id=Model.OrderDetailsId})" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-cart-outline mr-1"></i>Go to Order</a>
                            </div>


                        }
                    </div>
                    <div class="col-lg-2"></div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>

@section scripts{

    <script type="text/javascript">
        $("#Qty").change(function () {
            var wasteQty = $("#Qty").val() * $("#Wastage").val() / 100;
            var planQty = Number($("#Qty").val()) + Number(Math.floor(wasteQty));
            $("#PlanDeliveryQty").val(planQty);

        });
    </script>

}