﻿@model SmartPlanner.BusinessLayer.OrderDetail

@{
    /**/

    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Order";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "Create Order";
        ViewBag.SubmitText = "Create";
    }
    WebGrid grid = new WebGrid(Model.ProductsForStyle, canSort: false, canPage: false);
}


<input type="hidden" id="tabWasModified" value="false" />

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText order details.
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Detail", "OrderDetails", FormMethod.Post, htmlAttributes: new { @class = "needs-validation", onsubmit = "resetTabWasModified()" }))
                        {
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.SalesOrderNumber)
                                    @Html.TextBoxFor(model => model.SalesOrderNumber, htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.SalesOrderNumber, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.OrderInquiryStatusId)
                                    @Html.DropDownListFor(model => model.OrderInquiryStatusId, new SelectList(Model.OrderInquiryStatuses, "Id", "StatusName"), htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.OrderInquiryStatusId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.SampleStatusId)
                                    @Html.DropDownListFor(model => model.SampleStatusId, new SelectList(Model.SampleStatuses, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.SampleStatusId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.ConfirmationDate)
                                    @Html.TextBoxFor(model => model.ConfirmationDate,
                                            htmlAttributes: new { type = "date",
                                                @Value = Model.ConfirmationDate.HasValue?Model.ConfirmationDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                                @class = "form-control disabled"
                                            })
                                    @Html.ValidationMessageFor(model => model.ConfirmationDate, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.Repeat, htmlAttributes: new { @class = "col-form-label d-block" })

                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.Repeat, true, htmlAttributes: new { id = "Repeat_Yes" })
                                        <label for="Repeat_Yes"> Yes </label>
                                    </div>
                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.Repeat, false, htmlAttributes: new { id = "Repeat_No" })
                                        <label for="Repeat_No"> No </label>
                                    </div>

                                </div>

                            </div>

                            <div id="basicwizard">
                                <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                    <li class="nav-item">
                                        <a href="#general" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-account-circle mr-1"></i>
                                            <span class="d-none d-sm-inline">General</span>
                                        </a>
                                    </li>

                                    

                                </ul>

                                <div class="tab-content b-0 mb-0">
                                    <div class="tab-pane" id="general">

                                        <div class="border border-light p-2 mb-3">

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.BuyerId)
                                                    @Html.DropDownListFor(model => model.BuyerId, new SelectList(Model.Buyers, "Id", "Name"), htmlAttributes: new { @class = "form-control disabled" })
                                                    @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CustomerId)
                                                    @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.Customers, "Id", "Name"), htmlAttributes: new { @class = "form-control disabled" })
                                                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.StyleId)
                                                    @Html.DropDownListFor(model => model.StyleId, new SelectList(Model.Styles, "Id", "StyleNumber"), "Select One...", new { @class = "form-control disabled", @id = "styleId" })
                                                    @Html.ValidationMessageFor(model => model.StyleId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.Description)
                                                    @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "form-control disabled" })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.OrderQty)
                                                    @Html.TextBoxFor(model => model.OrderQty, new { @class = "form-control disabled" })
                                                    @Html.ValidationMessageFor(model => model.OrderQty, "", new { @class = "text-danger" })

                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.Wastage)
                                                    @Html.TextBoxFor(model => model.Wastage, new { @class = "form-control  disabled"})
                                                    @Html.ValidationMessageFor(model => model.Wastage, "", new { @class = "text-danger" })

                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.Label("Cut Quantity")
                                                    @Html.TextBoxFor(model => model.PlanDeliveryQty, new { @class = "form-control disabled" })
                                                    @Html.ValidationMessageFor(model => model.PlanDeliveryQty, "", new { @class = "text-danger" })

                                                </div>
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CutQty)
                                                    @Html.TextBoxFor(model => model.CutQty, new { @class = "form-control disabled"})
                                                    @Html.ValidationMessageFor(model => model.CutQty, "", new { @class = "text-danger" })

                                                </div>


                                            </div>

                                            <div class="form-row" style="height:100%">

                                                <div class="form-group  col-md-12">
                                                    <div class="border border-light p-2 mb-3">
                                                        <h5>Order Quantity Breakdown</h5>

                                                        <table id="WebGridColorSize" data-toggle="table"
                                                               data-search="false"
                                                               data-show-refresh="false"
                                                               data-show-columns="false"
                                                               data-sort-name="product"
                                                               data-page-list="[5, 10, 20]"
                                                               data-page-size="10"
                                                               data-pagination="false" data-show-pagination-switch="false" class="table-bordered ">
                                                            <thead class="thead-light">
                                                                <tr>
                                                                    <th data-field="product" data-sortable="true">@Html.DisplayNameFor(model => model.SplitCombination.StyleProductId) </th>
                                                                    <th data-field="colorname" data-sortable="true">@Html.DisplayNameFor(model => model.SplitCombination.ColorName) </th>
                                                                    <th data-field="sizename" data-sortable="true">@Html.DisplayNameFor(model => model.SplitCombination.SizeName) </th>
                                                                    <th data-field="qty" data-sortable="true">@Html.DisplayNameFor(model => model.SplitCombination.Qty) </th>
                                                                    <th data-field="plandeliveryqty" data-sortable="true">Cut Quantity </th>
                                                                    <th data-field="cutqty" data-sortable="true">@Html.DisplayNameFor(model => model.SplitCombination.CutQty) </th>
                                                                    <th data-field="shipqty" data-sortable="true">@Html.DisplayNameFor(model => model.SplitCombination.ShipQty) </th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.OrderCombinations != null)
                                                                {
                                                                    if (Model.OrderCombinations.Count > 0)
                                                                    {
                                                                        foreach (var item in Model.OrderCombinations)
                                                                        {
                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => item.StyleProduct.ProductName)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.ColorName) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.SizeName)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Qty) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.PlanDeliveryQty) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.CutQty) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.ShipQty) </td>
                                                                    <td>
                                                                        <a href="@Url.Action("Combination", "OrderDetails", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>
                                                                    </td>
                                                                </tr>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                            <tr>
                                                                                <td>No combination added.</td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                            </tr>
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>

                                                        <hr />
                                                        <h5>Product Summary</h5>

                                                        <table id="WebGridProductSum" data-toggle="table"
                                                               data-search="false"
                                                               data-show-refresh="false"
                                                               data-show-columns="false"
                                                               data-sort-name="product"
                                                               data-page-list="[5, 10, 20]"
                                                               data-page-size="10"
                                                               data-pagination="false" data-show-pagination-switch="false" class="table-bordered ">
                                                            <thead class="thead-light">
                                                                <tr>
                                                                    <th data-field="product" data-sortable="true">Product </th>
                                                                    <th data-field="productqty" data-sortable="true">Quantity </th>
                                                                    <th data-field="productcutqty" data-sortable="true">Cut Quantity </th>
                                                                    <th data-field="actualcutqty" data-sortable="true">Actual Cut Quantity </th>
                                                                    <th data-field="shipqty" data-sortable="true">Ship Quantity </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.ProductQtySumForOrder != null)
                                                                {
                                                                    if (Model.ProductQtySumForOrder.Count > 0)
                                                                    {
                                                                        foreach (var item in Model.ProductQtySumForOrder)
                                                                        {
                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Qty) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.PlanDeliveryQty)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.ActualCutQty) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.ShipQty)</td>
                                                                </tr>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                <tr>
                                                                    <td>No products added.</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.PlanningSeasonId)
                                                    @Html.DropDownListFor(model => model.PlanningSeasonId, new SelectList(Model.PlanningSeasons, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control  disabled" })
                                                    @Html.ValidationMessageFor(model => model.PlanningSeasonId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SalesYear)
                                                    @Html.TextBoxFor(model => model.SalesYear, new { @class = "form-control  disabled"})
                                                    @Html.ValidationMessageFor(model => model.SalesYear, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-12">
                                                    @Html.LabelFor(model => model.Notes)
                                                    @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @class = "form-control disabled" })
                                                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.DistributeFromId)
                                                    @Html.DropDownListFor(model => model.DistributeFromId, new SelectList(Model.DistributeFromList, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control disabled" })
                                                    @Html.ValidationMessageFor(model => model.DistributeFromId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.DeliverToId)
                                                    @Html.DropDownListFor(model => model.DeliverToId, new SelectList(Model.DeliverToList, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control disabled" })
                                                    @Html.ValidationMessageFor(model => model.DeliverToId, "", new { @class = "text-danger" })

                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div> <!-- tab-content -->
                            </div>

                            <div class="form-group mb-0">
                                <a href="@Url.Action("CutIndex", "OrderDetails")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-cart-outline mr-1"></i>Go to Order Cutting Output List</a>
                            </div>


                        }
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>


@section scripts{
    <script src="~/Scripts/jquery.jeditable.js"></script>
    <script type="text/javascript">

        window.addEventListener('beforeunload', function (e) {

            var modified = $('#tabWasModified').val();

            if (modified === 'true') {
                // Cancel the event
                e.preventDefault();
                // Chrome requires returnValue to be set
                e.returnValue = "You have changes pending on save in this page, if you continue you'll lose these changes.\nDo you want to continue?";
            }
        });

        $(document).ready(function () {
            $("#basicwizard").bootstrapWizard();

            AddOnChangeEvent();

            LoadStyles();

            LoadCustomerSizes();
            

            var oldValue = '';
            $('.edit').editable(window.rootUrl + '/orderdetails/SaveResponsibility', {
                cssclass: 'jeditForm',
                tooltip: 'click to change...',
                width: 'none',
                height: 'none',
                type: 'select',
                submit: 'Ok',
                loadurl: window.rootUrl + '/orderdetails/loadusers',
                loaddata: function () {
                    return { id: $(this).data('id') };
                },
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        tnaDefaultId: $(this).data('tnadefid'),
                        orderId: $('#Id').val()
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.name)
                    }
                    else {
                        $(this).text(oldValue);
                    }
                }
            })

            function LoadStyles() {
                var buyerId = $('#BuyerId option:selected').val();
                var styleId = $('#styleId option:selected').val();
                if (buyerId < 1) return;
                $.ajax({
                    type: "GET",
                    url: window.rootUrl + "/orderdetails/GetStyleNumbers",
                    data: { buyerIntKey: buyerId },
                    success: function (data) {
                        var s = '<option value="-1">Select One...</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Id + '">' + data[i].StyleNumber + '</option>';
                        }
                        $("#styleId").html(s);
                        //$('#styleId option:selected').val(styleId);
                        $("#styleId > [value=" + styleId + "]").attr("selected", "true");
                    }
                });
            };

            $("#BuyerId").change(function () {
                LoadStyles();
            });

            $("#CustomerId").change(function () {
                LoadCustomerSizes();
            });

            $("#btnAddQuantity").click(function (e) {
                if (window.FormData !== undefined) {

                    $('#btnAddQuantity').attr('disabled', 'disabled');

                    // Create FormData object
                    var fileData = new FormData();

                    // Adding one more key to FormData object

                    fileData.append('OrderDetailId', $("#Id").val());
                    fileData.append('Qty', $("#SplitCombination_Qty").val());
                    fileData.append('ColorName', $("#SplitCombination_ColorName option:selected").val());
                    fileData.append('SizeName', $("#SplitCombination_SizeName option:selected").val());
                    fileData.append('StyleProductId', $("#SplitCombination_StyleProductId option:selected").val());
                    fileData.append('PlanDeliveryQty', $("#SplitCombination_PlanDeliveryQty").val());
                    

                    $.ajax({
                        url: window.rootUrl + '/OrderDetails/AddSizeColorCombinations',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {

                            if (result["success"] == false)
                                toastr.warning(result["message"]);
                            else {
                                toastr.success(result["message"])
                                $("#btnCancelFeatureList").click();
                            }

                            toastr.clear();

                            //console.log(result);
                            resetTabWasModified();

                            //$("#btnCancelQuantity").click();

                            var row = $("#WebGridColorSize tbody tr:last-child").clone(true);

                            $("#WebGridColorSize tbody tr").remove();

                            $.each(result["list"], function () {
                                var fileName = this;

                                $("td", row).eq(0).html(fileName["StyleProduct"]["ProductName"]);
                                $("td", row).eq(1).html(fileName["ColorName"]);
                                $("td", row).eq(2).html(fileName["SizeName"]);
                                $("td", row).eq(3).html(fileName["Qty"]);
                                $("td", row).eq(4).html(fileName["PlanDeliveryQty"]);
                                $("td", row).eq(5).html(fileName["CutQty"]);
                                $("td", row).eq(6).html(fileName["ShipQty"]);
                                $("td", row).eq(7).html('<a href="' + window.rootUrl + '/OrderDetails/Combination/' + fileName["Id"] + '" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>|<a href="' + window.rootUrl + '/OrderDetails/DeleteSizeColorCombinations?orderDetailId=' + $("#Id").val() + '&splitCombinationId=' + fileName["Id"] + '" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>');

                                $("#WebGridColorSize").append(row);
                                row = $("#WebGridColorSize tbody tr:last-child").clone(true);
                            });


                            var prow = $("#WebGridProductSum tbody tr:last-child").clone(true);

                            $("#WebGridProductSum tbody tr").remove();

                            $.each(result["productQtyList"], function () {
                                var fileName = this;

                                $("td", prow).eq(0).html(fileName["ProductName"]);
                                $("td", prow).eq(1).html(fileName["Qty"]);
                                $("td", prow).eq(2).html(fileName["PlanDeliveryQty"]);
                                $("td", prow).eq(3).html(fileName["ActualCutQty"]);
                                $("td", prow).eq(4).html(fileName["ShipQty"]);
                                
                                $("#WebGridProductSum").append(prow);
                                prow = $("#WebGridProductSum tbody tr:last-child").clone(true);
                            });

                            $('#btnAddQuantity').removeAttr('disabled');

                        },
                        error: function (err) {
                            alert(err.statusText);
                            $('#btnAddQuantity').removeAttr('disabled');
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });

            $("#Wastage").change(function () {
                var wasteQty = $("#OrderQty").val() * $("#Wastage").val() / 100;
                var planQty = Number($("#OrderQty").val()) + Number(Math.ceil(wasteQty));
                $("#PlanDeliveryQty").val(planQty);
                
            });

            $("#SplitCombination_Qty").change(function () {
                var wasteQty = $("#SplitCombination_Qty").val() * $("#Wastage").val() / 100;
                var planQty = Number($("#SplitCombination_Qty").val()) + Number(Math.ceil(wasteQty));
                $("#SplitCombination_PlanDeliveryQty").val(planQty);

            });
        });

        function resetTabWasModified() {
            $('#tabWasModified').val(false);
        }

        function LoadCustomerSizes() {

            var customerId = $('#CustomerId option:selected').val();

            if (customerId === undefined) return;
            $.ajax({
                type: "GET",
                url: window.rootUrl + "/orderinquiries/GetCustomerSizes",
                data: { customer: customerId },
                success: function (data) {
                    var s = '<option value="-1">Select One...</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i] + '">' + data[i] + '</option>';
                    }
                    $("#SplitCombination_SizeName").html(s);

                    LoadCustomerColors();
                    //$('#styleId option:selected').val(styleId);
                    //$("#SubCategoryId > [value=" + subCategoryId + "]").attr("selected", "true");
                }
            });
        };

        function LoadCustomerColors() {

            var customerId = $('#CustomerId option:selected').val();

            if (customerId === undefined) return;
            $.ajax({
                type: "GET",
                url: window.rootUrl + "/orderinquiries/GetCustomerColors",
                data: { customer: customerId },
                success: function (data) {
                    var s = '<option value="-1">Select One...</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i] + '">' + data[i] + '</option>';
                    }
                    $("#SplitCombination_ColorName").html(s);
                    //$('#styleId option:selected').val(styleId);
                    //$("#SubCategoryId > [value=" + subCategoryId + "]").attr("selected", "true");
                }
            });
        };

    </script>
}