﻿@using SmartPlanner.BusinessLayer.Common
@model IEnumerable<SmartPlanner.BusinessLayer.OrderDetail>

@{
    ViewBag.Title = "Manage Cutting Output";
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Manage Cutting Output</li>
                    </ol>
                </div>
                <h4 class="page-title">Manage Cutting Output</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">

                <p class="sub-header">
                    Use this option to manage Cutting Output of the orders of your organization.
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->
                <table id="demo-custom-toolbar" data-toggle="table"
                       data-toolbar="#demo-delete-row"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-sort-name="salesordernumber"
                       data-page-list="[5, 10, 20]"
                       data-page-size="10"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">

                    <thead class="thead-light">
                        <tr>
                            <th data-field="factory" data-sortable="true">@Html.DisplayNameFor(model => model.FactoryNameId)</th>
                            <th data-field="buyer" data-sortable="true">@Html.DisplayNameFor(model => model.BuyerId)</th>
                            <th data-field="customer" data-sortable="true">@Html.DisplayNameFor(model => model.CustomerId)</th>
                            <th data-field="style" data-sortable="true">@Html.DisplayNameFor(model => model.StyleId)</th>
                            <th data-field="customerponumber" data-sortable="true">PO No.</th>
                            <th data-field="salesordernumber" data-sortable="true">Order Ref.</th>
                            <th data-field="orderqty" data-sortable="true">Order Qty</th>
                            <th data-field="repeat" data-sortable="true">Repeat</th>
                            <th data-field="shipmentdate" data-sortable="true">@Html.DisplayNameFor(model => model.ShipmentDateText)</th>
                            <th data-field="price" data-sortable="true">@Html.DisplayNameFor(model => model.CM)</th>
                            <th data-field="currentkeyprocess" data-sortable="true">Curr. Process</th>
                            <th data-field="posibilitytodeliver" data-sortable="true">Posible</th>
                            <th data-field="merchant" data-sortable="true">@Html.DisplayNameFor(model => model.MerchantId)</th>

                            @if (!Helper.GetAccessType(Enums.EnumAccessModules.OrderManagementCut).Equals(Enums.UserAccessType.NoAccess))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FactoryName.FactoryName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Buyer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Style.StyleNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.CustomerPONumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.SalesOrderNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.OrderQty)</td>
                            <td>@Html.DisplayFor(modelItem => item.Repeat)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShipmentDateText)</td>
                            <td>@Html.DisplayFor(modelItem => item.CM)</td>
                            <td>@Html.DisplayFor(modelItem => item.CurrentKeyProcess)</td>
                            <td>@Html.DisplayFor(modelItem => item.PossibilityToDeliverString)</td>
                            <td>@Html.DisplayFor(modelItem => item.Merchant.FullName)</td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.OrderManagementCut).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("CutDetail", "OrderDetails", new { id = item.Id})" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>
                                </td>
                            }
                            @if (Helper.GetAccessType(Enums.EnumAccessModules.OrderManagementCut).Equals(Enums.UserAccessType.ReadOnly))
                            {
                                <td>
                                    <a href="@Url.Action("ViewCutDetail", "OrderDetails", new { id = item.Id})" class="btn btn-warning btn-sm"><i class="fa fa-eye"></i></a>
                                </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>

