﻿@model SmartPlanner.BusinessLayer.TnACalendar

@{
    ViewBag.Title = $"Update starting/actual details";
}
<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.Title
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid && Model.BrokenBusinessRules?.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        @using (Html.BeginForm("PlanningCalendar", "OrderDetails", new { isTna = @ViewBag.IsTna }, FormMethod.Post, htmlAttributes: new { @class = "needs-validation" }))
                        {

                        <div class="form-group mb-3">

                            @Html.HiddenFor(model => model.OrderDetailsId)
                            @Html.HiddenFor(model => model.ProductId)
                            @Html.HiddenFor(model => model.TnADefaultId)
                            @Html.HiddenFor(model => model.Updated)
                            @*@Html.HiddenFor(model => model.Duration, new { @id = "hdnDuration" })*@
                            @Html.LabelFor(model => model.TnADefaultId)
                            @Html.EditorFor(model => model.TnADefault.KeyProcess, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>

                            <div class="form-group mb-3">

                                @if (Model.Updated < 1 && (Model.TnADefaultId == 16 || Model.TnADefaultId == 12) && !Model.ActualStartDate.HasValue)
                                {
                                    @Html.LabelFor(model => model.StartDate)
                                    @Html.TextBoxFor(model => model.StartDate,
                                                     htmlAttributes: new
                                                     {
                                                         type = "date",
                                                         @Value = Model.StartDate.HasValue ? Model.StartDate.Value.ToString("yyyy-MM-dd") : string.Empty,
                                                         @class = "form-control"
                                                     })
                                }
                                else
                                {
                                    @Html.LabelFor(model => model.StartDate)
                                    @Html.HiddenFor(model => model.StartDate, new { @id = "hdnStart" })
                                    @Html.EditorFor(model => model.PlanStartDate, new { htmlAttributes = new { @class = "form-control disabled", @readonly = "readonly" } })
                                }
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Duration)
                                @*@if (Model.CanEdit && Model.Updated < 1 && Model.TnADefaultId!=16)*@
                                @if (Model.Updated < 1 && Model.TnADefaultId != 16)
                                {
                                    @Html.TextBoxFor(model => model.Duration, new
                               {
                                   @class = "form-control",
                                   type = "text",
                                   data_toggle = "touchspin",
                                   onkeypress = "return IsNumber(event)",
                                   ondrop = "return false;",
                                   onpaste = "return false;"
                               })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Duration, new { @readonly = "readonly", @class = "form-control disabled" })
                                }
                                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Holidays)
                                @Html.TextBoxFor(model => model.Holidays, new { @readonly = "readonly", @class = "form-control disabled" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.EndDate)
                                @Html.HiddenFor(model => model.EndDate, new { @id = "hdnEnd" })
                                @Html.EditorFor(model => model.PlanEndDate, new { htmlAttributes = new { @class = "form-control disabled", @readonly = "readonly" } })
                            </div>


                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.ActualStartDate)

                                @*@if (Model.CanAddActualStartDate)
                                    {*@
                                @Html.TextBoxFor(model => model.ActualStartDate,
                                                 htmlAttributes: new
                                                 {
                                                     type = "date",
                                                     @Value = Model.ActualStartDate.HasValue ? Model.ActualStartDate.Value.ToString("yyyy-MM-dd") : string.Empty,
                                                     @class = "form-control"
                                                 })
                                @Html.ValidationMessageFor(model => model.ActualStartDate, "", new { @class = "text-danger" })
                                @*}
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ActualStartDate, htmlAttributes: new { @class = "form-control disabled", @readonly = "readonly" })
                                    }*@
                            </div>

                            <div class="form-group mb-3">

                                @Html.LabelFor(model => model.ActualEndDate)

                                @*@if (Model.CanAddActualStartDate)
                                    {*@
                                @Html.TextBoxFor(model => model.ActualEndDate,
                                                 htmlAttributes: new
                                                 {
                                                     type = "date",
                                                     @Value = Model.ActualEndDate.HasValue ? Model.ActualEndDate.Value.ToString("yyyy-MM-dd") : string.Empty,
                                                     @class = "form-control"
                                                 })
                                @Html.ValidationMessageFor(model => model.ActualEndDate, "", new { @class = "text-danger" })
                                @*}
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ActualEndDate, htmlAttributes: new { @class = "form-control disabled", @readonly = "readonly" })
                                    }*@

                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.IsActualEndInHalfDay, htmlAttributes: new { @class = "col-form-label d-block" })

                                <div class="radio form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsActualEndInHalfDay, true, htmlAttributes: new { id = "Hd_Yes" })
                                    <label for="Hd_Yes"> Yes </label>
                                </div>
                                <div class="radio form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsActualEndInHalfDay, false, htmlAttributes: new { id = "Hd_No" })
                                    <label for="Hd_No"> No </label>
                                </div>

                            </div>

                            <div class="form-group mb-3">

                                @Html.LabelFor(model => model.ActualDuration)
                                @Html.TextBoxFor(model => model.ActualDuration, new { @class = "form-control disabled", @readonly = "readonly" })
                            </div>

                            <div class="form-group mb-3">

                                @Html.LabelFor(model => model.ActualHolidays)
                                @Html.TextBoxFor(model => model.ActualHolidays, new { @class = "form-control disabled", @readonly = "readonly" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Remarks)
                                @Html.TextBoxFor(model => model.Remarks, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group mb-0">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                @if (@ViewBag.IsTna == 1)
                                {
                                    <a href="@Url.Action("TnaDetail", "OrderDetails", new { id = Model.OrderDetailsId, productId=Model.ProductId })" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Back</a>
                                }
                                else if (@ViewBag.IsTna == 2)
                                {
                                    <a href="@Url.Action("Index", "TnANotifications")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Back</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Detail", "OrderDetails", new { id = Model.OrderDetailsId })" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Back</a>
                                }
                            </div>
                        }

                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#StartDate").change(function (e) {
                calcPlanDuration();
            });
            $("#Duration").change(function (e) {
                calcEndDate();
            });
            $("#ActualStartDate").change(function (e) {
                calcActualDuration();
            });
            $("#ActualEndDate").change(function (e) {
                calcActualDuration();
            });

            function calcEndDate() {
                var date = new Date($("#hdnEnd").val());
                //var days = parseInt($("#Duration").val(), 10) + parseInt($("#Holidays").val());
                var days = parseInt($("#Duration").val(), 10);

                $.ajax({
                    type: "GET",
                    url: window.rootUrl + '/orderdetails/GetStartDate/?end=' + date.getTime() + "&days=" + days,
                    dataType: "JSON",
                    //data: data,
                    success: function (data) {
                        var dt = new Date(data.start);
                        $("#hdnStart").val(dt.toDateString());
                        $("#PlanStartDate").val(data.startString);
                        $("#Holidays").val(data.holidays);
                    },
                    error: function (ee) {
                        alert('Failed to calculate the start date');
                    }
                });
            }

            function calcActualDuration() {
                var startDate = new Date($("#ActualStartDate").val());
                var endDate = new Date($("#ActualEndDate").val());

                $.ajax({
                    type: "GET",
                    url: window.rootUrl + '/orderdetails/GetHolidays/?start=' + startDate.getTime() + "&end=" + endDate.getTime() + '&orderId=' + $("#OrderDetailsId").val() + '&productId=' + $("#ProductId").val() + '&tnaDefaultId=' + $("#TnADefaultId").val(),
                    dataType: "JSON",
                    //data: data,
                    success: function (data) {
                        $("#ActualDuration").val(data.duration);
                        $("#ActualHolidays").val(data.holidays);
                    },
                    error: function (ee) {
                        alert('Failed to calculate the holidays');
                    }
                });
                //if (startDate != undefined && endDate != undefined) {
                //    var days = Math.floor((endDate - startDate) / (1000 * 60 * 60 * 24))
                //    {
                //        if (isNaN(days))
                //            $("#ActualDuration").val(0);
                //        else
                //            $("#ActualDuration").val(days+1);
                //    }
                //}
            }

            function calcPlanDuration() {
                var startDate = new Date($("#StartDate").val());
                var endDate = new Date($("#hdnEnd").val());

                if (startDate > endDate) {
                    toastr.warning("Start date cannot after the end date.");
                    toastr.clear();
                    $("#StartDate").val($("#hdnStart").val());
                    return;
                }
                $.ajax({
                    type: "GET",
                    url: window.rootUrl + '/orderdetails/GetPlanDuration/?start=' + startDate.getTime() + "&end=" + endDate.getTime() + '&orderId=' + $("#OrderDetailsId").val() + '&productId=' + $("#ProductId").val() + '&tnaDefaultId=' + $("#TnADefaultId").val(),
                    dataType: "JSON",
                    //data: data,
                    success: function (data) {
                        $("#Duration").val(data.duration);
                        $("#Holidays").val(data.holidays);
                    },
                    error: function (ee) {
                        alert('Failed to calculate the holidays');
                    }
                });
            }

        });
    </script>
}
