﻿@using SmartPlanner.BusinessLayer.Common
@model IEnumerable<SmartPlanner.BusinessLayer.StyleProduct>

@{
    ViewBag.Title = "StyleProducts";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Manage Products for Order</li>
                    </ol>
                </div>
                <h4 class="page-title">Manage TnA for Orders</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">

                <p class="sub-header">
                    Use this option to manage the TnA for orders of your organization.
                </p>

                <table id="demo-custom-toolbar" data-toggle="table"
                       data-toolbar="#demo-delete-row"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-sort-name="productname"
                       data-page-list="[5, 10, 20]"
                       data-page-size="10"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th data-field="productname" data-sortable="true">@Html.DisplayNameFor(model => model.ProductName)</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>

                                @if (Helper.GetAccessType(Enums.EnumAccessModules.TnAManagement).Equals(Enums.UserAccessType.ReadWrite))
                                {
                                    <td>
                                        <a href="@Url.Action("TnaDetail", "OrderDetails", new { id = ViewBag.OrderId, productId = item.ProductId, isTna = @ViewBag.IsTna})" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>
                                    </td>
                                }

                                @if (Helper.GetAccessType(Enums.EnumAccessModules.TnAManagement).Equals(Enums.UserAccessType.ReadOnly))
                                {
                                    <td>
                                        <a href="@Url.Action("ViewTnaDetail", "OrderDetails", new { id = ViewBag.OrderId, productId = item.ProductId, isTna = @ViewBag.IsTna})" class="btn btn-warning btn-sm"><i class="fa fa-eye"></i></a>
                                    </td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @if (@ViewBag.IsTna == 0)
    {
        <div class="form-group mb-0">
            <a href="@Url.Action("Index", "OrderDetails")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-cart-outline mr-1"></i>Go to Order List</a>
        </div>
    }
    else
    {

        <div class="form-group mb-0">
            <a href="@Url.Action("TnaIndex", "OrderDetails", new { type = 2 })" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-cart-outline mr-1"></i>Go to TNA Management</a>
        </div>
    }

</div>