﻿@model SmartPlanner.BusinessLayer.OrderDetail

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update TnA for Order";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "Create Order";
        ViewBag.SubmitText = "Create";
    }
    WebGrid grid = new WebGrid(Model.TnACalendar, canPage: false);
}


<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText TnA for order details.
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Detail", "OrderDetails", FormMethod.Post, htmlAttributes: new { @class = "needs-validation" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.SalesOrderNumber)
                                    @Html.TextBoxFor(model => model.SalesOrderNumber, htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.SalesOrderNumber, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.OrderInquiryStatusId)
                                    @Html.DropDownListFor(model => model.OrderInquiryStatusId, new SelectList(Model.OrderInquiryStatuses, "Id", "StatusName"), htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.OrderInquiryStatusId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.SampleStatusId)
                                    @Html.DropDownListFor(model => model.SampleStatusId, new SelectList(Model.SampleStatuses, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.SampleStatusId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.OrderConfirmationDate)
                                    @Html.TextBoxFor(model => model.OrderConfirmationDate,
                                            htmlAttributes: new { type = "date",
                                                @Value = Model.OrderConfirmationDate.HasValue?Model.OrderConfirmationDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                                @class = "form-control disabled"
                                            })
                                    @Html.ValidationMessageFor(model => model.OrderConfirmationDate, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-3">
                                    @Html.LabelFor(model => model.BuyerId)
                                    @Html.DropDownListFor(model => model.BuyerId, new SelectList(Model.Buyers, "Id", "Name"), htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-3">
                                    @Html.LabelFor(model => model.CustomerId)
                                    @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.Customers, "Id", "Name"), htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-3">
                                    @Html.LabelFor(model => model.ProductId)
                                    @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.Products, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-3">
                                    @Html.LabelFor(model => model.StyleId)
                                    @Html.DropDownListFor(model => model.StyleId, new SelectList(Model.Styles, "Id", "StyleNumber"), "Select One...", new { @class = "form-control disabled", @id = "styleId" })
                                    @Html.ValidationMessageFor(model => model.StyleId, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="border border-light p-2 mb-3">
                                <div class="form-row">
                                    <div class="col-lg-12">

                                        @grid.GetHtml(
                                           tableStyle: "table table-responsive table-striped table-bordered",
                                           columns: grid.Columns(
                                              grid.Column("DisplayOrder", "SQ No."),
                                              grid.Column("KeyProcess", "Key Process"),
                                              grid.Column("PlanStartDate", "Plan Start"),
                                              grid.Column("Duration", "Duration"),
                                              grid.Column("PlanEndDate", "Plan End"),
                                              grid.Column("PlanActualStartDate", "Actual Start"),
                                              grid.Column("PlanActualEndDate", "Actual End"),
                                              grid.Column(header: "Responsibility", format:@<text><div class="edit" data-startdate="@item.PlanStartDate" data-id="@item.Id" data-tnadefid="@item.TnADefaultId" data-canedit="true">@item.ResponsibilityName</div></text>),
                                              grid.Column("Remarks", "Remarks"),

                                    @*grid.Column(header: "Responsibility", format:@<text><div class="@(@item.CanEdit ? "edit" : "edt")" data-startdate="@item.PlanStartDate" data-id="@item.Id" data-tnadefid="@item.TnADefaultId" data-canedit="@item.CanEdit">@item.ResponsibilityName</div></text>),*@
                                    grid.Column("", header: "",
                                      format: @<text>
                                        @*@if (Model.Id > 0 && @item.CanEdit)
                     {*@
                                    @Html.ActionLink("Edit", "PlanningCalendar", new { id = item.id, orderId = item.OrderDetailsId, tnaId = item.TnADefaultId, productId = Model.ProductId, isTna = 1 }, new { @class = "editDialog btn btn-info btn-sm" })
             @*}*@
                                
                                    </text>)))

                                    </div>
                                </div>

                            </div>

                            <div class="form-group mb-0">
                                @*<input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>*@
                                <a href="@Url.Action("StyleProducts", "OrderDetails", new { id=Model.Id})" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-cart-outline mr-1"></i>Go to Products List</a>
                            </div>


                        }
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>

@section scripts{
    <script src="~/Scripts/jquery.jeditable.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#basicwizard").bootstrapWizard();

            LoadStyles();

            var oldValue = '';
            $('.edit').editable(window.rootUrl + '/orderdetails/SaveResponsibility', {
                cssclass: 'jeditForm',
                tooltip: 'click to change...',
                width: 'none',
                height: 'none',
                type: 'select',
                submit: 'Ok',
                loadurl: window.rootUrl + '/orderdetails/loadusers',
                loaddata: function () {
                    return { id: $(this).data('id') };
                },
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        tnaDefaultId: $(this).data('tnadefid'),
                        orderId: $('#Id').val(),
                        productId: $('#ProductId').val()
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.name)
                    }
                    else {
                        $(this).text(oldValue);
                    }
                }
            })

            function LoadStyles() {
                var buyerId = $('#BuyerId option:selected').val();
                var styleId = $('#styleId option:selected').val();
                if (buyerId < 1) return;
                $.ajax({
                    type: "GET",
                    url: window.rootUrl + "/orderdetails/GetStyleNumbers",
                    data: { buyerIntKey: buyerId },
                    success: function (data) {
                        var s = '<option value="-1">Select One...</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Id + '">' + data[i].StyleNumber + '</option>';
                        }
                        $("#styleId").html(s);
                        //$('#styleId option:selected').val(styleId);
                        $("#styleId > [value=" + styleId + "]").attr("selected", "true"); 
                    }
                }); 
            };

            $("#BuyerId").change(function () {
                LoadStyles();
            });

        });

    </script>
}