﻿@model SmartPlanner.BusinessLayer.ConfigurationTableValue


@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = $"Update {Model.ConfigTable.ConfigName}";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = $"Create {Model?.ConfigTable?.ConfigName}";
        ViewBag.SubmitText = "Create";
    }
    string @configName = Model?.ConfigTable?.ConfigName;
    string @backText = $"Go to {configName} List";
    WebGrid grid = new WebGrid(Model.TnADefaults, canPage: false);
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText  @configName
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid && Model.BrokenBusinessRules?.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-3">
                                @Html.Label("lblName", @configName)
                                @Html.EditorFor(model => model.ConfigValue, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfigValue, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group mb-0">

                                <input type="submit" value=@ViewBag.SubmitText class="btn btn-primary" />
                                <a href="@Url.Action("Index", "ConfigValues",new { id = Model.ConfigId })" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>@backText</a>
                            </div>
                        }

                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>

                @if (Model.Id > 0 && Model.ConfigId == (int)SmartPlanner.BusinessLayer.Common.Enums.EnumConfigurationTables.POType)
                {
                    <br />

                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <h5> TnA Details </h5>

                            @grid.GetHtml(
            tableStyle: "table table-responsive table-striped table-bordered",
            columns: grid.Columns(
                grid.Column("KeyProcess", "Key Process"),
                grid.Column("DisplayOrder", "Display Order"),
grid.Column(header: "Duration", format:@<text><div class="edit" data-id="@item.ID" data-tnaid="@Model.Id" data-propertyname="Duration">@item.Duration</div></text>)
         )
         )

                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.jeditable.js"></script>
    <script>

        $(document).ready(function () {

            var oldValue = '';
            $('.edit').editable(window.rootUrl + '/ConfigValues/SaveTnA', {
                cssclass: 'jeditForm',
                tooltip: 'Click to edit...',
                width: 'none',
                height: 'none',
                submit: 'Save', //Here!
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        poTypeId: $(this).data('tnaid')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    }
                    else {
                        $(this).text(oldValue);
                        alert(jsonData.message);
                    }
                }
            })
        })
    </script>
}