﻿@model SmartPlanner.BusinessLayer.LITUser

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="text-center w-75 m-auto">

    <a href="@Url.Action("Index", "Home")">
        <span>
            <img src="~/Content/Template/assets/images/logo-light.png" alt="" height="36">
        </span>
    </a>
    <h3>@ViewBag.Message</h3>
    <p class="text-muted mb-4 mt-3">Enter your new password.</p>
</div>


@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserName)

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(u => u.Password)
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
            @Html.PasswordFor(u => u.Password, new { @class = "form-control", @autocomplete = "off" })
        </div>
        @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(u => u.ConfirmPassowrd)
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
            @Html.PasswordFor(u => u.ConfirmPassowrd, new { @class = "form-control", @autocomplete = "off" })
        </div>
        @Html.ValidationMessageFor(u => u.ConfirmPassowrd, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change" class="btn btn-primary" />
            <a href="@Url.Action("Index", "Login")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account mr-1"></i>Go to Login</a>
        </div>
    </div>

}
