﻿@model SmartPlanner.BusinessLayer.LITUser

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="text-center w-75 m-auto">

    <a href="@Url.Action("Index", "Home")">
        <span>
            <img src="~/Content/Template/assets/images/logo-light.png" alt="" height="36">
        </span>
    </a>
    <p class="text-muted mb-4 mt-3">Enter your username and password to access the system.</p>
</div>

<!-- Start Display the message as a dismissable alert -->
@if (!string.IsNullOrEmpty(@ViewBag.Message))
{
    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.Message
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Html.ValidationSummary(true)
    </div>
}

<!-- End Display the message as a dismissable alert -->


@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        @Html.LabelFor(u => u.UserName)
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user-alt"></i>
                </span>
            </div>
            @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", @autocomplete = "off" })
        </div>
        @Html.ValidationMessageFor(u => u.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(u => u.Password)
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
            @Html.PasswordFor(u => u.Password, new { @class = "form-control", @autocomplete = "off" })
        </div>
        @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" value="true" name="chkRemember" id="checkbox-signin" checked>
            <label class="custom-control-label" for="checkbox-signin">Keep me logged in</label>
        </div>
    </div>

    <div class="form-group mb-0 text-center">
        <button class="btn btn-primary btn-block" type="submit"> Log in </button>
    </div>
}
