﻿@model SmartPlanner.BusinessLayer.LITUser

@{
                /**/

                ViewBag.Title = "LogIn";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true);
    <div>
        <fieldset>
            <legend>Login Form</legend>
            <div class="editor-label">@Html.LabelFor(u => u.UserName)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.UserName)
            @Html.ValidationMessageFor(u => u.UserName)
             </div>
        <div class="editor-label">@Html.LabelFor(u => u.Password)</div>
        <div class="editor-field">
            @Html.PasswordFor(u => u.Password)
            @Html.ValidationMessageFor(u => u.Password)
        </div>
        <input type="submit" value="Login" />
        </fieldset>
    </div>
}