﻿@using SmartPlanner.BusinessLayer
@model UserLevel


@{
                /**/

                if (Model == null || Model.Id > 0)
                {
                    ViewBag.Title = "Update User Level";
                    ViewBag.SubmitText = "Update";
                }
                else
                {
                    ViewBag.Title = "Create User Level";
                    ViewBag.SubmitText = "Create";
                }
                WebGrid grid = new WebGrid(Model.UserLevelAccessModules, canPage: false);
}



<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText User Levels.
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid && Model.BrokenBusinessRules?.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        @using (Html.BeginForm("Detail", "UserLevels", FormMethod.Post, htmlAttributes: new { @class = "needs-validation" }))
                        {
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.LevelName)
                                @Html.TextBoxFor(model => model.LevelName, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LevelName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @grid.GetHtml(
                                tableStyle: "table-bordered table table-hover",
                                htmlAttributes: new { id = "selectableGrid" },
                                columns: grid.Columns
                                    (
                                        grid.Column("AccessModule.ModuleName","Access Module"),
                                        grid.Column(format: @<text> <input type="radio" value="0" checked="@item.NoAccessChecked" name="@item.AccessModuleId" /> </text>, header: "No Access"),
                                        grid.Column(format: @<text> <input type="radio" checked="@item.ReadOnlyChecked" value="1" name="@item.AccessModuleId" /> </text>, header: "Read Only"),
                                        grid.Column(format: @<text> <input type="radio" value="2" checked="@item.ReadWriteChecked" name="@item.AccessModuleId" /> </text>, header: "Read Write")
))
                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>
                                <a href="@Url.Action("Index", "UserLevels")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Go to User Levels List</a>
                            </div>


                        }
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>

