﻿/* Set color for login page background */
body.authentication-bg-pattern {
    background-color: #8083e2;
}

.disabled {
    background-color: #ddd !important;
    pointer-events: none;
    cursor: default;
}


#view-grid {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#main-board {
    padding-left: 6px;
    width: 100%;
}

#planning-board-grid th {
    /*width: 80px !important;*/
    color: #352e73;
    background-color: #e0def8;
    border-color: #d4d0f5;
    font-size: 0.8em !important;
    padding-left: 0px !important;
    text-align: center !important;
    padding-right: 0px !important;
    min-width: 40px !important;
    max-width: 40px !important;
}
#planning-board-grid tr td {
    /*max-height: 71px !important;
    min-height:71px !important;*/
    font-size: 0.92em !important;
    padding-top : 1px !important;
    padding-bottom: 0px !important;
    vertical-align:top;
}

#hplanning-board-grid th {
    /*width: 80px !important;*/
    color: #352e73;
    background-color: #e0def8;
    border-color: #d4d0f5;
    font-size: 0.8em !important;
    padding-left: 0px !important;
    text-align: center !important;
    padding-right: 0px !important;
    min-width: 40px !important;
    max-width: 40px !important;
}

#hplanning-board-grid tr td {
    /*max-height: 71px !important;
    min-height:71px !important;*/
    font-size: 0.92em !important;
    padding-top: 1px !important;
    padding-bottom: 0px !important;
    vertical-align: top;
}

.FirstColumn {
    white-space: pre !important;
}

#planning-board-grid tr td.FirstColumn {
    padding-left:2px !important;
    padding-right:2px !important;
    min-width:103px !important;
    max-width:103px !important;
    min-height:45px !important;
    max-height:45px !important;
}


#hplanning-board-grid tr td.FirstColumn {
    padding-left: 2px !important;
    padding-right: 2px !important;
    min-width: 103px !important;
    max-width: 103px !important;
    min-height: 45px !important;
    max-height: 45px !important;
}

#hplanning-board-grid th:first-child {
    padding-left: 2px !important;
    padding-right: 2px !important;
    min-width: 103px !important;
    max-width: 103px !important;
    min-height: 45px !important;
    max-height: 45px !important;
}

.hidden {
    display: none;
}

#change-over-text {
    font-size: large;
    text-align: center;
}

.gps-loading {
    background: url("../Content/Template/assets/images/loading.gif") center center no-repeat;
}

.breadcrumb-item > a {
    color: #1783e2;
}

.breadcrumb-item.active {
    color: #027cf7;
}

.btn-learning-curve {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
}


.radio-planned input[type="radio"] + label::after {
    background-color: #1abc9c;
}

.radio-planned input[type="radio"]:checked + label::before {
    border-color: #1abc9c;
}

.radio-planned input[type="radio"]:checked + label::after {
    background-color: #1abc9c;
}

.radio-after-planned input[type="radio"] + label::after {
    background-color: #d26262;
}

.radio-after-planned input[type="radio"]:checked + label::before {
    border-color: #d26262;
}

.radio-after-planned input[type="radio"]:checked + label::after {
    background-color: #d26262;
}

.radio-before-planned input[type="radio"] + label::after {
    background-color: #4fc6e1;
}

.radio-before-planned input[type="radio"]:checked + label::before {
    border-color: #4fc6e1;
}

.radio-before-planned input[type="radio"]:checked + label::after {
    background-color: #4fc6e1;
}

.radio-additional input[type="radio"] + label::after {
    background-color: #ff0000;
}

.radio-additional input[type="radio"]:checked + label::before {
    border-color: #ff0000;
}

.radio-additional input[type="radio"]:checked + label::after {
    background-color: #ff0000;
}

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


