﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS - @ViewBag.Title</title>

    <!-- jQuery runtime minified -->
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/Template/assets/images/favicon.ico">

    <!-- Plugins css -->
    <link href="~/Content/Template/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Tables css -->
    <link href="~/Content/Template/assets/libs/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />


    <!-- App css -->
    <link href="~/Content/Template/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body class="authentication-bg authentication-bg-pattern">

    @*<div class="float-right">
            <div style="width:auto; background-color:aqua">
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Logout", "Logout", "Login")
                    <strong>@Html.Encode(User.Identity.Name)</strong>
                }
            </div>
        </div>*@
    <!-- Begin page -->
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-pattern">
                        <div class="card-body p-4">
                            @*@RenderSection("featured", required: false)*@
                            @RenderBody()
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p> <a href="@Url.Action("Index","RequestResetPassword")" class="text-white-50 ml-1">Request password reset</a></p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- Footer Start -->
    <footer class="footer footer-alt" style="color:#000000">
        2019 &copy; GPS developed by <a href="">LASL</a>
    </footer>
    <!-- end Footer -->
    <!-- Vendor js -->
    <script src="~/Content/Template/assets/js/vendor.min.js"></script>

    <!-- Bootstrap Tables js -->
    <script src="~/Content/Template/assets/libs/bootstrap-table/bootstrap-table.min.js"></script>

    <!-- Init js -->
    <script src="~/Content/Template/assets/js/pages/bootstrap-tables.init.js"></script>

    <!-- Plugins js-->
    <script src="~/Content/Template/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/Content/Template/assets/libs/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/Content/Template/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/Template/assets/libs/flot-charts/jquery.flot.js"></script>
    <script src="~/Content/Template/assets/libs/flot-charts/jquery.flot.time.js"></script>
    <script src="~/Content/Template/assets/libs/flot-charts/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/Template/assets/libs/flot-charts/jquery.flot.selection.js"></script>
    <script src="~/Content/Template/assets/libs/flot-charts/jquery.flot.crosshair.js"></script>

    <!-- Dashboar 1 init js-->
    <script src="~/Content/Template/assets/js/pages/dashboard-1.init.js"></script>

    <!-- App js-->
    <script src="~/Content/Template/assets/js/app.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</body>
</html>
