﻿@model SmartPlanner.BusinessLayer.DTOs.DashBoardDTO


<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="widget-rounded-circle card-box">
            <div class="row">
                <div class="col-6">
                    <div class="avatar-lg rounded-circle bg-soft-primary border-primary border">
                        <i class="fe-activity font-22 avatar-title text-primary"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <h3 class="text-dark mt-1"><span data-plugin="counterup">@Model.FactoryEfficiency</span>%</h3>
                        <p class="text-muted mb-1 text-truncate">Plant Efficiency</p>
                    </div>
                </div>
            </div> <!-- end row-->
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="widget-rounded-circle card-box">
            <div class="row">
                <div class="col-6">
                    <div class="avatar-lg rounded-circle bg-soft-success border-success border">
                        <i class="fe-shopping-cart font-22 avatar-title text-success"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <h3 class="text-dark mt-1"><span data-plugin="counterup">@Model.OnTimeDelivery</span>%</h3>
                        <p class="text-muted mb-1 text-truncate">Ontime Delivery</p>
                    </div>
                </div>
            </div> <!-- end row-->
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="widget-rounded-circle card-box">
            <div class="row">
                <div class="col-6">
                    <div class="avatar-lg rounded-circle bg-soft-info border-info border">
                        <i class="fe-bar-chart-line- font-22 avatar-title text-info"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <h3 class="text-dark mt-1"><span data-plugin="counterup">@Model.CutToShipRatio</span></h3>
                        <p class="text-muted mb-1 text-truncate">Cut To Ship Ratio</p>
                    </div>
                </div>
            </div> <!-- end row-->
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="widget-rounded-circle card-box">
            <div class="row">
                <div class="col-6">
                    <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                        <i class="fe-eye font-22 avatar-title text-warning"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <h3 class="text-dark mt-1"><span data-plugin="counterup">0.00</span></h3>
                        <p class="text-muted mb-1 text-truncate">Right In First Time</p>
                    </div>
                </div>
            </div> <!-- end row-->
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->
</div>
<!-- end row-->

<div class="row">

    <div class="col-xl-9">
        <div class="card-box">
            <h4 class="header-title mb-3">Plant Efficiency (Last 6 months)</h4>

            @*<div id="sales-analytics" class="flot-chart mt-4 pt-1" style="height: 375px;"></div>*@
            <div style="width:600px;height:350px">
                <canvas id="lineEfficiencyChart" width="600" height="350"></canvas>
            </div>
        </div> <!-- end card-box -->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="widget-rounded-circle card-box">
            <div class="row">
                <div class="col-6">
                    <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                        <i class="fe-eye font-22 avatar-title text-warning"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <h3 class="text-dark mt-1"><span data-plugin="counterup">0.00</span></h3>
                        <p class="text-muted mb-1 text-truncate">DHU</p>
                    </div>
                </div>
            </div> <!-- end row-->
        </div> <!-- end widget-rounded-circle-->

        <div class="widget-rounded-circle card-box">
            <div class="row">
                <div class="col-6">
                    <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                        <i class="fe-eye font-22 avatar-title text-warning"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <h3 class="text-dark mt-1"><span data-plugin="counterup">0.00</span></h3>
                        <p class="text-muted mb-1 text-truncate">Plan & Actual (T)</p>
                    </div>
                </div>
            </div> <!-- end row-->
        </div> <!-- end widget-rounded-circle-->
    </div> <!-- end col-->
</div>


<script type="text/javascript">
    $(function () {

        window.chartColors = {
            primary: 'rgb(52, 131, 255)',
            success: 'rgb(11, 195, 110)',
            warning: 'rgb(254, 193, 7)',
            danger: 'rgb(251, 150, 120)',
            secondary: 'rgb(102, 88, 221)',
            dark: 'rgb(85, 85, 85)',
            grey: 'rgb(201, 203, 207)',
            violet: 'rgb(102,0,204)',
            blue: 'rgb(0, 102, 255)',
            pink: 'rgb(246,114,167)',
            white: 'rgb(255,255,255)'
        };

        var color = Chart.helpers.color;

        var init_lineEfficiencyChart = function () {
            var config = {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Encode(Model.LineEfficiencyChartLabelPoint)),
                    datasets: [{
                        //label: 'Market',
                        data: @Html.Raw(Json.Encode(Model.LineEfficiencyChartData)),
                        backgroundColor: [window.chartColors.primary, window.chartColors.warning, window.chartColors.blue, window.chartColors.pink, window.chartColors.secondary, window.chartColors.success],
                        borderColor: [window.chartColors.dark, window.chartColors.dark, window.chartColors.dark, window.chartColors.dark, window.chartColors.dark, window.chartColors.dark]
                    }]
                },
                options: {
                    responsive: false,
                    maintainAspectRatio: true,
                    title: {
                        display: false,
                        //text: 'Chart.js Bar Chart - Stacked'

                    },
                    legend: {
                        display: false,
                         position: "bottom"
                    },
                    tooltips: {
                        enabled: false,
                        mode: 'index',
                        intersect: false
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                display: true,
                                beginAtZero: true
                            },
                              gridLines: {
                                display: false
                            },
                        }],
                        yAxes: [{
                            display: false,
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                display: true,
                                beginAtZero: true
                            },
                            drawBorder: true
                        }]
                    },
                    plugins: {
                        // Change options for ALL labels of THIS CHART
                        datalabels: {
                            display: true,
                            anchor: 'end',
                            align: 'start',
                            clamp: true,
                            display: 'auto',
                            color: 'white',
                            formatter: function (value, context) {
                                var chartValues =  @Html.Raw(Json.Encode(Model.LineEfficiencyChartData));
                                if (value > 0) {
                                    return chartValues[context.dataIndex] + "%" ;
                                }
                                else {
                                    return "";
                                }
                            }
                        }
                    }
                }
            };

            var ctx = document.getElementById('lineEfficiencyChart').getContext('2d');
            window.myLine = new Chart(ctx, config);
        }

       init_lineEfficiencyChart();
    });
</script>

