﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS - @ViewBag.Title</title>


    <!-- jQuery runtime minified -->
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/Template/assets/images/favicon.ico">

    <!-- Bootstrap Tables css -->
    <link href="~/Content/Template/assets/libs/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />


    <!-- Plugins css -->
    <link href="~/Content/Template/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/assets/libs/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Template/assets/libs/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/assets/libs/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/Template/assets/libs/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Template/assets/libs/dropify/dropify.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/Template/assets/libs/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />




    <!-- App css -->
    <link href="~/Content/Template/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Jquery Toast css -->
    <link href="~/Content/toastr.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Template/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Template/assets/css/app.min.css" rel="stylesheet" type="text/css" />



    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script>
    window.rootUrl = '@System.Configuration.ConfigurationManager.AppSettings["RootUrl"]';
    </script>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>



    @*<div class="float-right">
            <div style="width:auto; background-color:aqua">
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Logout", "Logout", "Login")
                    <strong>@Html.Encode(User.Identity.Name)</strong>
                }
            </div>
        </div>*@
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            @Html.Partial("_TopBar");
        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">
            <div class="slimscroll-menu">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    @Html.Partial("_LeftSideMenu");
                </div>
                <!-- End Sidebar -->
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                @RenderSection("featured", required: false)
                <div class="gps-loading"></div>
                @RenderBody()
            </div> <!-- content -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2019 &copy; GPS developed by <a href="https://www.leanacademysl.com" target="_blank"><img src="~/Images/lasl_logo.png" alt="" height="24"></a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript:void(0);">About Us</a>
                                <a href="javascript:void(0);">Help</a>
                                <a href="javascript:void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- Right Sidebar -->
    <div class="right-bar">
        <div class="rightbar-title">
            <a href="javascript:void(0);" class="right-bar-toggle float-right">
                <i class="dripicons-cross noti-icon"></i>
            </a>
            <h5 class="m-0 text-white">Settings</h5>
        </div>
        <div class="slimscroll-menu">
            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="~/Content/Template/assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                    <a href="javascript:void(0);" class="user-edit"><i class="mdi mdi-pencil"></i></a>
                </div>

                <h5><a href="javascript: void(0);">@Html.Encode(User.Identity.Name)</a> </h5>
                <p class="text-muted mb-0"><small>Admin Head</small></p>
            </div>

            <!-- Settings -->
            <hr class="mt-0" />
            <h5 class="pl-3">Basic Settings</h5>
            <hr class="mb-0" />

            <div class="p-3">
                <div class="checkbox checkbox-primary mb-2">
                    <input id="Rcheckbox1" type="checkbox" checked>
                    <label for="Rcheckbox1">
                        Notifications
                    </label>
                </div>
                <div class="checkbox checkbox-primary mb-2">
                    <input id="Rcheckbox2" type="checkbox" checked>
                    <label for="Rcheckbox2">
                        API Access
                    </label>
                </div>
                <div class="checkbox checkbox-primary mb-2">
                    <input id="Rcheckbox3" type="checkbox">
                    <label for="Rcheckbox3">
                        Auto Updates
                    </label>
                </div>
                <div class="checkbox checkbox-primary mb-2">
                    <input id="Rcheckbox4" type="checkbox" checked>
                    <label for="Rcheckbox4">
                        Online Status
                    </label>
                </div>
                <div class="checkbox checkbox-primary mb-0">
                    <input id="Rcheckbox5" type="checkbox" checked>
                    <label for="Rcheckbox5">
                        Auto Payout
                    </label>
                </div>
            </div>

            <!-- Timeline -->
            <hr class="mt-0" />
            <h5 class="pl-3 pr-3">Messages <span class="float-right badge badge-pill badge-danger">25</span></h5>
            <hr class="mb-0" />
            <div class="p-3">
                <div class="inbox-widget">
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="~/Content/Template/assets/images/users/user-2.jpg" class="rounded-circle" alt=""></div>
                        <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Tomaslau</a></p>
                        <p class="inbox-item-text">I've finished it! See you so...</p>
                    </div>
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="~/Content/Template/assets/images/users/user-3.jpg" class="rounded-circle" alt=""></div>
                        <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Stillnotdavid</a></p>
                        <p class="inbox-item-text">This theme is awesome!</p>
                    </div>
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="~/Content/Template/assets/images/users/user-4.jpg" class="rounded-circle" alt=""></div>
                        <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Kurafire</a></p>
                        <p class="inbox-item-text">Nice to meet you</p>
                    </div>

                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="~/Content/Template/assets/images/users/user-5.jpg" class="rounded-circle" alt=""></div>
                        <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Shahedk</a></p>
                        <p class="inbox-item-text">Hey! there I'm available...</p>
                    </div>
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="~/Content/Template/assets/images/users/user-6.jpg" class="rounded-circle" alt=""></div>
                        <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Adhamdannaway</a></p>
                        <p class="inbox-item-text">This theme is awesome!</p>
                    </div>
                </div> <!-- end inbox-widget -->
            </div> <!-- end .p-3-->

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <script type="text/javascript">

        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": 300,
                "hideDuration": 5000,
                "timeOut": 5000,
                "extendedTimeOut": 1000,
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        });
    </script>
    <!-- Vendor js -->
    <script src="~/Content/Template/assets/js/vendor.min.js"></script>

    <!-- Bootstrap Tables js -->
    <script src="~/Content/Template/assets/libs/bootstrap-table/bootstrap-table.min.js"></script>


    <!-- Plugins js-->
    <script src="~/Content/Template/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/Content/Template/assets/libs/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/Content/Template/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/Template/assets/libs/flot-charts/jquery.flot.js"></script>
    <script src="~/Content/Template/assets/libs/flot-charts/jquery.flot.time.js"></script>
    <script src="~/Content/Template/assets/libs/flot-charts/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/Template/assets/libs/flot-charts/jquery.flot.selection.js"></script>
    <script src="~/Content/Template/assets/libs/flot-charts/jquery.flot.crosshair.js"></script>

    <script src="~/Content/Template/assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="~/Content/Template/assets/libs/clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="~/Content/Template/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Content/Template/assets/libs/jquery-nice-select/jquery.nice-select.min.js"></script>
    <script src="~/Content/Template/assets/libs/switchery/switchery.min.js"></script>
    <script src="~/Content/Template/assets/libs/multiselect/jquery.multi-select.js"></script>
    <script src="~/Content/Template/assets/libs/select2/select2.min.js"></script>
    @*<script src="~/Content/Template/assets/libs/jquery-mockjax/jquery.mockjax.min.js"></script>*@
    <script src="~/Content/Template/assets/libs/autocomplete/jquery.autocomplete.min.js"></script>
    @*<script src="~/Content/Template/assets/libs/dropzone/dropzone.min.js"></script>
        <script src="~/Content/Template/assets/libs/dropify/dropify.min.js"></script>*@


    <script src="~/Scripts/chartjs/Chart.min.js"></script>
    <script src="~/Scripts/chartjs/chartjs-plugin-datalabels.min.js"></script>

    <!-- Tost-->
    <script src="~/Scripts/toastr.min.js"></script>


    <script src="~/Content/Template/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/Template/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/Template/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

    <script src="~/Content/Template/assets/libs/moment/moment.min.js"></script>
    <script src="~/Content/Template/assets/libs/fullcalendar/fullcalendar.min.js"></script>



    <!-- Init js-->
    <script src="~/Content/Template/assets/js/pages/dashboard-1.init.js"></script>
    <script src="~/Content/Template/assets/js/pages/bootstrap-tables.init.js"></script>
    <script src="~/Content/Template/assets/js/pages/form-wizard.init.js"></script>
    <script src="~/Content/Template/assets/js/pages/form-pickers.init.js"></script>
    <script src="~/Content/Template/assets/js/pages/form-advanced.init.js"></script>
    @*<script src="~/Content/Template/assets/js/pages/form-fileuploads.init.js"></script>*@

    <script src="~/Content/Template/assets/libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>

    <script src="~/Content/Template/assets/js/pages/calendar.init.js"></script>
    <!-- toastr init js-->
    <script src="~/Content/Template/assets/js/pages/toastr.init.js"></script>

    @*<script src="~/Content/Template/assets/js/pages/calendar.init.js"></script>*@

    <!-- App js-->
    <script src="~/Content/Template/assets/js/app.min.js"></script>

    <!-- Site custom js-->
    <script src="~/Scripts/index.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @*@Scripts.Render("~/bundles/Script-calendar")*@
    @RenderSection("scripts", false)

</body>
</html>
