﻿@using SmartPlanner.BusinessLayer.Common

<ul class="metismenu" id="side-menu">

    <li class="menu-title">Main Navigation</li>

    @*test commits*@
    <li>
        <a href="@Url.Action("Index", "Home")"><i class="fe-airplay"></i><span> Dashboards </span></a>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i class="fe-list"></i>
            <span>To Do List </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="@Url.Action("Index", "TnaNotifications")">My Pending Tasks</a>
            </li>

        </ul>
    </li>

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.UserLevelManagement).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-users"></i>
                <span>Users </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">

                @if (Helper.GetAccessType(Enums.EnumAccessModules.UserLevelManagement).Equals(Enums.UserAccessType.ReadWrite))
                {
                    <li>
                        <a href="@Url.Action("Detail", "UserLevels", new { id = "" })">New User Level</a>
                    </li>

                    @*The following item should be hidden and is used just for to keep the left side menu opened in the same section*@
                    <li style="display: none">
                        <a href="@Url.Action("Detail", "UserLevels")">Edit User Level</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Roles")">Manage User Roles</a>
                    </li>

                }
                <li>
                    <a href="@Url.Action("Index", "UserLevels")">Manage User Levels</a>
                </li>

                @if (Helper.GetAccessType(Enums.EnumAccessModules.UserLevelManagement).Equals(Enums.UserAccessType.ReadWrite))
                {
                    <li>
                        <a href="@Url.Action("Detail", "Users", new { id = "" })">New User</a>
                    </li>
                    @*The following item should be hidden and is used just for to keep the left side menu opened in the same section*@
                    <li style="display: none">
                        <a href="@Url.Action("Detail", "Users")">Edit User</a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("Index", "Users")">Manage Users</a>
                </li>
            </ul>
        </li>
    }

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.SystemConfiguration).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-settings"></i>
                <span>System Defaults </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Detail", "Company")">Company Default Details</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Factories")">Factory Details</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.EmblishmentPlant })">Emblishment Plant Details</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "LineModules")">Line Modules</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "TnADefaults")">Time and Action Defaults</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.PlanningSeason })">Planning Season Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.DestinationMedia })">Destination Media Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.Destination })">Destination Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.BuyGroup })">Buy Group Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.Vendor })">Vendor Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.Division })">Division Details</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.ProductType })">Product Type Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.ProductGroup })">Product Group Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.ProductCategory })">Product Category Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.Location })">Location Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.Method })">Method Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.POType })">PO Type Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.Appearance })">Appearance Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.FabricType })">Fabric Type Details</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.TimeTable })">Time Table Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.DeliverTo })">Deliver To Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.DistributeFrom })">Distribute From Details</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.WashingPlant })">Washing Plant Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.PrintingPlant })">Printing Plant Details</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.PriceType })">Price Type Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.SewingPlant })">Sewing Plant Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.Category })">Category Details</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "SubCategories")">Sub Category Details</a>
                </li>



            </ul>
        </li>
    }

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.OrderManagement).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-shopping-cart"></i>
                <span>Orders </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                @if (Helper.GetAccessType(Enums.EnumAccessModules.OrderInquiryManagement).Equals(Enums.UserAccessType.ReadWrite))
                {
                    <li>
                        <a href="@Url.Action("Detail", "OrderInquiries", new { id = "" })">New Order Inquiry</a>
                    </li>
                    @*The following item should be hidden and is used just for to keep the left side menu opened in the same section*@
                    <li style="display: none">
                        <a href="@Url.Action("Detail", "OrderInquiries")">Edit Order Inquiry</a>
                    </li>
                }

                @if (!Helper.GetAccessType(Enums.EnumAccessModules.OrderInquiryManagement).Equals(Enums.UserAccessType.NoAccess))
                {
                    <li>
                        <a href="@Url.Action("Index", "OrderInquiries")">Manage Order Inquiries</a>
                    </li>
                }

                <li>
                    <a href="@Url.Action("Index", "OrderDetails")">Manage Orders</a>
                </li>
            </ul>
        </li>
    }

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.SizeColorManagement).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-scissors"></i>
                <span>Size/ Color Management </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.Size })">Size Details</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.Colors })">Color Details</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Buyers")">Buyers</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Customers")">Customers</a>
                </li>
            </ul>
        </li>
    }

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.TnAManagement).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-clock"></i>
                <span>TnA Management </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("TnaIndex", "OrderDetails", new { type = 2 })">Manage TnA for Orders</a>
                </li>
            </ul>
        </li>
    }

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.OrderManagementCut).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-scissors"></i>
                <span>Cutting Output Management </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("CutIndex", "OrderDetails", new { type = 2 })">Manage Cutting Output</a>
                </li>
            </ul>
        </li>
    }

    @if (Helper.GetAccessType(Enums.EnumAccessModules.SMVManagement).Equals(Enums.UserAccessType.ReadWrite) || Helper.GetAccessType(Enums.EnumAccessModules.SMVManagementIE).Equals(Enums.UserAccessType.ReadWrite))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-crop"></i>
                <span>Styles </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index", "StyleDetails")">Manage Styles</a>
                </li>

            </ul>
        </li>
    }

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.FeatureOperationManagement).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-scissors"></i>
                <span>Feature/ Operation Management </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.Product })">Product Details</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ConfigValues", new { id = (int)Enums.EnumConfigurationTables.FeatureList })">Feature List</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Operations")">Operation Details</a>
                </li>
            </ul>
        </li>
    }

    @if (Helper.GetAccessType(Enums.EnumAccessModules.SMVManagement).Equals(Enums.UserAccessType.ReadWrite) || Helper.GetAccessType(Enums.EnumAccessModules.SMVManagementIE).Equals(Enums.UserAccessType.ReadWrite))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-home"></i>
                <span>SMV Bank </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index", "SMVBank")">Change Over</a>
                </li>

                <li>
                    <a href="@Url.Action("Detail", "StyleDetails", new { id = "" })">SMV New Inquiry</a>
                </li>

                <li>
                    <a href="@Url.Action("Inquiry", "SMVBank")">Manage Inquiries</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "StyleDetails")">Manage SMV Bank</a>
                </li>
            </ul>
        </li>
    }

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.CalendarManagement).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-calendar"></i>
                <span>Calendar </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index", "Calendar")">Company Holidays</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "LineCalendar")">Lines Modules Holidays</a>
                </li>
            </ul>
        </li>
    }

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.PlanningManagement).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-layers"></i>
                <span>Planning </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index", "Board")">Planning Board</a>
                </li>
                <li>
                    <a href="@Url.Action("Search", "Board")">Search Planning Board</a>
                </li>
            </ul>
        </li>
    }

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.DailyOutput).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-gift"></i>
                <span>Daily Outputs </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                @if (Helper.GetAccessType(Enums.EnumAccessModules.DailyOutput).Equals(Enums.UserAccessType.ReadWrite))
                {
                    <li>
                        <a href="@Url.Action("Detail", "Productivity", new { id = "" })">Add Daily Output</a>
                    </li>
                    @*The following item should be hidden and is used just for to keep the left side menu opened in the same section*@
                    <li style="display: none">
                        <a href="@Url.Action("Detail", "Productivity")">Edit Daily Output</a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("Index", "Productivity")">Manage Daily Output</a>
                </li>
            </ul>
        </li>
    }

    @if (!Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.NoAccess))
    {
        <li>
            <a href="javascript: void(0);">
                <i class="fe-printer"></i>
                <span>Reports </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="@Url.Action("Index", "Report")">View Reports</a>
                </li>

            </ul>
        </li>
    }
</ul>