﻿@model SmartPlanner.BusinessLayer.DTOs.OrderAndStyleHistoryDTO


@if (Model.OrderHistory.Count() > 0)
{


    <div class="form-row" style="height:100%">
        <div class="form-group  col-md-6">

            <h5>Order History</h5>

            <table id="PlanOrderHistory" class="table-bordered table">
                <thead class="thead-light">
                    <tr>
                        <th data-field="changedon" data-sortable="true">@Html.DisplayNameFor(model => model.OrderHistory.FirstOrDefault().ChangedOnString) </th>
                        <th data-field="changedby" data-sortable="true">@Html.DisplayNameFor(model => model.OrderHistory.FirstOrDefault().ChangedBy) </th>
                        <th data-field="fromline" data-sortable="true">@Html.DisplayNameFor(model => model.OrderHistory.FirstOrDefault().FromLine) </th>
                        <th data-field="toline" data-sortable="true">@Html.DisplayNameFor(model => model.OrderHistory.FirstOrDefault().ToLine) </th>
                        <th data-field="fromdate" data-sortable="true">@Html.DisplayNameFor(model => model.OrderHistory.FirstOrDefault().FromDateString) </th>
                        <th data-field="todate" data-sortable="true">@Html.DisplayNameFor(model => model.OrderHistory.FirstOrDefault().ToDateString) </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.OrderHistory)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ChangedOnString)</td>
                            <td>@Html.DisplayFor(modelItem => item.ChangedBy)</td>
                            <td>@Html.DisplayFor(modelItem => item.FromLine)</td>
                            <td>@Html.DisplayFor(modelItem => item.ToLine)</td>
                            <td>@Html.DisplayFor(modelItem => item.FromDateString)</td>
                            <td>@Html.DisplayFor(modelItem => item.ToDateString)</td>

                        </tr>
                    }
                </tbody>


            </table>

        </div>
    </div>

}

@if (Model.StyleHistory.Count() > 0)
{
    <div class="form-row" style="height:100%">
        <div class="form-group  col-md-6">

            <h5>Style History</h5>
            <table id="PlanStyleHistory" class="table-bordered table">
                <thead class="thead-light">
                    <tr>
                        <th data-field="changedon" data-sortable="true">@Html.DisplayNameFor(model => model.StyleHistory.FirstOrDefault().SalesOrderNumber) </th>
                        <th data-field="changedby" data-sortable="true">@Html.DisplayNameFor(model => model.StyleHistory.FirstOrDefault().ModuleNumber) </th>
                        <th data-field="fromline" data-sortable="true">@Html.DisplayNameFor(model => model.StyleHistory.FirstOrDefault().WorkingDateString) </th>
                        <th data-field="toline" data-sortable="true">@Html.DisplayNameFor(model => model.StyleHistory.FirstOrDefault().ProducedQty) </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.StyleHistory)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.SalesOrderNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.ModuleNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.WorkingDateString)</td>
                            <td>@Html.DisplayFor(modelItem => item.ProducedQty)</td>

                        </tr>
                    }
                </tbody>


            </table>
            
        </div>
    </div>
}
