﻿@model SmartPlanner.BusinessLayer.StyleProduct

<div class="form-row">
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.StyleDetail.StyleNumber, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.StyleDetail.StyleNumber, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.StyleDetail.BuyerId, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.StyleDetail.Buyer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.StyleDetail.CustomerId, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.StyleDetail.Customer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.StyleDetail.FabricTypeId, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.StyleDetail.FabricType.ConfigValue, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.StyleDetail.ColorCode, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.StyleDetail.ColorCode, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.CostSMV, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.CostSMV, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.ProductionSMV, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.ProductionSMV, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.StyleDetail.TotalSMV, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.StyleDetail.TotalSMV, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.StyleDetail.BaseStyle, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.StyleDetail.BaseStyle, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.Product.ConfigValue, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.Category.ConfigValue, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.SubCategoryId, htmlAttributes: new { @class = "col-form-label d-block" })
        @Html.DisplayFor(model => model.SubCategory.SubCategoryName, new { @class = "form-control" })
    </div>


        <div class="form-group col-md-12">
            <h5>Features List</h5>

            <table id="WebGridFeature" class="table-bordered table">
                <thead class="thead-light">
                    <tr>
                        <th data-field="featurename" data-sortable="true">@Html.DisplayNameFor(model => model.FeatureId) </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.FeatureList.Count > 0)
                    {
                        foreach (var item in Model.FeatureList)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Feature.ConfigValue) </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>No features added.</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <div class="form-group col-md-12">
            <h5>Operations Breakdown</h5>

            <table id="WebGridOperation" class="table-bordered table">
                <thead class="thead-light">
                    <tr>
                        <th data-field="operationname" data-sortable="true">@Html.DisplayNameFor(model => model.OperationId) </th>
                        <th data-field="smv" data-sortable="true">SMV Value </th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.OperationBreakdowns.Count > 0)
                    {
                        foreach (var item in Model.OperationBreakdowns)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Operation.OperationName) </td>
                                <td>@Html.DisplayFor(modelItem => item.SMV) </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>No operation added.</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


</div>
