﻿@model IEnumerable<SmartPlanner.BusinessLayer.TnADetailsDTO>


@*<table id="PlanOrderHistory" class="table-bordered table">*@


<table id="demo-custom-toolbar" data-toggle="table"
       data-toolbar="#demo-delete-row"
        data-search="true"
        data-show-refresh="true"
        data-show-columns="false"
        data-sort-name="startdatestring"
        data-page-list="[5, 10, 20]"
        data-page-size="10"
        data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">

    <thead class="thead-light">
        <tr>
            <th data-field="startdatestring" data-sortable="true">@Html.DisplayNameFor(model => model.StartDateString) </th>
            <th data-field="keyprocess" data-sortable="true">@Html.DisplayNameFor(model => model.KeyProcess) </th>
            <th data-field="factory" data-sortable="true">@Html.DisplayNameFor(model => model.FactoryName) </th>
            <th data-field="buyer" data-sortable="true">@Html.DisplayNameFor(model => model.BuyerName) </th>
            <th data-field="customer" data-sortable="true">@Html.DisplayNameFor(model => model.CustomerName) </th>
            <th data-field="style" data-sortable="true">@Html.DisplayNameFor(model => model.StyleNumber) </th>
            <th data-field="productname" data-sortable="true">@Html.DisplayNameFor(model => model.ProductName) </th>
            <th data-field="customerpo" data-sortable="true">@Html.DisplayNameFor(model => model.CustomerPONumber) </th>
            <th data-field="salesordernumber" data-sortable="true">@Html.DisplayNameFor(model => model.SalesOrderNumber) </th>
            <th data-field="orderqty" data-sortable="true">@Html.DisplayNameFor(model => model.OrderQty) </th>
            <th data-field="repeat" data-sortable="true">@Html.DisplayNameFor(model => model.Repeat) </th>
            @*
        <th data-field="duration" data-sortable="true">@Html.DisplayNameFor(model => model.Duration) </th>
        <th data-field="holidays" data-sortable="true">@Html.DisplayNameFor(model => model.Holidays) </th>
        <th data-field="enddatestring" data-sortable="true">@Html.DisplayNameFor(model => model.EndDateString) </th>*@
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.StartDateString)
            <td>@Html.DisplayFor(modelItem => item.KeyProcess) </td>
            <td>@Html.DisplayFor(modelItem => item.FactoryName) </td>
            <td>@Html.DisplayFor(modelItem => item.BuyerName) </td>
            <td>@Html.DisplayFor(modelItem => item.CustomerName) </td>
            <td>@Html.DisplayFor(modelItem => item.StyleNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
            <td>@Html.DisplayFor(modelItem => item.CustomerPONumber)</td>
            <td>@Html.DisplayFor(modelItem => item.SalesOrderNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.OrderQty)</td>
            <td>@Html.DisplayFor(modelItem => item.Repeat)</td>
            @*</td>
        <td>@Html.DisplayFor(modelItem => item.Duration)</td>
        <td>@Html.DisplayFor(modelItem => item.Holidays)</td>
        <td>@Html.DisplayFor(modelItem => item.EndDateString)</td>*@
            <td>
                <a href="@Url.Action("PlanningCalendar", "OrderDetails", new { id = item.Id,orderId= item.OrderDetailsId,tnaId=item.TnADefaultId,productId=item.ProductId,isTna=2 })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>

<script src="~/Content/Template/assets/js/pages/bootstrap-tables.init.js"></script>

<script type="text/javascript">
    $('#demo-custom-toolbar').bootstrapTable();
    $('[data-toggle="table"]').show();
</script>