﻿
@model SmartPlanner.BusinessLayer.DTOs.TimeBoardDTO

@{
    WebGrid grid = new WebGrid(Model.LineModules, canSort: false, canPage: false);
    WebGrid hgrid = new WebGrid(Model.HLineModules, canSort: false, canPage: false);
    //WebGrid grdOrderHistory = new WebGrid(Model.OrderHistory, canSort: false, canPage: false);
    //WebGrid grdStyleHistory = new WebGrid(Model.StyleHistory, canSort: false, canPage: false);
}

<style>
    #gallery-one {
        min-height: 100px;
    }

    .AfterPlanned {
        background-color: #d26262 !important;
    }

    .placed {
        z-index: 1 !important;
        display: inline-block;
        vertical-align: text-top;
        padding-top: 2px !important;
        font-size: 9px;
        text-align: center;
        margin-top: 1px;
        padding-left: 0.5px;
    }

    .holiday {
        background-color: darkgray !important;
    }

    .actual {
        background-color: darkorange !important;
    }

    .FirstColumn {
        width: 130px !important;
    }

    .DateColumns {
        width: 100px !important;
    }


    .bg-success {
        border-color: blue;
        border-style: ridge;
        height: 20px !important;
        text-align: left;
        /*display: inline-block;*/
        vertical-align: text-top;
        padding-top: 0px !important;
        font-size: 12px;
        overflow: hidden;
        padding-bottom: 15px;
        border-width: thin;
    }

    .TempPlaced {
        background-color: red !important;
    }

    table .ui-droppable {
        height: 45px !important;
    }

    .HasChanged {
        background-color: #4fc6e1 !important;
    }

    .Overlap {
        background-color: #f7b84b !important;
    }

    .dropping {
        float: left;
        width: 270px;
        height: 30px;
        border: solid 1px #BBBBBB;
        margin: 0px 0px 0px 50px;
        overflow: hidden;
        background-color: #CED5DB;
    }

    .additional {
        background-color: #f34242 !important;
        border-left: none;
    }

    #StyleId, #ProductId {
        width: 5% !important;
    }
</style>

@using (Html.BeginForm())
{
    List<WebGridColumn> cols = new List<WebGridColumn>();
    cols.Add(grid.Column("ModuleNumberBoard", "Module Number", style: "FirstColumn"));

    List<WebGridColumn> hcols = new List<WebGridColumn>();
    hcols.Add(hgrid.Column("ModuleNumberBoard", "Module Number", style: "FirstColumn"));

    //cols.Add(grid.Column("ModuleNumberBoard", "Module Number",
    //    format: item => Html.Raw("<input type='text' name='txtModule' value='" + item.ModuleNumberBoard + "' /> <input type='hidden' name='hdnModule' value='" + item.ModuleNumberBoard + "' />"), style: "FirstColumn"));

    <div id="main-board" class="form-group col-lg-12">

        @if (Model.LineModules != null && Model.LineModules.Any())
        {
            @Html.Hidden("hdnColumnCount", Model.LineModules.First().GridColumns.Count + 1)

            var lineModule = Model.LineModules.FirstOrDefault();

            for (int i = 0; i < Model.LineModules.First().GridColumns.Count; i++)
            {
                var holidayCss = "";

                //if (lineModule.HolidayColumns.Exists(x => x == i))
                //{
                //    holidayCss = "holiday";
                //}

                cols.Add(grid.Column(Model.LineModules.First().GridColumns[i], Model.LineModules.First().GridColumns[i],
                format: item => Html.Raw("<input type='hidden' name='hdnId' value='" + item.Id + "' />"), style: "DateColumns " + holidayCss
                ));

                hcols.Add(hgrid.Column(Model.LineModules.First().GridColumns[i], Model.LineModules.First().GridColumns[i],
                format: item => Html.Raw("<input type='hidden' name='hhdnId' value='" + item.Id + "' />"), style: "DateColumns " + holidayCss
                ));
            }

            <div id="grd">

                @grid.GetHtml(
                    htmlAttributes: new { @id = "planning-board-grid", @class = "Grid" },
                    tableStyle: "table-bordered table",
                    columns: cols)

            </div>

            <div id="hgrd">

                @hgrid.GetHtml(
                    htmlAttributes: new { @id = "hplanning-board-grid", @class = "Grid" },
                    tableStyle: "table-bordered table",
                    columns: hcols)

                <div class="form-group">
                    <div class="radio radio-planned form-check-inline">
                        <input type="radio" name="radio31" id="radio51" value="option1" checked>
                        <label for="radio51">
                            TNA date equals to planned date
                        </label>
                    </div>
                    <div class="radio radio-before-planned form-check-inline">
                        <input type="radio" name="radio41" id="radio61" value="option2" checked>
                        <label for="radio61">
                            Planned date before the TnA Date
                        </label>
                    </div>
                    <div class="radio radio-after-planned form-check-inline">
                        <input type="radio" name="radio51" id="radio71" value="option3" checked>
                        <label for="radio71">
                            Planned date after the TnA date
                        </label>
                    </div>
                    <div class="radio radio-additional form-check-inline">
                        <input type="radio" name="radio61" id="radio81" value="option4" checked>
                        <label for="radio81">
                            Additional dates due to inefficiency
                        </label>
                    </div>
                </div>

            </div>

        }

        @*<div class="form-row">*@

        @*<div class="form-group col-md-3">*@
        @*@Html.Label("Style Number")

        @Html.DropDownListFor(model => model.StyleId, new SelectList(Model.StyleNumbers, "Id", "Name"), "Select One..", htmlAttributes: new { @class = "form-control" })

        <br />*@

        @*@Html.Label("Product")

        @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.Products, "Id", "Name"), "Select One..", htmlAttributes: new { @class = "form-control" })*@



        @*</div>
            <div class="form-group col-md-9">

            </div>*@

        @*</div>*@

        <div id="gallery-one" class="col-lg-12 gallery_one"></div>
        <div id="divOrderHistory" class="col-lg-12">

        </div>

    </div>

    <input type='hidden' name='ClickedOrderId' id="ClickedOrderId" value='0' />
    <input type='hidden' name='ClickedProductId' id="ClickedProductId" value='0' />

}

<!-- Add Learning Curve MODAL -->
<div class="modal fade" id="manage-learning-curve" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pr-4 pl-4 border-bottom-0 d-block">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Set First Day Efficiency</h4>
            </div>
            <div class="modal-body pt-3 pr-4 pl-4">
                <div class="radio form-check-inline">
                    <input type="radio" id="learning_30" value="30" name="radio_learning" checked>
                    <label for="learning_30"> 30% </label>
                </div>
                <div class="radio form-check-inline">
                    <input type="radio" id="learning_50" value="50" name="radio_learning">
                    <label for="learning_50"> 50% </label>
                </div>
                <div class="radio form-check-inline">
                    <input type="radio" id="learning_line" value="0" name="radio_learning">
                    <label for="learning_line"> Line Efficiency </label>
                </div>
            </div>
            <div class="text-right pb-4 pr-4">
                <button type="button" class="btn btn-light" data-dismiss="modal" id="btnCloseLearningCurve">Close</button>
                <button type="button" class="btn btn-success" id="btnManageLearningCurve">Update</button>
            </div>
        </div> <!-- end modal-content-->
    </div> <!-- end modal dialog-->
</div>
<!-- end modal-->


<script type="text/javascript">

    $(document).on('click', '.canview', function () {
        var styleId = $(this).find("input[id='hdnStyleId']").val();
        var productId = $(this).find("input[id='hdnProductId']").val();
        var orderId = $(this).find("input[id='hdnOrdId']").val();

        $.ajax({
            type: "GET",
            url: window.rootUrl + '/Board/GetOrderHistory?orderId=' + orderId + '&styleId='+styleId + '&productId='+productId,
            cache: false,
            success: function (result) {
                $('#divOrderHistory').html(result);
            }
        });

    });

    $(document).on('click', '.loaded', function () {
        //var styleProductId1 = $(this).find("input[id='hdnStyleProduct']").val();

        var clickedOrderId = $(this).find("input[id='hdnOrdId']").val();
        $('#ClickedOrderId').val(clickedOrderId);

        var clickedProductId = $(this).find("input[id='hdnProductId']").val();
        $('#ClickedProductId').val(clickedProductId);

        var styleProductId = $(this).find("input[id='hdnStyleProduct']").val()

        if (styleProductId === undefined || styleProductId < 1)
            return;

        $.ajax({
            type: "GET",
            url: window.rootUrl + '/Board/GetChangeOver?factoryId=' + $("#FactoryNameId").val() + '&styleProductId=' + styleProductId ,
            cache: false,
            success: function (result) {
                if (result.length === 0)
                    return;
                var count =0
                $("#planning-board-grid tbody tr").each(function (i, row) {
                    var $actualRow = $(row);
                    //var current = $actualRow.children("td:eq(0)").html();
                    $actualRow.children("td:eq(0)").html(result[count].Name);
                    count++;
                });
            }
        });

    });

    $(document).ready(function () {

        $("#ProductId").change(function (event) {
            loadOrders();
        });

        $("#StyleId").change(function (event) {
            loadProducts();
            $("#gallery-one").html('');
        });

        loadOrders(1);
       // loadPlacedOrders();

        var gridColCount = $('#hdnColumnCount').val();
        var gridWidth = ((40 * gridColCount)+100)+"px";

        document.getElementById("main-board").style.width = gridWidth;

        function galleryDragAndDrop(mainContainer, containerOne, containerTwo, dragItem) {
            $(dragItem).draggable(
                {

                    revert: "invalid",
                    containment: mainContainer,
                    helper: "clone",
                    cursor: "move",

                    drag: function (event, ui) {
                        //event.dataTransfer.setData("text", event.target.id);
                        $(ui.helper.prevObject).addClass("box_current");

                    },
                    stop: function (event, ui) {
                        $(ui.helper.prevObject).removeClass("box_current");
                        //alert($(ui.draggable).position().left);
                    }
                });

            $(containerTwo).droppable({

                accept: dragItem,
                activeClass: "ui-state-highlight",
                drop: function (event, ui) {

                    var placedOrder = {
                        LineModuleId: $(containerTwo).find("input[name='hdnId']").val(),
                        OrderDetailId: ui.draggable.find("input[id='hdnOrdId']").val(),
                        Duration: ui.draggable.find("input[id='hdnDuration']").val(),
                        ProductId: ui.draggable.find("input[id='hdnProductId']").val(),
                        StartedFrom: $('#FromDate').val(),
                        FactoryId: $("#FactoryNameId").val(),
                        EndDate: $('#ToDate').val(),
                        LeftPosition: $(ui.helper).position().left
                    }
                    $.ajax({
                        url: window.rootUrl + '/Board/SaveBoard',
                        type: 'POST',
                        data: JSON.stringify(placedOrder),
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        success: function (data) {

                            if (data.isSuccess === false)
                                return;
                            acceptBoxIngalleryTwo(data.savedOrder, ui.draggable);
                            //acceptBoxIngalleryTwo(ui.draggable, data.colCount, data.startColumn, data.isTemp);
                            // window.location.reload(false);
                            //loadBoard();
                            //loadOrders();
                            //loadPlacedOrders();
                        }
                    });

                }

            });

            $(containerOne).droppable({
                accept: dragItem,
                activeClass: "ui-state-highlight",
                //helper: "clone",
                drop: function (event, ui) {
                    //acceptBoxIngalleryOne(ui.draggable);
                    var placedId = ui.draggable.find("input[id='hdnPlacedId']").val()

                    $.ajax({
                        url: window.rootUrl + '/Board/DeletePlacedOrder?id=' + placedId,
                        type: 'POST',
                        cache: false,
                        success: function (data) {
                            ui.draggable.remove();
                            //loadBoard();
                           // loadPlacedOrders();
                            loadOrders(0);
                        }
                    });
                }
            });


            function acceptBoxIngalleryTwo(placedOrder,itm) {

                var actualRow;
                $("#planning-board-grid tbody tr").each(function (i, row) {
                    if (placedOrder.LineModuleId === parseInt($(row).find("input[name='hdnId']").val())) {
                        actualRow = row;
                    }
                });

                var isStarted = placedOrder.ActualStartDate != null;

                var existing = $("#" + placedOrder.OrderDetailId);
                if (existing != undefined)
                    $(existing).remove();

                //var item = $("<div id =" + placedOrder.OrderDetailId + " style = 'width:100px' class= 'external-event bg-success ui-draggable ui-draggable-handle' > " + placedOrder.StyleNumber + ", Duration:" + placedOrder.Duration + ", Holidays:" + placedOrder.Holidays + " <input type = 'hidden' id = 'hdnDuration' value = " + placedOrder.Duration + " /> <input type='hidden' id='hdnHolidays' value=" + placedOrder.Holidays + " /> <input type='hidden' id='hdnStarted' value=" + isStarted + " /> </div>");
                var title = 'Order: ' + placedOrder.SalesOrderNumber + '\nStyle: ' + placedOrder.StyleNumber + '\nProduct: ' + placedOrder.ProductName + '\nFrom: ' + placedOrder.PlannedStartString + ' to ' + placedOrder.PlannedEndString + '\nDuration: ' + placedOrder.Duration + '\nOrder Qty: ' + placedOrder.OrderQty + '\nCustomer PO: ' + placedOrder.CustomerPONumber + '\nProduction SMV: ' + placedOrder.ProductionSMV + '\nShipment Date: ' + placedOrder.ShipmentDateString + '\nLearning Curve: ' + placedOrder.PlanEfficiency;
                var item = $("<div id = " + placedOrder.OrderDetailId + "_" + placedOrder.ProductId + " style = 'width:100px' class= 'external-event bg-success ui-draggable ui-draggable-handle placed canview' title='" + title + "' > " + placedOrder.StyleNumber + " - " + placedOrder.ProductName + " - " + placedOrder.PlannedStartString + " <input type = 'hidden' id = 'hdnOrdId' value = " + placedOrder.OrderDetailId + " /> <input type = 'hidden' id = 'hdnProductId' value = " + placedOrder.ProductId + " /> <input type = 'hidden' id = 'hdnDuration' value = " + placedOrder.Duration + " /> <input type='hidden' id='hdnHolidays' value=" + placedOrder.Holidays + " /> <input type='hidden' id='hdnStarted' value=" + isStarted + " /> <input type='hidden' id='hdnStyleId' value=" + placedOrder.StyleId + " /> <input type='hidden' id='hdnPlacedId' value=" + placedOrder.Id + " />  </div>");

                if (isStarted)
                    item.removeClass("ui-draggable");

                if (placedOrder.IsAfterPlanned == true)
                    item.addClass("AfterPlanned");
                else if (placedOrder.HasChanged === true) {
                    if (placedOrder.ChangedColor === '')
                        item.addClass("HasChanged");
                    else
                        item.attr("style", "background-color:" + placedOrder.ChangedColor + " !important");
                }
                else {
                    if (placedOrder.PlannedColor != '')
                        item.attr("style", "background-color:" + placedOrder.PlannedColor + " !important");
                }

                //$(containerOne).remove(itm);
                //$("#grd").remove(itm);

               // itm.remove();

                $("#" + placedOrder.OrderDetailId + "_" + placedOrder.ProductId).remove();

                $("#grd").append(item);

                var col1 = $("td:eq(" + placedOrder.StartColumn + ")");
                var colEnd = $("td:eq(" + placedOrder.ColumnCount + ")");

                var startPosition = col1.position().left + 6
                var totWidth = colEnd.position().left - col1.position().left;

                if (placedOrder.StartInHalfDay === true) {
                    startPosition = startPosition + 20;
                    totWidth = totWidth - 20;
                }


                if (placedOrder.EndInHalfDay === true)
                    totWidth = totWidth - 20;

                var topPos = $(actualRow).position().top;// - $("#gallery-one").position().top + 10;
                item.css({ left: startPosition, position: 'absolute', top: topPos, width: totWidth});

                galleryDragAndDrop("#test-container", "#gallery-one", "." + placedOrder.LineModuleId, ".ui-draggable");
            }

            function acceptBoxIngalleryOne(item) {
                $(item).fadeOut(function () {
                    $(item).remove();
                    //$(containerTwo).remove(item);
                    //$(containerOne).append(item);
                });

                //$(item).fadeIn();
                //$(item).removeClass("box_current");
            }
        }

        function loadPlacedOrders() {

            var from = $('#FromDate').val();
            var to = $('#ToDate').val();
            var id = $("#FactoryNameId").val();

            if (from === '' || to === '' || id < 1)
                return;
            $.ajax({
                url: window.rootUrl + '/Board/LoadPlacedOrders/?from=' + from + '&to=' + to + '&factoryId=' + id,
                type: 'GET',
                cache: false,
                dataType: 'json',
                success: function (result) {
                    //var placedOrders = result.orders;
                    for (var i = 0; i < result.length; i++) {
                        var placedOrder = result[i];

                        var actualRow;
                        $("#planning-board-grid tbody tr").each(function (i, row) {
                            if (placedOrder.LineModuleId === parseInt($(row).find("input[name='hdnId']").val())) {
                                actualRow = row;
                            }
                        });

                        var isStarted = placedOrder.ActualStartDate != null;

                        var existing = $("#" + placedOrder.OrderDetailId);
                        if (existing != undefined)
                            $(existing).remove();

                        //var item = $("<div id =" + placedOrder.OrderDetailId + " style = 'width:100px' class= 'external-event bg-success ui-draggable ui-draggable-handle' > " + placedOrder.StyleNumber + ", Duration:" + placedOrder.Duration + ", Holidays:" + placedOrder.Holidays + " <input type = 'hidden' id = 'hdnDuration' value = " + placedOrder.Duration + " /> <input type='hidden' id='hdnHolidays' value=" + placedOrder.Holidays + " /> <input type='hidden' id='hdnStarted' value=" + isStarted + " /> </div>");


                        var title = 'Order: ' + placedOrder.SalesOrderNumber + '\nStyle: ' + placedOrder.StyleNumber + '\nProduct: ' + placedOrder.ProductName + '\nFrom: ' + placedOrder.PlannedStartString + ' to ' + placedOrder.PlannedEndString + '\nDuration: ' + placedOrder.Duration + '\nOrder Qty: ' + placedOrder.OrderQty + '\nCustomer PO: ' + placedOrder.CustomerPONumber + '\nProduction SMV: ' + placedOrder.ProductionSMV + '\nShipment Date: ' + placedOrder.ShipmentDateString + '\nLearning Curve: ' + placedOrder.PlanEfficiency;

                        var item = $("<div id = " + placedOrder.OrderDetailId + "_" + placedOrder.ProductId + " style = 'width:100px' class= 'external-event bg-success ui-draggable ui-draggable-handle placed canview' title='" +title +"' > " + placedOrder.StyleNumber + " - " + placedOrder.ProductName + " - " + placedOrder.PlannedStartString  +  " <input type = 'hidden' id = 'hdnOrdId' value = " + placedOrder.OrderDetailId + " /> <input type = 'hidden' id = 'hdnProductId' value = " + placedOrder.ProductId + " /> <input type = 'hidden' id = 'hdnDuration' value = " + placedOrder.Duration + " /> <input type='hidden' id='hdnHolidays' value=" + placedOrder.Holidays + " /> <input type='hidden' id='hdnStarted' value=" + isStarted + " /> <input type='hidden' id='hdnStyleId' value=" + placedOrder.StyleId + " /> <input type='hidden' id='hdnPlacedId' value=" + placedOrder.Id + " />  </div>");

                        if (isStarted || placedOrder.Locked===true)
                            item.removeClass("ui-draggable");

                        if (placedOrder.IsAfterPlanned==true)
                            item.addClass("AfterPlanned");
                        else if (placedOrder.HasChanged === true) {
                            if (placedOrder.ChangedColor === '')
                                item.addClass("HasChanged");
                            else
                                item.attr("style", "background-color:" + placedOrder.ChangedColor + " !important");
                        }
                        else {
                            if (placedOrder.PlannedColor != '')
                                item.attr("style", "background-color:" + placedOrder.PlannedColor + " !important");
                        }

                        $("#grd").append(item);

                        var col1 = $("td:eq(" + placedOrder.StartColumn + ")");
                        var colEnd = $("td:eq(" + placedOrder.ColumnCount + ")");

                        var topPos = $(actualRow).position().top;// - $("#gallery-one").position().top + 10;
                        var totWidth = colEnd.position().left - col1.position().left;
                        //var totWidth = (placedOrder.ColumnCount - placedOrder.StartColumn) * 40;

                        var startPosition = col1.position().left + 6

                        if (placedOrder.StartInHalfDay === true) {
                            startPosition = startPosition + 20;
                            totWidth = totWidth - 20;
                        }

                        if (placedOrder.EndInHalfDay === true)
                            totWidth = totWidth - 20;

                        item.css({ left:  startPosition , position: 'absolute', top: topPos, width: totWidth });

                        if (isStarted) {

                            if (placedOrder.AdditionalDays > 0) {
                                var actItem = $("<div id =add" + placedOrder.OrderDetailId + "_" + placedOrder.ProductId + " class= 'external-event bg-success placed additional' > </div>");
                                $("#grd").append(actItem);
                                var startCol = colEnd;

                                var totWidth = (40 * (placedOrder.AdditionalDays + placedOrder.AdditionalHolidays)+1)

                                var startPosition = startCol.position().left + 6

                                if (placedOrder.EndInHalfDay === true) {
                                    startPosition = startPosition - 20;
                                    //totWidth = totWidth - 20;
                                }

                                //if (placedOrder.EndInHalfDay === true)
                                //    totWidth = totWidth - 20;



                                //colEnd = $("td:eq(" + placedOrder.AdditionalEndColumn + ")");
                                actItem.css({ left:startPosition , position: 'absolute', top: topPos, width: totWidth });
                            }

                            var actItem = $("<div id =act" + placedOrder.OrderDetailId + "_" + placedOrder.ProductId + " class= 'external-event bg-success placed' title='" + title +"' > </div>");


                            if (placedOrder.ActualColor != '')
                                actItem.attr("style", "background-color:" + placedOrder.ActualColor + " !important");

                            $("#grd").append(actItem);
                            var col1 = $("td:eq(" + placedOrder.ActualStartColumn + ")");
                            var actEnd = parseInt(placedOrder.ActualStartColumn) + parseInt(placedOrder.ActualEndColumn);
                            var colEnd = $("td:eq(" + actEnd + ")");

                            startPosition = col1.position().left + 6;
                            totWidth = colEnd.position().left - col1.position().left;

                            if (placedOrder.IsActualStartInHalfDay === true) {
                                startPosition = startPosition + 20;
                                totWidth = totWidth - 20;
                            }

                            if (placedOrder.IsActualEndInHalfDay === true)
                                totWidth = totWidth - 20;

                            actItem.css({ left: startPosition , position: 'absolute', top: topPos + 20, width: totWidth });

                            if (placedOrder.AdditionalDays > 0) {
                                var actItem = $("<div id =actadd" + placedOrder.OrderDetailId + "_" + placedOrder.ProductId + " class= 'external-event bg-success placed additional' > </div>");
                                $("#grd").append(actItem);
                                var startCol = colEnd;


                                var totWidth = (40 * (placedOrder.AdditionalDays + placedOrder.ActualAdditionalHolidays)+1)

                                var startPosition = startCol.position().left + 6

                                if (placedOrder.EndInHalfDay === true) {
                                    startPosition = startPosition - 20;
                                    //totWidth = totWidth - 20;
                                }

                                //if (placedOrder.EndInHalfDay === true)
                                //    totWidth = totWidth - 20;


                                //colEnd = $("td:eq(" + placedOrder.AdditionalEndColumn + ")");
                                actItem.css({ left: startPosition , position: 'absolute', top: topPos + 20, width: totWidth });
                            }



                            if (placedOrder.ProductivityDetails != null) {
                                for (var p = 0; p < placedOrder.ProductivityDetails.length; p++) {
                                    var orderDet = placedOrder.ProductivityDetails[p];
                                    var actItem = $("<div id =act" + placedOrder.OrderDetailId + "_" + orderDet.ColumnNumber + "_" + placedOrder.ProductId + " class= 'external-event placed' title='" + title +"'>" + orderDet.ProducedQty + " </div>");
                                    $("#grd").append(actItem);
                                    var col1 = $("td:eq(" + orderDet.ColumnNumber + ")");
                                    //var colEnd = $("td:eq(" + parseInt(orderDet.ColumnNumber) + 1 + ")");
                                    var leftPos = col1.position().left + 6;
                                    var barWidth = 40;

                                    if (p == 0 && placedOrder.StartInHalfDay) {
                                        leftPos = leftPos + 20;
                                        barWidth = 20;
                                    }
                                    else if (p == placedOrder.ProductivityDetails.length - 1) {
                                        barWidth = 20;
                                    }

                                    actItem.css({ left: leftPos, position: 'absolute', top: topPos + 20, width: barWidth });
                                }
                            }
                        }
                    }
                    //setDraggable();
                }
            });



        }

        function loadProducts() {
            var styleId = $('#StyleId option:selected').val();
            var productId = $('#ProductId option:selected').val();
            if (styleId < 1) return;
            $.ajax({
                type: "GET",
                url: window.rootUrl + "/Board/LoadProductsForStyle?styleId=" + styleId,
                success: function (data) {
                    var s = '<option value="-1">Select One...</option>';
                   // var s = '';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].Name + '</option>';
                    }
                    $("#ProductId").html(s);
                    //$('#styleId option:selected').val(styleId);
                    $("#ProductId > [value=" + productId + "]").attr("selected", "true");
                }
            });
        }

        function loadOrders(isLoadPlacedOrder = 0) {
            $("#gallery-one").html('');

            var id = $("#FactoryNameId").val();
            var styleId = $("#StyleId").val();
            var productId = $("#ProductId").val();

            $.ajax({
                url: window.rootUrl + '/Board/LoadOrders/?factoryId=' + id + '&styleId=' + styleId + '&productId='+ productId,
                type: 'GET',
                cache: false,
                dataType: 'json',
                success: function (orderDetails) {
                    for (var i = 0; i < orderDetails.length; i++) {
                        var width = (orderDetails[i].Duration + orderDetails[i].Holidays) * 40;

                        //var item = $("<div id =" + orderDetails[i].OrderId + " class= 'external-event bg-success ui-draggable ui-draggable-handle'> " + orderDetails[i].StyleNumber + " : From " + start.toString() + " To " + end.toString() + " <input type = 'hidden' id = 'hdnDuration' value = " + orderDetails[i].Duration + " /> <input type='hidden' id='hdnHolidays' value=" + orderDetails[i].Holidays + " /> <input type='hidden' id='hdnStart' value=" + orderDetails[i].StartDate + " /> <input type='hidden' id='hdnEnd' value=" + orderDetails[i].EndDate + " /> </div>");
                        var title = 'Order: ' + orderDetails[i].SalesOrderNumber + '\nStyle: ' + orderDetails[i].StyleNumber + '\nProduct: ' + orderDetails[i].ProductName + '\nFrom: ' + orderDetails[i].StartDateString + ' to ' + orderDetails[i].EndDateString + '\nDuration: ' + orderDetails[i].Duration + '\nOrder Qty: ' + orderDetails[i].OrderQty + '\nCustomer PO: ' + orderDetails[i].CustomerPONumber + '\nProduction SMV: ' + orderDetails[i].ProductionSMV + '\nShipment Date: ' + orderDetails[i].ShipmentDateString + '\nLearning Curve: ' + orderDetails[i].PlanEfficiency;
                        var item = $("<div id =" + orderDetails[i].OrderId + "_" + orderDetails[i].ProductId + " class= 'external-event bg-success ui-draggable ui-draggable-handle loaded' title='" + title + "'> <a data-toggle='modal' data-target='#manage-learning-curve' class='btn-info btn-learning-curve'><i class='fa fa-edit fa-xs'></i></a>" + orderDetails[i].StyleNumber + " - " + orderDetails[i].ProductName + " - " + orderDetails[i].StartDateString + "<input type = 'hidden' id = 'hdnOrdId' value = " + orderDetails[i].OrderId + " /> <input type = 'hidden' id = 'hdnProductId' value = " + orderDetails[i].ProductId + " />  <input type = 'hidden' id = 'hdnDuration' value = " + orderDetails[i].Duration + " /> <input type='hidden' id='hdnHolidays' value=" + orderDetails[i].Holidays + " /> <input type='hidden' id='hdnStart' value=" + orderDetails[i].StartDate + " /> <input type='hidden' id='hdnEnd' value=" + orderDetails[i].EndDate + "/> <input type = 'hidden' id = 'hdnStyleProduct' value = " + orderDetails[i].StyleProductId + " /></div>");

                        var style = "width:" + width + "px !important";

                        if (orderDetails[i].PlannedColor != '')
                            style = style + "; background-color:" + orderDetails[i].PlannedColor + " !important";
                            //item.style.backgroundColor = orderDetails[i].PlannedColor + " !important";
                        item.attr("style", style);

                        //item.style.width = width + "px !important";

                        $("#gallery-one").append(item);
                    }
                    setDraggable();

                    if (isLoadPlacedOrder == 1) {
                        loadPlacedOrders();
                    }
                }
            });
        }

        function setDraggable() {
            var lines = @Html.Raw(Json.Encode(Model.LineModules));
            $("#planning-board-grid tbody tr").each(function (i, row) {
                var $actualRow = $(row);
                var moduleId = $actualRow.find("input[name='hdnId']").val();// i.toString();// $actualRow.children("td:eq(0)").html();
                $actualRow.addClass(moduleId);// .css('background-color', '#0094ff');
                galleryDragAndDrop("#test-container", "#gallery-one", "." + moduleId, ".ui-draggable");

                var line = lines.filter(function (item) {
                    return item.Id == moduleId;
                });
                if (line == undefined || line.length == 0 || line[0].HolidayColumns.length == 0)
                    return;
                var topPos = $actualRow.position().top;

                for (var i = 0; i < line[0].HolidayColumns.length; i++) {

                    var col1 = $("td:eq(" + line[0].HolidayColumns[i] + ")");

                    var item = $("<div id class= 'holiday' > </div>");
                    //item.style.z - index=-1;
                    item.css({ left: col1.position().left + 6, position: 'absolute', top: topPos + 1, width: col1[0].clientWidth +2, height: col1[0].clientHeight+2 });
                    $("#grd").append(item);
                }
            });
        }


        function loadBoard() {
            var id = $("#FactoryNameId").val();
            var from = $('#FromDate').val();
            var to = $('#ToDate').val();

            if (from === '' || to === '' || id < 1)
                return;

            $.ajax({
                url: window.rootUrl + '/Board/LoadBoard/?factoryId=' + id + '&from=' + from + '&to=' + to,
                type: 'GET',
                cache: false,
                success: function (data) {
                    $('#view-grid').html(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        $("#btnManageLearningCurve").click(function (e) {
            if (window.FormData !== undefined) {

                $('#btnManageLearningCurve').attr('disabled', 'disabled');

                // Create FormData object
                var fileData = new FormData();

                // Adding one more key to FormData object

                fileData.append('OrderDetailId', $("#ClickedOrderId").val());
                fileData.append('ProductId', $("#ClickedProductId").val());
                fileData.append('PlanEfficiency', $('input[name=radio_learning]:checked').val());

                $.ajax({
                    url: window.rootUrl + '/OrderDetails/UpdatePlanEfficiency',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                        if (result["success"] == false)
                            toastr.warning(result["message"]);
                        else {
                            toastr.success(result["message"]);
                            $("#btnCloseLearningCurve").click();
                        }

                        toastr.clear();
                        $('#btnManageLearningCurve').removeAttr('disabled');
                    },
                    error: function (err) {
                        alert(err.statusText);
                        $('#btnManageLearningCurve').removeAttr('disabled');
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });
</script>
