﻿@using SmartPlanner.BusinessLayer.Common
@model SmartPlanner.BusinessLayer.DTOs.ReportDTOFactoryEfficiency

@{
    ViewBag.Title = "View Reports";
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Report")">View Reports</a></li>
                        <li class="breadcrumb-item active">Factory Efficiency by Style</li>
                    </ol>
                </div>
                <h4 class="page-title">View Reports</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h5>Factory Efficiency by Style</h5>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="border border-light p-2 mb-3">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.FactoryId)
                                    @Html.DropDownListFor(model => model.FactoryId, new SelectList(Model.Factories, "Id", "FactoryName"), htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FactoryId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.LineModuleId)
                                    @Html.DropDownListFor(model => model.LineModuleId, new SelectList(Model.LineModules, "Id", "ModuleNumber"), htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LineModuleId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.StyleDetailId)
                                    @Html.DropDownListFor(model => model.StyleDetailId, new SelectList(Model.StyleDetails, "Id", "StyleNumber"), "Select One...", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StyleDetailId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-3">
                                    <button type="button" id="btnSearch" class="btn btn-raised btn-primary btn-block" style="margin-top: 28px;">Generate Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="border border-light p-2 mb-3">
                            <div class="row" id="divReport"></div>
                        </div>
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>




<script>

    $(document).ready(function () {

        //if ($('#FactoryId option:selected').val() > 0)
        //    $("#FactoryId").prop("disabled", true);

        //if ($('#LineModuleId option:selected').val() > 0)
        //    $("#LineModuleId").prop("disabled", true);
        LoadLines();

        $("#FactoryId").change(function () {
            LoadLines();
        });

        function LoadLines() {
            var factoryId = $('#FactoryId option:selected').val();
            var lineId = $('#LineModuleId option:selected').val();

            if (factoryId === undefined) return;

            $.ajax({
                type: "GET",
                url: window.rootUrl + "/report/GetLines",
                data: { factory: factoryId },
                success: function (data) {
                    var s = '<option value="-1">Select One...</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].ModuleNumber + '</option>';
                    }
                    $("#LineModuleId").html(s);
                    $("#LineModuleId > [value=" + lineId + "]").attr("selected", "true");
                }
            });
        };

        $('#btnSearch').click(function () {

            var factoryId = $('#FactoryId option:selected').val();
            var lineId = $('#LineModuleId option:selected').val();
            var styleId = $('#StyleDetailId option:selected').val();

            if (factoryId == undefined || factoryId == '' ) {
                factoryId = -1;
            }

            if (lineId == undefined || lineId == '') {
                lineId = -1;
            }

            if (styleId == undefined || styleId == '') {
                styleId = -1;
            }

            //ASPX page URL to load report
            var src = window.rootUrl + '/Reports/ReportViewer.aspx?';
            //We can add parameters here
            src = src + "reportNo=" + 1 + "&factoryId=" + factoryId + "&lineId=" + lineId + "&styleId=" + styleId;

            //Create a dynamic iframe here and append this to div tag
            var iframe = '<iframe id="reportFrame" width="100%" height="800px" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
            $("#divReport").html(iframe);
        });

    });



</script>

