﻿@using SmartPlanner.BusinessLayer.Common

@{
    ViewBag.Title = "View Reports";
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">View Reports</li>
                    </ol>
                </div>
                <h4 class="page-title">View Reports</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option view the system reports.
                </p>

                <!-- End Display the message as a dismissable alert -->

                <table id="demo-custom-toolbar" data-toggle="table"
                       data-toolbar="#demo-delete-row"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-sort-name="no"
                       data-page-list="[5, 10, 20]"
                       data-page-size="20"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">

                    <thead class="thead-light">
                        <tr>
                            <th data-field="no" data-sortable="true">No.</th>
                            <th data-field="name" data-sortable="true">Report Name</th>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>1. </td>
                            <td>Factory Efficiency by Style</td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("FactoryEfficiencyByStyle", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>2. </td>
                            <td>Plan Vs. Actual Production </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("PlanVsActualProduction", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>3. </td>
                            <td>Sewing Summary by Line & Style</td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("SewingSummaryByLineStyle", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>4. </td>
                            <td>Production Progress Report </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("ProductionProgress", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>5. </td>
                            <td>Production History Report </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("ProductionHistory", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>6. </td>
                            <td>Operation Schedule Report</td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("OperationScheduleWeekly", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>7. </td>
                            <td>Capacity Vs Load Report</td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("CapacityVsLoad", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>8. </td>
                            <td>Daily Output Plan Report </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("DailyOutputPlan", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>9. </td>
                            <td>Planned Hour Summary Report </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("PlannedHourSummary", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>10. </td>
                            <td>Sewing Output Report </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("SewingOutput", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>11. </td>
                            <td>Monthly Freeze Plan Vs Current Plan Report </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("MonthlyFreezePlanVsCurrentPlan", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>12. </td>
                            <td>Production Cumalative Report </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("ProductionCumalative", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>13. </td>
                            <td>Style wise SMV Report </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("StyleWiseSMV", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>

                            }
                        </tr>

                        <tr>
                            <td>14. </td>
                            <td>SMV Revision History Report </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("SMVRevisionHistory", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>15. </td>
                            <td>Style Sheet Report </td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("StyleDetails", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>16. </td>
                            <td>Cumulative Production Report</td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("CumulativeProduction", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>17. </td>
                            <td>CM Report</td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("CM", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td>18. </td>
                            <td>Production Efficiency Report</td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.Reports).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("ProductionEfficiency", "Report")" class="btn btn-info btn-sm"><i class="fa fa-print"></i>&nbsp;&nbsp;View Report</a>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>
