﻿@using SmartPlanner.BusinessLayer.Common
@model SmartPlanner.BusinessLayer.DTOs.SMVBankDTO

@{
    ViewBag.Title = "View Reports";
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Report")">View Reports</a></li>
                        <li class="breadcrumb-item active">Style wise SMV</li>
                    </ol>
                </div>
                <h4 class="page-title">View Reports</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h5>Style wise SMV</h5>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="border border-light p-2 mb-3">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.BuyerId)
                                    @Html.DropDownListFor(model => model.BuyerId, new SelectList(Model.Buyers, "Id", "Name"), htmlAttributes: new { @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.CustomerId)
                                    @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.Customers, "Id", "Name"), htmlAttributes: new { @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.StyleDetailId)
                                    @Html.DropDownListFor(model => model.StyleDetailId, new SelectList(Model.StyleDetails, "Id", "StyleNumber"), "Select One...", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StyleDetailId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-3">
                                    <button type="button" id="btnSearch" class="btn btn-raised btn-primary btn-block" style="margin-top: 28px;">Generate Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="border border-light p-2 mb-3">
                            <div class="row" id="divReport"></div>
                        </div>
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>




<script>

    $(document).ready(function () {

        $("#BuyerId").change(function () {
            ListStyles();
        });

        $("#CustomerId").change(function () {
            ListStyles();
        });

        function ListStyles() {

            var buyerId = $('#BuyerId option:selected').val();
            var customerId = $('#CustomerId option:selected').val();

            if (buyerId === undefined)
                buyerId = -1;

            if (customerId === undefined)
                customerId = -1;

            $.ajax({
                type: "GET",
                url: window.rootUrl + "/SMVBank/GetStyleList",
                data: { buyerId: buyerId, customerId: customerId },
                success: function (data) {
                    var s = '<option value="-1">Select One...</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].Name + '</option>';
                    }
                    $('#StyleDetailId').html(s);
                }
            });
        }

        $('#btnSearch').click(function () {

            var buyerId = $('#BuyerId option:selected').val();
            var customerId = $('#CustomerId option:selected').val();
            var styleId = $('#StyleDetailId option:selected').val();

            if (buyerId == undefined || buyerId == '' ) {
                buyerId = -1;
            }

            if (customerId == undefined || customerId == '') {
                customerId = -1;
            }

            if (styleId == undefined || styleId == '') {
                styleId = -1;
            }

            //ASPX page URL to load report
            var src = window.rootUrl + '/Reports/ReportViewer.aspx?';
            //We can add parameters here
            src = src + "reportNo=" + 13 + "&buyerId=" + buyerId + "&customerId=" + customerId + "&styleId=" + styleId;

            //Create a dynamic iframe here and append this to div tag
            var iframe = '<iframe id="reportFrame" width="100%" height="800px" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
            $("#divReport").html(iframe);
        });

    });



</script>

