﻿@model SmartPlanner.BusinessLayer.StyleProduct

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Style Product Details";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "New Style Product Detail";
        ViewBag.SubmitText = "Create";
    }

}

<input type="hidden" id="tabWasModified" value="false" />

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText product details of styles.
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Detail", "StyleProducts", FormMethod.Post, htmlAttributes: new { @class = "needs-validation", enctype = "multipart/form-data", onsubmit = "resetTabWasModified()" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.StyleId)

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.StyleDetail.StyleNumber)
                                    @Html.TextBoxFor(model => model.StyleDetail.StyleNumber, htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.StyleDetail.StyleNumber, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-3">
                                    @Html.LabelFor(model => model.StyleDetail.CreatedDate)
                                    @Html.TextBoxFor(model => model.StyleDetail.CreatedDate,
htmlAttributes: new { type = "date",
    @Value = Model.StyleDetail.CreatedDate.HasValue ? Model.StyleDetail.CreatedDate.Value.ToString("yyyy-MM-dd") : string.Empty,
    @class = "form-control disabled"
})
                                    @Html.ValidationMessageFor(model => model.StyleDetail.CreatedDate, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-2">
                                    @Html.LabelFor(model => model.StyleDetail.SampleStatusId)
                                    @Html.TextBoxFor(model => model.StyleDetail.SampleStatus.StatusName, htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.StyleDetail.SampleStatusId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.StyleDetail.IsMultiPiece, htmlAttributes: new { @class = "col-form-label d-block" })

                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.StyleDetail.IsMultiPiece, true, htmlAttributes: new { id = "IsMultiPiece_Yes", @disabled = true })
                                        <label for="IsMultiPiece_Yes"> Yes </label>
                                    </div>
                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.StyleDetail.IsMultiPiece, false, htmlAttributes: new { id = "IsMultiPiece_No", @disabled = true })
                                        <label for="IsMultiPiece_No"> No </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.StyleDetail.IsConfirmed, htmlAttributes: new { @class = "col-form-label d-block" })

                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.StyleDetail.IsConfirmed, true, htmlAttributes: new { id = "IsConfirmed_Yes", @disabled = true })
                                        <label for="IsConfirmed_Yes"> Yes </label>
                                    </div>
                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.StyleDetail.IsConfirmed, false, htmlAttributes: new { id = "IsConfirmed_No", @disabled = true })
                                        <label for="IsConfirmed_No"> No </label>
                                    </div>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group  col-md-6">
                                    @Html.LabelFor(model => model.StyleDetail.BuyerId)
                                    @Html.TextBoxFor(model => model.StyleDetail.Buyer.Name, htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.StyleDetail.BuyerId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group  col-md-6">
                                    @Html.LabelFor(model => model.StyleDetail.CustomerId)
                                    @Html.TextBoxFor(model => model.StyleDetail.Customer.Name, htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.StyleDetail.CustomerId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div id="basicwizard">
                                <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                    <li class="nav-item">
                                        <a href="#general" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-account-circle mr-1"></i>
                                            <span class="d-none d-sm-inline">General</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#files" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-image mr-1"></i>
                                            <span class="d-none d-sm-inline">Files</span>
                                        </a>
                                    </li>

                                </ul>

                                <div class="tab-content b-0 mb-0">

                                    <div class="tab-pane" id="general">

                                        <div class="border border-light p-2 mb-3">
                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductTypeId)
                                                    @Html.DropDownListFor(model => model.ProductTypeId, new SelectList(Model.ProductTypes, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProductTypeId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductGroupId)
                                                    @Html.DropDownListFor(model => model.ProductGroupId, new SelectList(Model.ProductGroups, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProductGroupId, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductId)
                                                    @if (Model.Id > 0)
                                                    {
                                                        @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.Products, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control disabled" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.Products, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductHierarchy)
                                                    @Html.TextBoxFor(model => model.ProductHierarchy, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProductHierarchy, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CategoryId)
                                                    @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SubCategoryId)
                                                    @Html.DropDownListFor(model => model.SubCategoryId, new SelectList(Model.SubCategories, "Id", "SubCategoryName"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CostSMV)
                                                    @Html.TextBoxFor(model => model.CostSMV, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                                                   data_bts_max = "9999999999",
                                                   data_step = "0.01",
                                                   data_decimals = "2",
                                                   ondrop = "return false;", onpaste = "return false;" })
                                                    @Html.ValidationMessageFor(model => model.CostSMV, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductionSMV)
                                                    @Html.TextBoxFor(model => model.ProductionSMV, new { @class = "form-control disabled", type = "text" })
                                                    @Html.ValidationMessageFor(model => model.ProductionSMV, "", new { @class = "text-danger" })
                                                </div>

                                            </div>


                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SpecialMachine)
                                                    @Html.TextBoxFor(model => model.SpecialMachine, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SpecialMachine, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SpecialProcess)
                                                    @Html.TextBoxFor(model => model.SpecialProcess, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SpecialProcess, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CM)
                                                    @Html.TextBoxFor(model => model.CM, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                                                   data_bts_max = "9999999999",
                                                   data_step = "0.01",
                                                   data_decimals = "2",
                                                   ondrop = "return false;", onpaste = "return false;" })
                                                    @Html.ValidationMessageFor(model => model.CM, "", new { @class = "text-danger" })
                                                </div>


                                            </div>


                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    <h5>Features List</h5>
                                                    <a class="btn btn-outline-primary waves-effect waves-light mb-2 @(Model.Id == 0 ? "disabled" : string.Empty)" data-toggle="modal" data-target="#add-features"><i class="mdi mdi mdi-playlist-plus mr-1"></i>Add Features</a>

                                                    <table id="WebGridFeature" data-toggle="table"
                                                           data-search="false"
                                                           data-show-refresh="false"
                                                           data-show-columns="false"
                                                           data-sort-name="featurename"
                                                           data-page-list="[5, 10, 20]"
                                                           data-page-size="20"
                                                           data-pagination="true" data-show-pagination-switch="false" class="table-bordered ">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th data-field="featurename" data-sortable="true">@Html.DisplayNameFor(model => model.FeatureId) </th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.FeatureList != null)
                                                            {
                                                                if (Model.FeatureList.Count > 0)
                                                                {
                                                                    foreach (var item in Model.FeatureList)
                                                                    {
                                                                        <tr>
                                                                            <td>@Html.DisplayFor(modelItem => item.Feature.ConfigValue) </td>
                                                                            <td>
                                                                                <a href="@Url.Action("DeleteFeature", "StyleProducts", new { styleProductId = Model.Id, styleFeatureId = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td>No features added.</td>
                                                                        <td></td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td>No features added.</td>
                                                                    <td></td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>

                                                </div>

                                                <div class="form-group  col-md-6">
                                                    <h5>Operations Breakdown</h5>
                                                    <a class="btn btn-outline-primary waves-effect waves-light mb-2 @(Model.Id == 0 ? "disabled" : string.Empty)" data-toggle="modal" data-target="#add-operations"><i class="mdi mdi mdi-playlist-plus mr-1"></i>Add Operations</a>

                                                    <table id="WebGridOperation" data-toggle="table"
                                                           data-search="false"
                                                           data-show-refresh="false"
                                                           data-show-columns="false"
                                                           data-sort-name="operationname"
                                                           data-page-list="[5, 10, 20]"
                                                           data-page-size="20"
                                                           data-pagination="true" data-show-pagination-switch="false" class="table-bordered ">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th data-field="operationname" data-sortable="true">@Html.DisplayNameFor(model => model.OperationId) </th>
                                                                <th data-field="smv" data-sortable="true">SMV Value </th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.OperationBreakdowns != null)
                                                            {
                                                                if (Model.OperationBreakdowns.Count > 0)
                                                                {
                                                                    foreach (var item in Model.OperationBreakdowns)
                                                                    {
                                                                        <tr>
                                                                            <td>@Html.DisplayFor(modelItem => item.Operation.OperationName) </td>
                                                                            <td>@Html.DisplayFor(modelItem => item.SMV) </td>
                                                                            <td>
                                                                                <a href="@Url.Action("Operation", "StyleProducts", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>
                                                                                |<a href="@Url.Action("DeleteOperation", "StyleProducts", new { styleProductId = Model.Id, styleOperationId = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td>No operation added.</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td>No operation added.</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="tab-pane" id="files">

                                        <div class="border border-light p-2 mb-3">
                                            <div class="form-row">
                                                <div class="col-md-6">

                                                    <div class="form-group col-md-12">
                                                        @Html.LabelFor(model => model.ThreadSheetFile)
                                                        @Html.TextBoxFor(m => m.ThreadSheetFile, new { type = "file", @class = "form-control-file" })
                                                        @Html.TextBoxFor(m => m.ThreadSheetFileName, htmlAttributes: new { @class = "form-control mt-2", @readonly = true })
                                                        <a href="@Url.Action("Index", "Home")@Model.ThreadSheetFilePath" class="btn btn-outline-primary waves-effect waves-light mt-2 @(Model.ThreadSheetFileName == "" ? "disabled" : string.Empty)" id="download-thread-sheet" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>
                                                        <hr />
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        @Html.LabelFor(model => model.TrimConsumptionFile)
                                                        @Html.TextBoxFor(m => m.TrimConsumptionFile, new { type = "file", @class = "form-control-file" })
                                                        @Html.TextBoxFor(m => m.TrimConsumptionFileName, htmlAttributes: new { @class = "form-control mt-2", @readonly = true })
                                                        <a href="@Url.Action("Index", "Home")@Model.TrimConsumptionFilePath" class="btn btn-outline-primary waves-effect waves-light mt-2 @(Model.TrimConsumptionFileName == "" ? "disabled" : string.Empty)" id="download-trim-consumption" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>
                                                        <hr />
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        @Html.LabelFor(model => model.PPRAReportFile)
                                                        @Html.TextBoxFor(m => m.PPRAReportFile, new { type = "file", @class = "form-control-file" })
                                                        @Html.TextBoxFor(m => m.PPRAReportFileName, htmlAttributes: new { @class = "form-control mt-2", @readonly = true })
                                                        <a href="@Url.Action("Index", "Home")@Model.PPRAReportFilePath" class="btn btn-outline-primary waves-effect waves-light mt-2 @(Model.PPRAReportFileName == "" ? "disabled" : string.Empty)" id="download-ppra-report" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>
                                                        <hr />
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group  col-md-12">
                                                        <h5>Additional Files</h5>
                                                        <a class="btn btn-outline-primary waves-effect waves-light @(Model.Id == 0 ? "disabled" : string.Empty)" data-toggle="modal" data-target="#add-documents"><i class="mdi mdi mdi-image-plus mr-1"></i>Add Documents</a>
                                                    </div>
                                                    <div class="form-group  col-md-12">
                                                        <table id="WebGridFile" data-toggle="table"
                                                               data-search="false"
                                                               data-show-refresh="false"
                                                               data-show-columns="false"
                                                               data-sort-name="filename"
                                                               data-page-list="[5, 10, 20]"
                                                               data-page-size="20"
                                                               data-pagination="true" data-show-pagination-switch="false" class="table-bordered ">
                                                            <thead class="thead-light">
                                                                <tr>
                                                                    <th data-field="filename" data-sortable="true">@Html.DisplayNameFor(model => model.AdditionalInformationFileName.FileName) </th>
                                                                    <th data-field="filetype" data-sortable="true">@Html.DisplayNameFor(model => model.AdditionalInformationFileName.FileTypeId) </th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                @if (Model.AdditionalInformationFileNames.Count > 0)
                                                                {
                                                                    foreach (var item in Model.AdditionalInformationFileNames)
                                                                    {
                                                                        <tr>
                                                                            <td>@Html.DisplayFor(modelItem => item.FileName) </td>
                                                                            <td>@Html.DisplayFor(modelItem => item.FileType.TypeName) </td>
                                                                            <td>
                                                                                <a href="@Url.Action("Index", "Home")@item.FilePath" class="btn btn-outline-primary waves-effect waves-light" id="download-ppra-report" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a> | <a href="@Url.Action("DeleteAdditionalFile", "StyleProducts", new { styleProductId=Model.Id, additionalFileId = item.Id})" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td>No files added.</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div> <!-- tab-content -->

                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>
                                <a href="@Url.Action("Detail", "StyleDetails", new { id = Model.StyleId })" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-crop mr-1"></i>Back to Style Detail</a>
                            </div>
                        }
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>

<!-- Modal - Add Documents - Start -->
<div class="modal fade" id="add-documents">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Documents</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="text-left">

                            @Html.TextBoxFor(m => m.AdditionalInformationFiles, new { type = "file" })
                            <br />
                            @Html.ValidationMessageFor(m => m.AdditionalInformationFiles, "", new { @class = "error" })
                        </div>

                        <div class="text-left">
                            @Html.LabelFor(model => model.FileTypeId)
                            @Html.DropDownListFor(model => model.FileTypeId, new SelectList(Model.FileTypeList, "Id", "TypeName"), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FileTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelAdditionalFile" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btnAddAdditionalFile" type="button" class="btn btn-primary btn-pill">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Add Documents - End -->
<!-- Modal - Add Features - Start -->
<div class="modal fade" id="add-features">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Features</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="text-left">
                            @Html.LabelFor(model => model.FeatureId)
                            @Html.DropDownListFor(model => model.FeatureId, new SelectList(Model.FeaturesList, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FeatureId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelFeatureList" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btnAddFeatureList" type="button" class="btn btn-primary btn-pill">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Add Features - End -->
<!-- Modal - Add Operations - Start -->
<div class="modal fade" id="add-operations">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Operations</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="text-left">
                            @Html.LabelFor(model => model.OperationId)
                            @Html.DropDownListFor(model => model.OperationId, new SelectList(Model.OperationsList, "Id", "OperationName"), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OperationId, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="text-left">
                            @Html.LabelFor(model => model.Operation.SMV)
                            @Html.TextBoxFor(model => model.Operation.SMV, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                               data_bts_max = "9999999999",
                               data_step = "0.01",
                               data_decimals = "2",
                               ondrop = "return false;", onpaste = "return false;" })
                            @Html.ValidationMessageFor(model => model.Operation.SMV, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelOperations" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btnAddOperations" type="button" class="btn btn-primary btn-pill">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Add Operations - End -->


<script type="text/javascript">

    window.addEventListener('beforeunload', function (e) {

        var modified = $('#tabWasModified').val();

        if (modified === 'true') {
            // Cancel the event
            e.preventDefault();
            // Chrome requires returnValue to be set
            e.returnValue = "You have changes pending on save in this page, if you continue you'll lose these changes.\nDo you want to continue?";
        }
    });

    $(document).ready(function () {

        AddOnChangeEvent();

        $("#basicwizard").bootstrapWizard();

        $("#CategoryId").change(function () {
            LoadSubCategories();
        });


        $("#btnAddFeatureList").click(function (e) {
            if (window.FormData !== undefined) {

                if ($("#FeatureId option:selected").val() == 0) {
                    return false;
                }

                // Create FormData object
                var fileData = new FormData();

                // Adding one more key to FormData object
                fileData.append('FeatureId', $("#FeatureId option:selected").val());
                fileData.append('Id', $("#Id").val());

                $.ajax({
                    url: window.rootUrl + '/StyleProducts/AddFeature',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                        if (result["success"] == false)
                            toastr.warning(result["message"]);
                        else {
                            toastr.success(result["message"])
                            //$("#btnCancelFeatureList").click();
                        }

                        toastr.clear();
                        resetTabWasModified();

                        var row = $("#WebGridFeature tbody tr:last-child").clone(true);

                        $("#WebGridFeature tbody tr").remove();

                        $.each(result["list"], function () {
                            var fileName = this;

                            var featureName = "";

                            if (fileName["Feature"] != null) {
                                featureName = fileName["Feature"]["ConfigValue"];
                            }

                            $("td", row).eq(0).html(featureName);
                            $("td", row).eq(1).html('<a href="' + window.rootUrl + '/StyleProducts/DeleteFeature?styleProductId=' + $("#Id").val() + '&styleFeatureId=' + fileName["Id"] + '" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>');
                            $("#WebGridFeature").append(row);
                            row = $("#WebGridFeature tbody tr:last-child").clone(true);
                        });

                    },
                    error: function (err) {
                        toastr.error("An error occured. Please try again later.");
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });

        $("#btnAddOperations").click(function (e) {
            if (window.FormData !== undefined) {

                if ($("#OperationId option:selected").val() == 0) {
                    return false;
                }

                // Create FormData object
                var fileData = new FormData();

                // Adding one more key to FormData object
                fileData.append('OperationId', $("#OperationId option:selected").val());
                fileData.append('Id', $("#Id").val());
                fileData.append('SMV', $("#Operation_SMV").val());              

                $.ajax({
                    url: window.rootUrl + '/StyleProducts/AddOperation',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                        if (result["success"] == false)
                            toastr.warning(result["message"]);
                        else {
                            toastr.success(result["message"])
                            //$("#btnCancelOperations").click();
                        }

                        toastr.clear();
                        resetTabWasModified();

                        var row = $("#WebGridOperation tbody tr:last-child").clone(true);

                        $("#WebGridOperation tbody tr").remove();

                        $.each(result["list"], function () {
                            var fileName = this;

                            var operationName = "";
                            var smvValue = "";

                            if (fileName["Operation"] != null) {
                                operationName = fileName["Operation"]["OperationName"];
                                smvValue = fileName["SMV"];
                            }

                            $("td", row).eq(0).html(operationName);
                            $("td", row).eq(1).html(smvValue);
                            $("td", row).eq(2).html('<a href="' + window.rootUrl + '/StyleProducts/Operation/' + fileName["Id"] + '" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>|<a href="' + window.rootUrl + '/StyleProducts/DeleteOperation/?styleProductId=' + $("#Id").val() + '&styleOperationId=' + fileName["Id"] + '" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>');
                            $("#WebGridOperation").append(row);
                            row = $("#WebGridOperation tbody tr:last-child").clone(true);
                        });

                        $("#ProductionSMV").val(result["totalSMV"]);

                    },
                    error: function (err) {
                        toastr.error("An error occured. Please try again later.");
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });

        $("#btnAddAdditionalFile").click(function (e) {
            if (window.FormData !== undefined) {

                //debugger;
                var fileUpload = $("#AdditionalInformationFiles").get(0);
                var files = fileUpload.files;

                var fileSize = files[0].size / 1024 / 1024;
                if (fileSize > 10) {
                    alert("Files size is larger than 10 MB");
                }

                // Create FormData object
                var fileData = new FormData();

                // Adding one more key to FormData object
                fileData.append("AdditionalInformationFiles", files[0]);
                fileData.append('FileTypeId', $("#FileTypeId option:selected").val());
                fileData.append('Id', $("#Id").val());

                $('.gps-loading').show();

                $.ajax({
                    url: window.rootUrl + '/StyleProducts/AddAdditionalFile',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                        $('.gps-loading').hide();

                        if (result["success"] == false)
                            toastr.warning(result["message"]);
                        else {
                            toastr.success(result["message"])
                        }

                        toastr.clear();
                        resetTabWasModified();

                        $("#btnCancelAdditionalFile").click();

                        $("#AdditionalInformationFiles").val('');

                        var row = $("#WebGridFile tbody tr:last-child").clone(true);

                        $("#WebGridFile tbody tr").remove();

                        $.each(result["list"], function () {
                            var fileName = this;

                            var name = "";
                            var type = "";

                            if (fileName["FileType"] != null) {
                                type = fileName["FileType"]["TypeName"];
                                name = fileName["FileName"];
                            }

                            $("td", row).eq(0).html(name);
                            $("td", row).eq(1).html(type);
                            $("td", row).eq(2).html('<a href="' + window.rootUrl + '/' + fileName["FilePath"] + '" class="btn btn-outline-primary waves-effect waves-light" id="download-ppra-report" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>' + '|' + '<a href="' + window.rootUrl + '/StyleProducts/DeleteAdditionalFile/' + $("#Id").val() + '/' + fileName["Id"] + '" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>');

                            $("#WebGridFile").append(row);
                            row = $("#WebGridFile tbody tr:last-child").clone(true);
                        });

                    },
                    error: function (err) {
                        toastr.error("An error occured. Please try again later.");
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });

    function resetTabWasModified() {
        $('#tabWasModified').val(false);
    }

    $('#SketchFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#SketchFileName").val(this.files[0].name);
        }
    });

    $('#ThreadSheetFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#ThreadSheetFileName").val(this.files[0].name);
        }
    });

    $('#TrimConsumptionFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#TrimConsumptionFileName").val(this.files[0].name);
        }
    });

    $('#PPRAReportFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#PPRAReportFileName").val(this.files[0].name);
        }
    });

    



    function LoadSubCategories() {

        var categoryId = $('#CategoryId option:selected').val();
        var subCategoryId = $('#SubCategoryId option:selected').val();

        if (categoryId === undefined) return;
        $.ajax({
            type: "GET",
            url: window.rootUrl + "/styledetails/GetSubCategories",
            data: { category: categoryId },
            success: function (data) {
                var s = '<option value="-1">Select One...</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].Id + '">' + data[i].SubCategoryName + '</option>';
                }
                $("#SubCategoryId").html(s);
                //$('#styleId option:selected').val(styleId);
                $("#SubCategoryId > [value=" + subCategoryId + "]").attr("selected", "true");
            }
        });
    };
</script>
