﻿@model SmartPlanner.BusinessLayer.StyleOperation

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Operation";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "Create Operation";
        ViewBag.SubmitText = "Create";
    }

}


<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText the operation of style's product details.
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        @using (Html.BeginForm("Operation", "StyleProducts", FormMethod.Post, htmlAttributes: new { @class = "needs-validation" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.OperationId)
                            @Html.HiddenFor(model => model.StyleProductId)


                            <div class="form-row">

                                <div class="form-group  col-md-12">
                                    @Html.LabelFor(model => model.StyleProductId)
                                    @Html.TextBoxFor(model => model.Operation.OperationName, htmlAttributes: new { @class = "form-control disabled" })
                                    @Html.ValidationMessageFor(model => model.StyleProductId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-12">
                                    @Html.LabelFor(model => model.SMV)
                                    @Html.TextBoxFor(model => model.SMV, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                                   data_bts_max = "9999999999",
                                   data_step = "0.01",
                                   data_decimals = "2", ondrop = "return false;", onpaste = "return false;" })
                                    @Html.ValidationMessageFor(model => model.SMV, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>
                                <a href="@Url.Action("Detail", "StyleProducts", new { id=Model.StyleProductId})" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-cart-outline mr-1"></i>Go to Product</a>
                            </div>

                        }
                    </div>
                    <div class="col-lg-2"></div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>

@section scripts{

<script type="text/javascript">
    $("#Qty").change(function () {
        var wasteQty = $("#Qty").val() * $("#Wastage").val() / 100;
        var planQty = Number($("#Qty").val()) + Number(Math.ceil(wasteQty));
        $("#PlanDeliveryQty").val(planQty);

    });
</script>

}