﻿@model SmartPlanner.BusinessLayer.Customer

@{
    ViewBag.Title = "Delete Customer";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title">Are you sure you want to delete this customer?</h4>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group mb-3">
                                <dl class="row">

                                    <dt class="col-sm-3">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>

                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>

                                    <dt class="col-sm-3">
                                        @Html.DisplayNameFor(model => model.Country)
                                    </dt>

                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.Country)
                                    </dd>

                                    <dt class="col-sm-3">
                                        @Html.DisplayNameFor(model => model.Address)
                                    </dt>

                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.Address)
                                    </dd>

                                    <dt class="col-sm-3">
                                        @Html.DisplayNameFor(model => model.Mobile)
                                    </dt>

                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.Mobile)
                                    </dd>

                                    <dt class="col-sm-3">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </dt>

                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.Email)
                                    </dd>

                                </dl>
                            </div>
                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value="Delete">
                                <a href="@Url.Action("Index", "Customers")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Go To Customers List</a>
                            </div>
                        }
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
