﻿@model SmartPlanner.BusinessLayer.Customer

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Customer";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "New Customer";
        ViewBag.SubmitText = "Create";
    }
}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText Customer.
                </p>

                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid && Model.BrokenBusinessRules?.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Name)
                                @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Country)
                                @Html.TextBoxFor(model => model.Country, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Address)
                                @Html.TextBoxFor(model => model.Address, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Mobile)
                                @Html.TextBoxFor(model => model.Mobile, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mb-3">
                                <h5>Sizes List</h5>
                                <a class="btn btn-outline-primary waves-effect waves-light mb-2 @(Model.Id == 0 ? "disabled" : string.Empty)" data-toggle="modal" data-target="#add-sizes"><i class="mdi mdi mdi-playlist-plus mr-1"></i>Add Sizes</a>

                                <table id="WebGridSize" data-toggle="table"
                                       data-search="false"
                                       data-show-refresh="false"
                                       data-show-columns="false"
                                       data-sort-name="sizename"
                                       data-page-list="[5, 10, 20]"
                                       data-page-size="20"
                                       data-pagination="true" data-show-pagination-switch="false" class="table-bordered ">
                                    <thead class="thead-light">
                                        <tr>
                                            <th data-field="sizename" data-sortable="true">@Html.DisplayNameFor(model => model.SizeId) </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.SizeList != null && Model.SizeList.Count > 0)
                                        {
                                            foreach (var item in Model.SizeList)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.Name) </td>
                                                    <td>
                                                        <a href="@Url.Action("DeleteSize", "Customers", new { customerId=Model.Id, customerSizeId = item.Id})" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>No sizes added.</td>
                                                <td></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>

                            <div class="form-group mb-3">
                                <h5>Colors List</h5>
                                <a class="btn btn-outline-primary waves-effect waves-light mb-2 @(Model.Id == 0 ? "disabled" : string.Empty)" data-toggle="modal" data-target="#add-colors"><i class="mdi mdi mdi-playlist-plus mr-1"></i>Add Colors</a>

                                <table id="WebGridColor" data-toggle="table"
                                       data-search="false"
                                       data-show-refresh="false"
                                       data-show-columns="false"
                                       data-sort-name="colorname"
                                       data-page-list="[5, 10, 20]"
                                       data-page-size="20"
                                       data-pagination="true" data-show-pagination-switch="false" class="table-bordered ">
                                    <thead class="thead-light">
                                        <tr>
                                            <th data-field="colorname" data-sortable="true">@Html.DisplayNameFor(model => model.ColorId) </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.ColorList != null && Model.ColorList.Count > 0)
                                        {
                                            foreach (var item in Model.ColorList)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.Name) </td>
                                                    <td>
                                                        <a href="@Url.Action("DeleteColor", "Customers", new { customerId=Model.Id, customerColorId = item.Id})" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>No colors added.</td>
                                                <td></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>

                            <div class="form-group mb-5">
                                <h5>Responsibilites List</h5>
                                <a class="btn btn-outline-primary waves-effect waves-light mb-2 @(Model.Id == 0 ? "disabled" : string.Empty)" data-toggle="modal" data-target="#add-responsibilites"><i class="mdi mdi mdi-playlist-plus mr-1"></i>Add Responsibilites</a>

                                <table id="WebGridResponsibilites" data-toggle="table"
                                       data-search="false"
                                       data-show-refresh="false"
                                       data-show-columns="false"
                                       data-sort-name="sizename"
                                       data-page-list="[5, 10, 20]"
                                       data-page-size="20"
                                       data-pagination="true" data-show-pagination-switch="false" class="table-bordered ">
                                    <thead class="thead-light">
                                        <tr>
                                            <th data-field="factoryname" data-sortable="true">@Html.DisplayNameFor(model => model.FactoryId) </th>
                                            <th data-field="coordinatorname" data-sortable="true">@Html.DisplayNameFor(model => model.CoordinatorId) </th>
                                            <th data-field="commercialname" data-sortable="true">@Html.DisplayNameFor(model => model.CommercialId) </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.ResponsibilitiesList != null && Model.ResponsibilitiesList.Count > 0)
                                        {
                                            foreach (var item in Model.ResponsibilitiesList)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.Factory.FactoryName) </td>
                                                    <td>@Html.DisplayFor(modelItem => item.Coordinator.FullName) </td>
                                                    <td>@Html.DisplayFor(modelItem => item.Commercial.FullName) </td>
                                                    <td>
                                                        <a href="@Url.Action("DeleteResponsibility", "Customers", new { customerId=Model.Id, customerResponsibilityId = item.Id})" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                                <tr>
                                                    <td>No responsibilities added.</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>



                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>
                                <a href="@Url.Action("Index", "Customers")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Go to Customers List</a>
                            </div>
                        }
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Add Features - Start -->
<div class="modal fade" id="add-sizes">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Sizes</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="text-left">
                            @Html.LabelFor(model => model.SizeId)
                            @Html.DropDownListFor(model => model.SizeId, new SelectList(Model.SizesList, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SizeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelSizeList" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btnAddSizeList" type="button" class="btn btn-primary btn-pill">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Add Features - End -->

<!-- Modal - Add Features - Start -->
<div class="modal fade" id="add-colors">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Colors</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="text-left">
                            @Html.LabelFor(model => model.ColorId)
                            @Html.DropDownListFor(model => model.ColorId, new SelectList(Model.ColorsList, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ColorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelColorList" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btnAddColorList" type="button" class="btn btn-primary btn-pill">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Add Features - End -->

<div class="modal fade" id="add-responsibilites">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Responsibilites</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="text-left">
                            @Html.LabelFor(model => model.FactoryId)
                            @Html.DropDownListFor(model => model.FactoryId, new SelectList(Model.Factories, "Id", "FactoryName"), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FactoryId, "", new { @class = "text-danger" })
                        </div>
                    
                        <div class="text-left">
                            @Html.LabelFor(model => model.CoordinatorId)
                            @Html.DropDownListFor(model => model.CoordinatorId, new SelectList(Model.Coordinators, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CoordinatorId, "", new { @class = "text-danger" })
                        </div>

                        <div class="text-left">
                            @Html.LabelFor(model => model.CommercialId)
                            @Html.DropDownListFor(model => model.CommercialId, new SelectList(Model.Commercials, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CommercialId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelResponsibilityList" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btnAddResponsibilityList" type="button" class="btn btn-primary btn-pill">Add</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    $("#btnAddSizeList").click(function (e) {
        if (window.FormData !== undefined) {

            // Create FormData object
            var fileData = new FormData();

            // Adding one more key to FormData object
            fileData.append('SizeName', $("#SizeId option:selected").text());
            fileData.append('Id', $("#Id").val());

            $.ajax({
                url: window.rootUrl + '/Customers/AddSize',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {

                    //$("#btnCancelSizeList").click();

                    if (result["success"] == false)
                        toastr.warning(result["message"]);
                    else {
                        toastr.success(result["message"])
                    }

                    var row = $("#WebGridSize tbody tr:last-child").clone(true);

                    $("#WebGridSize tbody tr").remove();

                    $.each(result["list"], function () {
                        var fileName = this;

                        $("td", row).eq(0).html(fileName["Name"]);
                        $("td", row).eq(1).html('<a href="' + window.rootUrl + '/Customers/DeleteSize?customerId=' + $("#Id").val() + '&customerSizeId=' + fileName["Id"] + '" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>');
                        $("#WebGridSize").append(row);
                        row = $("#WebGridSize tbody tr:last-child").clone(true);
                    });

                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });

    $("#btnAddColorList").click(function (e) {
        if (window.FormData !== undefined) {

            // Create FormData object
            var fileData = new FormData();

            // Adding one more key to FormData object
            fileData.append('ColorName', $("#ColorId option:selected").text());
            fileData.append('Id', $("#Id").val());

            $.ajax({
                url: window.rootUrl + '/Customers/AddColor',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {

                    if (result["success"] == false)
                        toastr.warning(result["message"]);
                    else {
                        toastr.success(result["message"])
                    }

                    var row = $("#WebGridColor tbody tr:last-child").clone(true);

                    $("#WebGridColor tbody tr").remove();

                    $.each(result["list"], function () {
                        var fileName = this;

                        $("td", row).eq(0).html(fileName["Name"]);
                        $("td", row).eq(1).html('<a href="' + window.rootUrl + '/Customers/DeleteColor?customerId=' + $("#Id").val() + '&customerColorId=' + fileName["Id"] + '" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>');
                        $("#WebGridColor").append(row);
                        row = $("#WebGridColor tbody tr:last-child").clone(true);
                    });

                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });


    $("#btnAddResponsibilityList").click(function (e) {
        if (window.FormData !== undefined) {

            // Create FormData object
            var fileData = new FormData();

            // Adding one more key to FormData object
            fileData.append('FactoryId', $("#FactoryId").val());
            fileData.append('CoordinatorId', $("#CoordinatorId").val());
            fileData.append('CommercialId', $("#CommercialId").val());
            fileData.append('Id', $("#Id").val());

            $.ajax({
                url: window.rootUrl + '/Customers/AddResponsibility',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {

                    //$("#btnCancelSizeList").click();

                    if (result["success"] == false)
                        toastr.warning(result["message"]);
                    else {
                        toastr.success(result["message"])
                    }

                    var row = $("#WebGridResponsibilites tbody tr:last-child").clone(true);

                    $("#WebGridResponsibilites tbody tr").remove();

                    $.each(result["list"], function () {
                        var fileName = this;

                        $("td", row).eq(0).html(fileName["FactoryName"]);
                        $("td", row).eq(1).html(fileName["CoordinatoryName"]);
                        $("td", row).eq(2).html(fileName["CommercialName"]);
                        $("td", row).eq(3).html('<a href="' + window.rootUrl + '/Customers/DeleteResponsibility?customerId=' + $("#Id").val() + '&customerResponsibilityId=' + fileName["Id"] + '" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>');
                        $("#WebGridResponsibilites").append(row);
                        row = $("#WebGridResponsibilites tbody tr:last-child").clone(true);
                    });

                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });

</script>