﻿@using SmartPlanner.BusinessLayer.Common
@model SmartPlanner.BusinessLayer.StyleDetail

@{
    if (Model == null || Model.Id > 0)
    {

        if(ViewBag.IsInquiry == Enums.EnumSMVInquiryType.Request)
        {
            ViewBag.Title = "SMV Revision Request";
            ViewBag.SubmitText = "SMV Revision Request";
        }
        else
        {
            ViewBag.Title = "Update Style Details";
            ViewBag.SubmitText = "Update";
        }

    }
    else
    {
        ViewBag.Title = "New SMV Inquiry";
        ViewBag.SubmitText = "Send";
    }

    if (Model == null || Model.Id > 0)
    {
        ViewBag.IsNewRequest = "form-control";
    }
    else
    {
        ViewBag.IsNewRequest = "form-control  disabled";
    }

}

<input type="hidden" id="tabWasModified" value="false" />

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText style details.
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Detail", "StyleDetails", new { id = Model.Id, isInquiry = ViewBag.IsInquiry }, FormMethod.Post,htmlAttributes: new { @class = "needs-validation", enctype = "multipart/form-data", onsubmit = "resetTabWasModified()" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.StyleNumber)
                                    @Html.TextBoxFor(model => model.StyleNumber, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StyleNumber, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-3">
                                    @Html.LabelFor(model => model.CreatedDate)
                                    @Html.TextBoxFor(model => model.CreatedDate,
                                            htmlAttributes: new { type = "date",
                                                @Value = Model.CreatedDate.HasValue?Model.CreatedDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                                @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-2">
                                    @Html.LabelFor(model => model.SampleStatusId)
                                    @Html.DropDownListFor(model => model.SampleStatusId, new SelectList(Model.SampleStatuses, "Id", "StatusName"), htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SampleStatusId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.IsMultiPiece, htmlAttributes: new { @class = "col-form-label d-block" })

                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.IsMultiPiece, true, htmlAttributes: new { id = "IsMultiPiece_Yes" })
                                        <label for="IsMultiPiece_Yes"> Yes </label>
                                    </div>
                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.IsMultiPiece, false, htmlAttributes: new { id = "IsMultiPiece_No" })
                                        <label for="IsMultiPiece_No"> No </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.IsConfirmed, htmlAttributes: new { @class = "col-form-label d-block" })

                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.IsConfirmed, true, htmlAttributes: new { id = "IsConfirmed_Yes" })
                                        <label for="IsConfirmed_Yes"> Yes </label>
                                    </div>
                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.IsConfirmed, false, htmlAttributes: new { id = "IsConfirmed_No" })
                                        <label for="IsConfirmed_No"> No </label>
                                    </div>
                                </div>

                            </div>

                            <div id="basicwizard">
                                <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                    <li class="nav-item">
                                        <a href="#general" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-account-circle mr-1"></i>
                                            <span class="d-none d-sm-inline">General</span>
                                        </a>
                                    </li>

                                    @if (Model.Id > 0)
                                    {
                                        <li class="nav-item">
                                            <a href="#products" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                <i class="mdi mdi-face-profile mr-1"></i>
                                                <span class="d-none d-sm-inline">Products</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#report" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                <i class="mdi mdi-printer mr-1"></i>
                                                <span class="d-none d-sm-inline">Style Sheet</span>
                                            </a>
                                        </li>
                                    }

                                </ul>

                                <div class="tab-content b-0 mb-0">

                                    <div class="tab-pane" id="general">

                                        <div class="border border-light p-2 mb-3">

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.BuyerId)
                                                    @Html.DropDownListFor(model => model.BuyerId, new SelectList(Model.Buyers, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CustomerId)
                                                    @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.Customers, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.DivisionId)
                                                    @Html.DropDownListFor(model => model.DivisionId, new SelectList(Model.Divisions, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.Department)
                                                    @Html.TextBoxFor(model => model.Department, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SampleStage)
                                                    @Html.TextBoxFor(model => model.SampleStage, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SampleStage, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.FabricTypeId)
                                                    @Html.DropDownListFor(model => model.FabricTypeId, new SelectList(Model.FabricTypes, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.FabricTypeId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.OrderQty)
                                                    @Html.TextBoxFor(model => model.OrderQty, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                                                   data_bts_max = "9999999999",
                                                   onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                                    @Html.ValidationMessageFor(model => model.OrderQty, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SpecialConcern)
                                                    @Html.TextBoxFor(model => model.SpecialConcern, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SpecialConcern, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.RevisionSampleStage)
                                                    @Html.TextBoxFor(model => model.RevisionSampleStage, htmlAttributes: new { @class = @ViewBag.IsNewRequest })
                                                    @Html.ValidationMessageFor(model => model.RevisionSampleStage, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ReasonToRevise)
                                                    @Html.TextBoxFor(model => model.ReasonToRevise, htmlAttributes: new { @class = @ViewBag.IsNewRequest })
                                                    @Html.ValidationMessageFor(model => model.ReasonToRevise, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.OptionRequest)
                                                    @Html.TextBoxFor(model => model.OptionRequest, htmlAttributes: new { @class = @ViewBag.IsNewRequest })
                                                    @Html.ValidationMessageFor(model => model.OptionRequest, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SpecialInstruction)
                                                    @Html.TextBoxFor(model => model.SpecialInstruction, htmlAttributes: new { @class = @ViewBag.IsNewRequest })
                                                    @Html.ValidationMessageFor(model => model.SpecialInstruction, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CostingDeadline)
                                                    @Html.TextBoxFor(model => model.CostingDeadline,
                                             htmlAttributes: new
                                             {
                                                 type = "date",
                                                 @Value = Model.CostingDeadline.HasValue ? Model.CostingDeadline.Value.ToString("yyyy-MM-dd") : string.Empty,
                                                 @class = "form-control"
                                             })
                                                    @Html.ValidationMessageFor(model => model.CostingDeadline, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.Description)
                                                    @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = @ViewBag.IsNewRequest })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.MerchantId)
                                                    @Html.DropDownListFor(model => model.MerchantId, new SelectList(Model.Merchants, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MerchantId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.IEId)
                                                    @Html.DropDownListFor(model => model.IEId, new SelectList(Model.IndustrialEngineers, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IEId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="border border-light p-2 mb-3">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        @Html.LabelFor(model => model.SketchFile)
                                                        @Html.TextBoxFor(m => m.SketchFile, new { type = "file", @class = "form-control-file" })
                                                        @Html.TextBoxFor(m => m.SketchFileName, htmlAttributes: new { @class = "form-control mt-2", @readonly = true })
                                                        @Html.TextBoxFor(m => m.OldSketchFileName, htmlAttributes: new { @class = "form-control hidden" })
                                                        <a href="@Url.Action("Index", "Home")@Model.SketchFilePath" class="btn btn-outline-primary waves-effect waves-light mt-2 @(Model.SketchFileName == "" ? "disabled" : string.Empty)" id="download-sketch" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="border border-light p-2 mb-3">
                                                <h5>Planning board color management</h5>

                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.PlannedColor)
                                                        <div id="component-colorpicker" class="input-group" title="Using format option">
                                                            @Html.TextBoxFor(model => model.PlannedColor, htmlAttributes: new { @class = "form-control input-lg" })
                                                            <span class="input-group-append">
                                                                <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.ActualColor)
                                                        <div id="component-colorpickeractual" class="input-group" title="Using format option">
                                                            @Html.TextBoxFor(model => model.ActualColor, htmlAttributes: new { @class = "form-control input-lg" })
                                                            <span class="input-group-append">
                                                                <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.ChangedColor)
                                                        <div id="component-colorpickerchanged" class="input-group" title="Using format option">
                                                            @Html.TextBoxFor(model => model.ChangedColor, htmlAttributes: new { @class = "form-control input-lg" })
                                                            <span class="input-group-append">
                                                                <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    @if (Model.Id > 0)
                                    {
                                        <div class="tab-pane" id="products">

                                            <div class="form-row" style="height:100%">

                                                <div class="form-group  col-md-12">
                                                    <div class="border border-light p-2 mb-3">
                                                        <h5>Products of the Style</h5>

                                                        @if (!Model.IsMultiPiece && Model.StyleProducts != null && Model.StyleProducts.Count > 0)
                                                        {
                                                            ViewBag.IsMulti = "disabled";
                                                        }
                                                        else
                                                        {
                                                            ViewBag.IsMulti = "";
                                                        }

                                                        @if (Helper.GetAccessType(Enums.EnumAccessModules.StyleManagementIE).Equals(Enums.UserAccessType.ReadWrite))
                                                        {
                                                            <a class="btn btn-outline-primary waves-effect waves-light mb-3 mt-2 @ViewBag.IsMulti" data-toggle="modal" data-target="#add-product"><i class="mdi mdi mdi-image-plus mr-1"></i>Add Product</a>
                                                        }


                                                        <table id="WebGridStyleProduct" data-toggle="table"
                                                               data-search="false"
                                                               data-show-refresh="false"
                                                               data-show-columns="false"
                                                               data-sort-name="productname"
                                                               data-page-list="[5, 10, 20]"
                                                               data-page-size="10"
                                                               data-pagination="false" data-show-pagination-switch="false" class="table-bordered ">
                                                            <thead class="thead-light">
                                                                <tr>
                                                                    <th data-field="productname" data-sortable="true">Product</th>

                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.StyleProducts != null)
                                                                {
                                                                    if (Model.StyleProducts.Count > 0)
                                                                    {
                                                                        foreach (var item in Model.StyleProducts)
                                                                        {
                                                                            <tr>
                                                                                <td>@Html.DisplayFor(modelItem => item.Name) </td>
                                                                                <td>
                                                                                    <a href="@Url.Action("Detail", "StyleProducts", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a> |
                                                                                    <a href="@Url.Action("Delete", "StyleProducts", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                    <td>No products added</td>
                                                                    <td></td>

                                                                    }
                                                                }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>

                                        <div class="tab-pane" id="report">
                                            <div class="form-row" style="height:100%">
                                                <div class="form-group  col-md-12">
                                                    <div class="border border-light p-2 mb-3">
                                                        <div class="row" id="divReport"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div> <!-- tab-content -->

                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value="@ViewBag.SubmitText">

                                @if (ViewBag.IsInquiry == Enums.EnumSMVInquiryType.Request && ViewBag.InquiryRevisionId > 0)
                                {
                                    <a href="@Url.Action("Detail", "StyleDetails", new { id = Model.Id, isInquiry = ViewBag.IsInquiry})" data-form-method="post" class="btn btn-outline-blue waves-effect waves-light" id="rev-request"><i class="mdi mdi-crop mr-1"></i>SMV Revision Request</a>
                                }

                                @if (ViewBag.IsInquiry == Enums.EnumSMVInquiryType.Accept && ViewBag.InquiryRevisionId > 0)
                                {
                                    <a href="@Url.Action("Detail", "StyleDetails", new { id = Model.Id, isInquiry = ViewBag.IsInquiry, inquiryRevisionId = ViewBag.InquiryRevisionId})" data-form-method="post" class="btn btn-outline-blue waves-effect waves-light" id="rev-request"><i class="mdi mdi-crop mr-1"></i>Respond SMV Inquiry</a>
                                }

                                <a href="@Url.Action("Index", "StyleDetails")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-crop mr-1"></i>Go to SMV Bank</a>
                            </div>
                        }
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>


<!-- Modal - Add Product - Start -->
<div class="modal fade" id="add-product">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Products</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group  col-md-12">
                        @Html.LabelFor(model => model.ProductId)
                        @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.Products, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelProduct" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btnAddProduct" type="button" class="btn btn-primary btn-pill">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Add Product - End -->


<script type="text/javascript">

    window.addEventListener('beforeunload', function (e) {

        var modified = $('#tabWasModified').val();

        if (modified === 'true') {
            // Cancel the event
            e.preventDefault();
            // Chrome requires returnValue to be set
            e.returnValue = "You have changes pending on save in this page, if you continue you'll lose these changes.\nDo you want to continue?";
        }
    });

    $(document).ready(function () {

        var styleId = $('#Id').val();

        if (styleId > 0)
        {
            //ASPX page URL to load report
            var src = window.rootUrl + '/Reports/ReportViewer.aspx?';
            //We can add parameters here
            src = src + "reportNo=" + 15 +"&styleId=" + styleId;

            //Create a dynamic iframe here and append this to div tag
            var iframe = '<iframe id="reportFrame" width="100%" height="800px" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
            $("#divReport").html(iframe);

        }

        AddOnChangeEvent();

        $("#basicwizard").bootstrapWizard();

        $("#CategoryId").change(function () {
            LoadSubCategories();
        });

        $("#btnAddProduct").click(function (e) {

            if (window.FormData !== undefined) {

                // Create FormData object
                var fileData = new FormData();

                // Adding one more key to FormData object
                fileData.append('StyleId', $("#Id").val());
                fileData.append('ProductId', $("#ProductId option:selected").val());

                $.ajax({
                    url: window.rootUrl + '/StyleDetails/AddProducts',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                        $("#btnCancelProduct").click();

                        resetTabWasModified();

                        var row = $("#WebGridStyleProduct tbody tr:last-child").clone(true);

                        $("#WebGridStyleProduct tbody tr").remove();

                        $.each(result, function () {
                            var fileName = this;

                            var productName = "";

                            if (fileName["Product"] != null) {
                                productName = fileName["Product"]["ConfigValue"];
                            }

                            $("td", row).eq(0).html(productName);
                            $("td", row).eq(1).html('<a href="' + window.rootUrl + '/StyleProducts/Detail/' + fileName["Id"] + '" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>|<a href="' + window.rootUrl + '/StyleProducts/Delete/' + fileName["Id"] + '" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>');

                            $("#WebGridStyleProduct").append(row);
                            row = $("#WebGridStyleProduct tbody tr:last-child").clone(true);
                        });

                        if ($("#IsMultiPiece_No").is(":checked") && result.length>0) {
                            document.getElementById("btnAddProduct").disabled = true;

                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });

        $("a[data-form-method='post']").click(function (event) {
            event.preventDefault();
            var element = $(this);
            var action = element.attr("href");
            element.closest("form").each(function () {
                var form = $(this);
                form.attr("action", action);
                form.submit();
            });
        });
    });

    function resetTabWasModified() {
        $('#tabWasModified').val(false);
    }

    $('#SketchFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#SketchFileName").val(this.files[0].name);
        }
    });

    $('#ThreadSheetFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#ThreadSheetFileName").val(this.files[0].name);
        }
    });

    $('#TrimConsumptionFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#TrimConsumptionFileName").val(this.files[0].name);
        }
    });

    $('#PPRAReportFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#PPRAReportFileName").val(this.files[0].name);
        }
    });

    function LoadSubCategories() {

        var categoryId = $('#CategoryId option:selected').val();
        var subCategoryId = $('#SubCategoryId option:selected').val();

        if (categoryId === undefined) return;
        $.ajax({
            type: "GET",
            url: window.rootUrl + "/styledetails/GetSubCategories",
            data: { category: categoryId },
            success: function (data) {
                var s = '<option value="-1">Select One...</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].Id + '">' + data[i].SubCategoryName + '</option>';
                }
                $("#SubCategoryId").html(s);
                //$('#styleId option:selected').val(styleId);
                $("#SubCategoryId > [value=" + subCategoryId + "]").attr("selected", "true");
            }
        });
    };

</script>
