﻿@model SmartPlanner.BusinessLayer.StyleDetail

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Style Details";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "New Style Detail";
        ViewBag.SubmitText = "Create";
    }

    //WebGrid gridFeatures = new WebGrid(Model.FeatureList, canSort: true, canPage: false);
    //WebGrid gridAdditionalFiles = new WebGrid(Model.AdditionalInformationFileNames, canSort: true, canPage: false);

    List<WebGridColumn> cols = new List<WebGridColumn>();
    //cols.Add(grid.Column("FeatureList", "Feature"));
}


<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText style details.
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Detail", "StyleDetails", FormMethod.Post, htmlAttributes: new { @class = "needs-validation", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.StyleNumber)
                                @Html.TextBoxFor(model => model.StyleNumber, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StyleNumber, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  col-md-3">
                                @Html.LabelFor(model => model.CreatedDate)
                                @Html.TextBoxFor(model => model.CreatedDate,
                                        htmlAttributes: new { type = "date",
                                            @Value = Model.CreatedDate.HasValue?Model.CreatedDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                            @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  col-md-2">
                                @Html.LabelFor(model => model.SampleStatusId)
                                @Html.DropDownListFor(model => model.SampleStatusId, new SelectList(Model.SampleStatuses, "Id", "StatusName"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SampleStatusId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.IsMultiPiece, htmlAttributes: new { @class = "col-form-label d-block" })

                                <div class="radio form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsMultiPiece, true, htmlAttributes: new { id = "IsMultiPiece_Yes" })
                                    <label for="IsMultiPiece_Yes"> Yes </label>
                                </div>
                                <div class="radio form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsMultiPiece, false, htmlAttributes: new { id = "IsMultiPiece_No" })
                                    <label for="IsMultiPiece_No"> No </label>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.IsConfirmed, htmlAttributes: new { @class = "col-form-label d-block" })

                                <div class="radio form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsConfirmed, true, htmlAttributes: new { id = "IsConfirmed_Yes" })
                                    <label for="IsConfirmed_Yes"> Yes </label>
                                </div>
                                <div class="radio form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsConfirmed, false, htmlAttributes: new { id = "IsConfirmed_No" })
                                    <label for="IsConfirmed_No"> No </label>
                                </div>
                            </div>

                        </div>

                            <div id="basicwizard">
                                <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                    <li class="nav-item">
                                        <a href="#general" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-account-circle mr-1"></i>
                                            <span class="d-none d-sm-inline">General</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#uservalues" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                            <span class="d-none d-sm-inline">User Values</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#files" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-image mr-1"></i>
                                            <span class="d-none d-sm-inline">Files</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#misc" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            <i class="mdi mdi-face-profile mr-1"></i>
                                            <span class="d-none d-sm-inline">Misc</span>
                                        </a>
                                    </li>

                                </ul>

                                <div class="tab-content b-0 mb-0">

                                    <div class="tab-pane" id="general">

                                        <div class="border border-light p-2 mb-3">

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.BuyerId)
                                                    @Html.DropDownListFor(model => model.BuyerId, new SelectList(Model.Buyers, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CustomerId)
                                                    @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.Customers, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.DivisionId)
                                                    @Html.DropDownListFor(model => model.DivisionId, new SelectList(Model.Divisions, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.Department)
                                                    @Html.TextBoxFor(model => model.Department, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.MerchantId)
                                                    @Html.DropDownListFor(model => model.MerchantId, new SelectList(Model.Merchants, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MerchantId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SampleStage)
                                                    @Html.TextBoxFor(model => model.SampleStage, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SampleStage, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">

                                                @*<div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductTypeId)
                                                    @Html.DropDownListFor(model => model.ProductTypeId, new SelectList(Model.ProductTypes, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProductTypeId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductGroupId)
                                                    @Html.DropDownListFor(model => model.ProductGroupId, new SelectList(Model.ProductGroups, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProductGroupId, "", new { @class = "text-danger" })
                                                </div>*@

                                            </div>

                                            <div class="form-row">
                                                @*<div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductId)
                                                    @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.Products, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductHierarchy)
                                                    @Html.TextBoxFor(model => model.ProductHierarchy, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProductHierarchy, "", new { @class = "text-danger" })
                                                </div>*@
                                            </div>

                                            <div class="form-row">
                                                @*<div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CategoryId)
                                                    @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SubCategoryId)
                                                    @Html.DropDownListFor(model => model.SubCategoryId, new SelectList(Model.SubCategories, "Id", "SubCategoryName"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                                                </div>*@
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductReference)
                                                    @Html.TextBoxFor(model => model.ProductReference, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProductReference, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.Description)
                                                    @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.OrderQty)
                                                    @Html.TextBoxFor(model => model.OrderQty, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                                                   data_bts_max = "9999999999",
                                                   onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                                    @Html.ValidationMessageFor(model => model.OrderQty, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.IEId)
                                                    @Html.DropDownListFor(model => model.IEId, new SelectList(Model.IndustrialEngineers, "Id", "FullName"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IEId, "", new { @class = "text-danger" })
                                                </div>

                                                @*<div class="form-group  col-md-6">
            <h5>Features List</h5>
            <a class="btn btn-outline-primary waves-effect waves-light mb-2 @(Model.Id == 0 ? "disabled" : string.Empty)" data-toggle="modal" data-target="#add-features"><i class="mdi mdi mdi-playlist-plus mr-1"></i>Add Features</a>

            @gridFeatures.GetHtml(
            htmlAttributes: new { @id = "WebGridFeature", @class = "Grid" },
            tableStyle: "table-bordered table",
            columns: new[] {
                    gridFeatures.Column(header:"Features", format: (item) => item)
                })
        </div>*@
                                            </div>

                                        </div>

                                    </div>

                                    <div class="tab-pane" id="uservalues">
                                        <div class="border border-light p-2 mb-3">
                                            <div class="form-row">
                                                @*<div class="form-group  col-md-6">
                    @Html.LabelFor(model => model.CostSMV)
                    @Html.TextBoxFor(model => model.CostSMV, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                   data_bts_max = "9999999999",
                        onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                    @Html.ValidationMessageFor(model => model.CostSMV, "", new { @class = "text-danger" })
                </div>

                <div class="form-group  col-md-6">
                    @Html.LabelFor(model => model.ProductionSMV)
                    @Html.TextBoxFor(model => model.ProductionSMV, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                   data_bts_max = "9999999999",
                        onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                    @Html.ValidationMessageFor(model => model.ProductionSMV, "", new { @class = "text-danger" })
                </div>*@

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.OperationId)
                                                    @Html.DropDownListFor(model => model.OperationId, new SelectList(Model.Operations, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.OperationId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.TotalSMV)
                                                    @Html.TextBoxFor(model => model.TotalSMV, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                                                   data_bts_max = "9999999999",
                                                        onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                                    @Html.ValidationMessageFor(model => model.TotalSMV, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                @*<div class="form-group  col-md-6">
                    @Html.LabelFor(model => model.SpecialMachine)
                    @Html.TextBoxFor(model => model.SpecialMachine, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SpecialMachine, "", new { @class = "text-danger" })
                </div>

                <div class="form-group  col-md-6">
                    @Html.LabelFor(model => model.SpecialProcess)
                    @Html.TextBoxFor(model => model.SpecialProcess, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SpecialProcess, "", new { @class = "text-danger" })
                </div>*@
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CustomerComment)
                                                    @Html.TextBoxFor(model => model.CustomerComment, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CustomerComment, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.FabricTypeId)
                                                    @Html.DropDownListFor(model => model.FabricTypeId, new SelectList(Model.FabricTypes, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.FabricTypeId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SpecialConcern)
                                                    @Html.TextBoxFor(model => model.SpecialConcern, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SpecialConcern, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.RevisionSampleStage)
                                                    @Html.TextBoxFor(model => model.RevisionSampleStage, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.RevisionSampleStage, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ReasonToRevise)
                                                    @Html.TextBoxFor(model => model.ReasonToRevise, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ReasonToRevise, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.OptionRequest)
                                                    @Html.TextBoxFor(model => model.OptionRequest, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.OptionRequest, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SpecialInstruction)
                                                    @Html.TextBoxFor(model => model.SpecialInstruction, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.SpecialInstruction, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CostingDeadline)
                                                    @Html.TextBoxFor(model => model.CostingDeadline,
                                                        htmlAttributes: new { type = "date",
                                                            @Value = Model.CostingDeadline.HasValue?Model.CostingDeadline.Value.ToString("yyyy-MM-dd"):string.Empty,
                                                            @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CostingDeadline, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="border border-light p-2 mb-3">
                                            <h5>Planning board color management</h5>

                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.PlannedColor)
                                                    <div id="component-colorpicker" class="input-group" title="Using format option">
                                                        @Html.TextBoxFor(model => model.PlannedColor, htmlAttributes: new { @class = "form-control input-lg" })
                                                        <span class="input-group-append">
                                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.ActualColor)
                                                    <div id="component-colorpickeractual" class="input-group" title="Using format option">
                                                        @Html.TextBoxFor(model => model.ActualColor, htmlAttributes: new { @class = "form-control input-lg" })
                                                        <span class="input-group-append">
                                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.ChangedColor)
                                                    <div id="component-colorpickerchanged" class="input-group" title="Using format option">
                                                        @Html.TextBoxFor(model => model.ChangedColor, htmlAttributes: new { @class = "form-control input-lg" })
                                                        <span class="input-group-append">
                                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="files">

                                        <div class="border border-light p-2 mb-3">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => model.SketchFile)
                                                    @Html.TextBoxFor(m => m.SketchFile, new { type = "file", @class = "form-control-file" })
                                                    @Html.TextBoxFor(m => m.SketchFileName, htmlAttributes: new { @class = "form-control mt-2", @readonly = true })
                                                    @Html.TextBoxFor(m => m.OldSketchFileName, htmlAttributes: new { @class = "form-control hidden" })
                                                    <a href="@Url.Action("Index", "Home")@Model.SketchFilePath" class="btn btn-outline-primary waves-effect waves-light mt-2 @(Model.SketchFileName == "" ? "disabled" : string.Empty)" id="download-sketch" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>
                                                    <hr />
                                                </div>

                                                @*<div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ThreadSheetFile)
                                                    @Html.TextBoxFor(m => m.ThreadSheetFile, new { type = "file", @class = "form-control-file" })
                                                    @Html.TextBoxFor(m => m.ThreadSheetFileName, htmlAttributes: new { @class = "form-control mt-2", @readonly = true })
                                                    <a href="@Url.Action("Index", "Home")@Model.ThreadSheetFilePath" class="btn btn-outline-primary waves-effect waves-light mt-2 @(Model.ThreadSheetFileName == "" ? "disabled" : string.Empty)" id="download-thread-sheet" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>
                                                    <hr />
                                                </div>*@

                                            </div>

                                            <div class="form-row">
                                                @*<div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.TrimConsumptionFile)
                                                    @Html.TextBoxFor(m => m.TrimConsumptionFile, new { type = "file", @class = "form-control-file" })
                                                    @Html.TextBoxFor(m => m.TrimConsumptionFileName, htmlAttributes: new { @class = "form-control mt-2", @readonly = true })
                                                    <a href="@Url.Action("Index", "Home")@Model.TrimConsumptionFilePath" class="btn btn-outline-primary waves-effect waves-light mt-2 @(Model.TrimConsumptionFileName == "" ? "disabled" : string.Empty)" id="download-trim-consumption" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>
                                                    <hr />
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.PPRAReportFile)
                                                    @Html.TextBoxFor(m => m.PPRAReportFile, new { type = "file", @class = "form-control-file" })
                                                    @Html.TextBoxFor(m => m.PPRAReportFileName, htmlAttributes: new { @class = "form-control mt-2", @readonly = true })
                                                    <a href="@Url.Action("Index", "Home")@Model.PPRAReportFilePath" class="btn btn-outline-primary waves-effect waves-light mt-2 @(Model.PPRAReportFileName == "" ? "disabled" : string.Empty)" id="download-ppra-report" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>
                                                    <hr />
                                                </div>*@

                                            </div>
                                        </div>

                                        <div class="border border-light p-2 mb-3">
                                            @*<div class="form-row">
                                                <div class="form-group  col-md-12">
                                                    <h5>Additional Files</h5>
                                                    <a class="btn btn-outline-primary waves-effect waves-light @(Model.Id == 0 ? "disabled" : string.Empty)" data-toggle="modal" data-target="#add-documents"><i class="mdi mdi mdi-image-plus mr-1"></i>Add Documents</a>
                                                </div>
                                                <div class="form-group  col-md-6">


                                                    <table id="WebGridFile" data-toggle="table"
                                                           data-search="false"
                                                           data-show-refresh="false"
                                                           data-show-columns="false"
                                                           data-sort-name="splitid"
                                                           data-page-list="[5, 10, 20]"
                                                           data-page-size="20"
                                                           data-pagination="true" data-show-pagination-switch="false" class="table-bordered ">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th data-field="filename" data-sortable="true">@Html.DisplayNameFor(model => model.AdditionalInformationFileName.FileName) </th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.AdditionalInformationFileNames)
                                                            {
                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => item.FileName) </td>
                                                                    <td>
                                                                        <a href="@Url.Action("Index", "Home")@item.FilePath" class="btn btn-outline-primary waves-effect waves-light mt-2" id="download-ppra-report" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="misc">

                                        <div class="border border-light p-2 mb-3">

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.BaseStyle)
                                                    @Html.TextBoxFor(model => model.BaseStyle, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BaseStyle, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.CustomerCode)
                                                    @Html.TextBoxFor(model => model.CustomerCode, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CustomerCode, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ProductDesc)
                                                    @Html.TextBoxFor(model => model.ProductDesc, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ProductDesc, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.DesignReference)
                                                    @Html.TextBoxFor(model => model.DesignReference, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.DesignReference, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.EDescription)
                                                    @Html.TextBoxFor(model => model.EDescription, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.EDescription, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.GraphicNumber)
                                                    @Html.TextBoxFor(model => model.GraphicNumber, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.GraphicNumber, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.NoOfSheets)
                                                    @Html.TextBoxFor(model => model.NoOfSheets, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                                                   data_bts_max = "9999999999",
                                                        onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                                    @Html.ValidationMessageFor(model => model.NoOfSheets, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SetValue)
                                                    @Html.TextBoxFor(model => model.SetValue, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                                                   data_bts_max = "9999999999",
                                                        onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                                    @Html.ValidationMessageFor(model => model.SetValue, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.SgBom)
                                                    @Html.TextBoxFor(model => model.SgBom, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                                                   data_bts_max = "9999999999",
                                                        onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                                    @Html.ValidationMessageFor(model => model.SgBom, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.MaterialCode)
                                                    @Html.TextBoxFor(model => model.MaterialCode, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MaterialCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.OrderCode)
                                                    @Html.TextBoxFor(model => model.OrderCode, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.OrderCode, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.FGCode)
                                                    @Html.TextBoxFor(model => model.FGCode, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.FGCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.TimeTableId)
                                                    @Html.DropDownListFor(model => model.TimeTableId, new SelectList(Model.TimeTables, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.TimeTableId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.LaunchedDate)
                                                    @Html.TextBoxFor(model => model.LaunchedDate,
                                                        htmlAttributes: new { type = "date",
                                                            @Value = Model.LaunchedDate.HasValue?Model.LaunchedDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                                            @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.LaunchedDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.AppearanceId)
                                                    @Html.DropDownListFor(model => model.AppearanceId, new SelectList(Model.AppearanceList, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.AppearanceId, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group  col-md-6">
                                                    @Html.LabelFor(model => model.ColorCode)
                                                    @Html.TextBoxFor(model => model.ColorCode, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ColorCode, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            
                                        </div>

                                        
                                    </div>

                                </div> <!-- tab-content -->

                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>
                                <a href="@Url.Action("Index", "StyleDetails")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-crop mr-1"></i>Go to Styles List</a>
                            </div>
                        }
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>

<!-- Modal - Add Documents - Start -->
@*<div class="modal fade" id="add-documents">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Documents</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="text-left">
                            
                            @Html.TextBoxFor(m => m.AdditionalInformationFiles, new { type = "file" })
                            <br />
                            @Html.ValidationMessageFor(m => m.AdditionalInformationFiles, "", new { @class = "error" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelAdditionalFile" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btnAddAdditionalFile" type="button" class="btn btn-primary btn-pill">Add</button>
            </div>
        </div>
    </div>
</div>*@
<!-- Modal - Add Documents - End -->

<!-- Modal - Add Features - Start -->
@*<div class="modal fade" id="add-features">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Features</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="text-left">
                            @Html.LabelFor(model => model.FeatureId)
                            @Html.DropDownListFor(model => model.FeatureId, new SelectList(Model.FeaturesList, "Id", "ConfigValue"), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FeatureId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelFeatureList" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btnAddFeatureList" type="button" class="btn btn-primary btn-pill">Add</button>
            </div>
        </div>
    </div>
</div>*@
<!-- Modal - Add Features - End -->


<script type="text/javascript">
    $(document).ready(function () {
        $("#basicwizard").bootstrapWizard();

        $("#CategoryId").change(function () {
            LoadSubCategories();
        });

    });

    $('#SketchFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#SketchFileName").val(this.files[0].name);
        }
    });

    $('#ThreadSheetFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#ThreadSheetFileName").val(this.files[0].name);
        }
    });

    $('#TrimConsumptionFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#TrimConsumptionFileName").val(this.files[0].name);
        }
    });

    $('#PPRAReportFile').change(function (event) {
        if (this.files && this.files[0]) {
            $("#PPRAReportFileName").val(this.files[0].name);
        }
    });

    $("#btnAddAdditionalFile").click(function (e) {
        if (window.FormData !== undefined) {

            //debugger;
            var fileUpload = $("#AdditionalInformationFiles").get(0);
            var files = fileUpload.files;

            var fileSize = files[0].size / 1024 / 1024;
            if (fileSize > 10) {
                alert("Files size is larger than 10 MB");
            }

            // Create FormData object
            var fileData = new FormData();

            // Adding one more key to FormData object
            fileData.append("AdditionalInformationFiles", files[0]);
            fileData.append('Id', $("#Id").val());

            $.ajax({
                url: window.rootUrl + '/StyleDetails/AddAdditionalFile',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {

                    $("#btnCancelAdditionalFile").click();

                    $("#AdditionalInformationFiles").val('');

                    var row = $("#WebGridFile tbody tr:last-child").clone(true);

                    $("#WebGridFile tbody tr").remove();

                    $.each(result, function () {
                        var fileName = this;
                        //$("td", row).eq(0).html(fileName);
                        $("td", row).eq(0).html(fileName["FileName"]);
                        $("td", row).eq(1).html('<a href="' + window.rootUrl+fileName["FilePath"]+'" class="btn btn-outline-primary waves-effect waves-light mt-2" id="download-ppra-report" download><i class="mdi mdi-file-download-outline mr-1"></i>Download</a>');
                        $("#WebGridFile").append(row);
                        row = $("#WebGridFile tbody tr:last-child").clone(true);
                    });

                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });

    $("#btnAddFeatureList").click(function (e) {
        if (window.FormData !== undefined) {

            // Create FormData object
            var fileData = new FormData();

            // Adding one more key to FormData object
            fileData.append('FeatureName', $("#FeatureId option:selected").text());
            fileData.append('Id', $("#Id").val());

            $.ajax({
                url: window.rootUrl + '/StyleDetails/AddFeature',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {

                    console.log(result);

                    $("#btnCancelFeatureList").click();

                    var row = $("#WebGridFeature tbody tr:last-child").clone(true);

                    $("#WebGridFeature tbody tr").remove();

                    $.each(result, function () {
                        var fileName = this;
                        $("td", row).eq(0).html(fileName);
                        $("#WebGridFeature").append(row);
                        row = $("#WebGridFeature tbody tr:last-child").clone(true);
                    });

                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });

    function LoadSubCategories() {

        var categoryId = $('#CategoryId option:selected').val();
        var subCategoryId = $('#SubCategoryId option:selected').val();

        if (categoryId === undefined) return;
        $.ajax({
            type: "GET",
            url: window.rootUrl + "/styledetails/GetSubCategories",
            data: { category: categoryId },
            success: function (data) {
                var s = '<option value="-1">Select One...</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].Id + '">' + data[i].SubCategoryName + '</option>';
                }
                $("#SubCategoryId").html(s);
                //$('#styleId option:selected').val(styleId);
                $("#SubCategoryId > [value=" + subCategoryId + "]").attr("selected", "true");
            }
        });
    };
</script>
