﻿@using SmartPlanner.BusinessLayer.Common
@model IEnumerable<SmartPlanner.BusinessLayer.StyleDetail>

@{
    ViewBag.Title = "Manage Styles";
}

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Manage Styles</li>
                    </ol>
                </div>
                <h4 class="page-title">Manage SMV Bank</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to manage the SMV of your organization processes.
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }
                <!-- End Display the message as a dismissable alert -->
                @if (Helper.GetAccessType(Enums.EnumAccessModules.SMVManagement).Equals(Enums.UserAccessType.ReadWrite))
                {
                    <a href="@Url.Action("Detail", "StyleDetails")" class="btn btn-primary btn-rounded waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-crop mr-1"></i>New SMV Inquiry</a>
                }

                <table id="demo-custom-toolbar" data-toggle="table"
                       data-toolbar="#demo-delete-row"
                       data-search="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-sort-name="stylenumber"
                       data-page-list="[5, 10, 20]"
                       data-page-size="10"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">

                    <thead class="thead-light">
                        <tr>
                            <th data-field="buyer" data-sortable="true">@Html.DisplayNameFor(model => model.BuyerId)</th>
                            <th data-field="customer" data-sortable="true">@Html.DisplayNameFor(model => model.CustomerId)</th>
                            <th data-field="division" data-sortable="true">@Html.DisplayNameFor(model => model.DivisionId)</th>
                            <th data-field="department" data-sortable="true">@Html.DisplayNameFor(model => model.Department)</th>
                            <th data-field="stylenumber" data-sortable="true">@Html.DisplayNameFor(model => model.StyleNumber)</th>
                            <th data-field="productionsmv" data-sortable="true">@Html.DisplayNameFor(model => model.ProductionSMV)</th>
                            <th data-field="costsmv" data-sortable="true">@Html.DisplayNameFor(model => model.CostSMV)</th>
                            <th data-field="cm" data-sortable="true">@Html.DisplayNameFor(model => model.CM)</th>
                            <th data-field="samplestatusid" data-sortable="true">@Html.DisplayNameFor(model => model.SampleStatusId)</th>
                            <th data-field="isconfirmed" data-sortable="true">@Html.DisplayNameFor(model => model.IsConfirmed)</th>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.StyleManagement).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <th></th>
                            }
                            @if (Helper.GetAccessType(Enums.EnumAccessModules.SMVManagement).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Buyer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Division.ConfigValue)</td>
                            <td>@Html.DisplayFor(modelItem => item.Department)</td>
                            <td>@Html.DisplayFor(modelItem => item.StyleNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.ProductionSMV)</td>
                            <td>@Html.DisplayFor(modelItem => item.CostSMV)</td>
                            <td>@Html.DisplayFor(modelItem => item.CM)</td>
                            <td>@Html.DisplayFor(modelItem => item.SampleStatus.StatusName)</td>
                            <td>@Html.DisplayFor(modelItem => item.IsConfirmed)</td>

                            @if (Helper.GetAccessType(Enums.EnumAccessModules.StyleManagement).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("Detail", "StyleDetails", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a> |
                                    <a href="@Url.Action("Delete", "StyleDetails", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                                </td>
                            }
                            @if (Helper.GetAccessType(Enums.EnumAccessModules.SMVManagement).Equals(Enums.UserAccessType.ReadWrite))
                            {
                                <td>
                                    <a href="@Url.Action("Detail", "StyleDetails", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a> |
                                    <a href="@Url.Action("Detail", "StyleDetails", new { id = item.Id, isInquiry=2 })" class="btn btn-info btn-sm"><i class="fa fa-edit"></i>SMV Revision Inquiry</a>
                                </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>
