﻿@model SmartPlanner.BusinessLayer.DTOs.DashBoardDTO

@{
    ViewBag.Title = "Dashboard";
}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form class="form-inline">
                        <div class="form-group mr-5">
                            <div class="col-12">
                                @Html.DropDownListFor(model => model.FactoryNameId, new SelectList(Model.FactoryNames, "Id", "FactoryName"), htmlAttributes: new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control border-white" id="dash-daterange">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-blue border-blue text-white">
                                        <i class="mdi mdi-calendar-range font-13"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-2">
                            <i class="mdi mdi-autorenew"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-1">
                            <i class="mdi mdi-filter-variant"></i>
                        </a>
                    </form>
                </div>
                <h4 class="page-title">Dashboard</h4>
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-warning alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div id="dashboard-stat">

    </div>

    @if (SmartPlanner.BusinessLayer.Common.GV.LoggedUser().UserLevelId.Equals(1))
    {
        <div id="planner-email" class="col-md-12">
            <h5>Reminder to Planner</h5>
            <a class="btn btn-outline-primary waves-effect waves-light mb-2" id="btn-planner-reminder"><i class="mdi mdi mdi-email mr-1"></i>Send</a>
        </div>
    }
</div> <!-- container -->

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            loadDashboardStats();

            $("#FactoryNameId").change(function (event) {
                loadDashboardStats();
            });

            function loadDashboardStats() {
                var id = $("#FactoryNameId option:selected").val();

                $.ajax({
                    url: window.rootUrl + '/Home/LoadDashboardStats',
                    data: { factoryId: id },
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        $('#dashboard-stat').html(data);
                    }
                });

            }


            $("#btn-planner-reminder").click(function (e) {
                if (window.FormData !== undefined) {

                    // Create FormData object
                    var fileData = new FormData();
                    fileData.append('FactoryId', $("#FactoryNameId option:selected").val());

                    $('.gps-loading').show();

                    $.ajax({
                        url: window.rootUrl + '/Home/SendPlannerReminder',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {

                            $('.gps-loading').hide();

                            if (result["success"] == false)
                                toastr.warning(result["message"]);
                            else {
                                toastr.success(result["message"]);
                            }

                            toastr.clear();
                        },
                        error: function (err) {
                            toastr.error("An error occured. Please try again later.");
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });

        });
    </script>
}