﻿@model SmartPlanner.BusinessLayer.OrderInquiry

@{
    if (Model == null || Model.Id > 0)
    {
        ViewBag.Title = "Update Order Inquiry";
        ViewBag.SubmitText = "Update";
    }
    else
    {
        ViewBag.Title = "Create Order Inquiry";
        ViewBag.SubmitText = "Send";
    }

    WebGrid gridSplitBreakdown = new WebGrid(Model.Splits, canSort: false, canPage: false);

    if (Model.Planner != null && Model.PlannerId.Equals(@SmartPlanner.BusinessLayer.Common.GV.LoggedUser().Id))
    {
        ViewBag.IsPlanner = "form-control disabled";
    }
    else
    {
        ViewBag.IsPlanner = "form-control";
    }
}

<input type="hidden" id="tabWasModified" value="false" />

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.SubmitText order inquiry.
                </p>
                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }

                <!-- End Display the message as a dismissable alert -->

                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Detail", "OrderInquiries", FormMethod.Post, htmlAttributes: new { @class = "needs-validation" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model=>model.RequestedDate)

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    @Html.LabelFor(model => model.SalesOrderNumber)
                                    @Html.TextBoxFor(model => model.SalesOrderNumber, htmlAttributes: new { @class = "form-control disabled", @readonly = true })
                                    @Html.ValidationMessageFor(model => model.SalesOrderNumber, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group  col-md-3">
                                    @Html.LabelFor(model => model.CreatedDate)
                                    @Html.TextBoxFor(model => model.CreatedDate,
                                        htmlAttributes: new { type = "date",
                                            @Value = Model.CreatedDate.HasValue?Model.CreatedDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                            @class = @ViewBag.IsPlanner })
                                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-1">
                                </div>

                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.Repeat, htmlAttributes: new { @class = "col-form-label d-block" })

                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.Repeat, true, htmlAttributes: new { id = "Repeat_Yes" })
                                        <label for="Repeat_Yes"> Yes </label>
                                    </div>
                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.Repeat, false, htmlAttributes: new { id = "Repeat_No" })
                                        <label for="Repeat_No"> No </label>
                                    </div>

                                </div>

                                <div class="form-group col-md-1">
                                </div>

                                <div class="form-group col-md-2">
                                    @Html.LabelFor(model => model.IsSplitOrder, htmlAttributes: new { @class = "col-form-label d-block" })

                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.IsSplitOrder, true, htmlAttributes: new { id = "IsSplitOrder_Yes" })
                                        <label for="IsSplitOrder_Yes"> Yes </label>
                                    </div>
                                    <div class="radio form-check-inline">
                                        @Html.RadioButtonFor(m => m.IsSplitOrder, false, htmlAttributes: new { id = "IsSplitOrder_No" })
                                        <label for="IsSplitOrder_No"> No </label>
                                    </div>
                                </div>

                            </div>

                            <div class="border border-light p-2 mb-3">

                                <div class="form-row">
                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.BuyerId)
                                        @Html.DropDownListFor(model => model.BuyerId, new SelectList(Model.Buyers, "Id", "Name"), htmlAttributes: new { @class = @ViewBag.IsPlanner })
                                        @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.CustomerId)
                                        @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.Customers, "Id", "Name"), htmlAttributes: new { @class = @ViewBag.IsPlanner })
                                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.StyleId)
                                        @Html.DropDownListFor(model => model.StyleId, new SelectList(Model.Styles, "Id", "StyleNumber"), "Select One...", new { @class = @ViewBag.IsPlanner })
                                        @Html.ValidationMessageFor(model => model.StyleId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.PlanningSeasonId)
                                        @Html.DropDownListFor(model => model.PlanningSeasonId, new SelectList(Model.PlanningSeasons, "Id", "ConfigValue"), htmlAttributes: new { @class = @ViewBag.IsPlanner })
                                        @Html.ValidationMessageFor(model => model.PlanningSeasonId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group  col-md-6" id="order-qty-div">
                                        @Html.LabelFor(model => model.OrderQty)
                                        @Html.TextBoxFor(model => model.OrderQty, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.OrderQty, "", new { @class = "text-danger" })
                                        @*<a class="btn btn-outline-primary waves-effect waves-light mb-3 mt-2" data-toggle="modal" data-target="#add-quantity"><i class="mdi mdi mdi-image-plus mr-1"></i>Add Quantity</a>*@
                                    </div>
                                </div>

                                <div class="form-row" id="split-details" style="height:100%">

                                    <div class="form-group  col-md-12">
                                        <div class="border border-light p-2 mb-3">
                                            <h5>Split Order Breakdown</h5>
                                            <a class="btn btn-outline-primary waves-effect waves-light mb-3 @(Model.Planner != null && Model.PlannerId.Equals(@SmartPlanner.BusinessLayer.Common.GV.LoggedUser().Id) ? "disabled" : string.Empty)" data-toggle="modal" data-target="#add-split-breakdown"><i class="mdi mdi mdi-image-plus mr-1"></i>Add Split Breakdown</a>

                                            <table id="WebGridSplit" data-toggle="table"
                                                   data-search="false"
                                                   data-show-refresh="false"
                                                   data-show-columns="false"
                                                   data-sort-name="splitid"
                                                   data-page-list="[5, 10, 20]"
                                                   data-page-size="10"
                                                   data-pagination="true" data-show-pagination-switch="false" class="table-bordered ">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th data-field="splitid" data-sortable="true">@Html.DisplayNameFor(model => model.Split.SplitIdValue) </th>
                                                        <th data-field="qty" data-sortable="true">@Html.DisplayNameFor(model => model.Split.QtyValue) </th>
                                                        <th data-field="shipmentdate" data-sortable="true">@Html.DisplayNameFor(model => model.Split.ShipmentDateText) </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.Splits != null)
                                                    {
                                                        if (Model.Splits.Count > 0)
                                                        {
                                                            foreach (var item in Model.Splits)
                                                            {
                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => item.SplitIdValue) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.QtyValue)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.ShipmentDateText) </td>
                                                                    <td>
                                                                        @if (item.SplitId > 0)
                                                                        {
                                                                            <a href="@Url.Action("UpdateSplit", "OrderInquiries", new { id = item.Id, qty = item.Qty, shipmentDate = item.ShipmentDate })" class="editDialog btn btn-info btn-sm">Edit</a> <a href="#" class="deleteSplit btn btn-danger btn-sm" data-splitid=' + item.SplitId + '>Delete</a>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-1">
                                    </div>

                                    <div class="form-group col-md-5">
                                        @Html.LabelFor(model => model.IsSewingPlant, htmlAttributes: new { @class = "col-form-label d-block" })

                                        <div class="radio form-check-inline">
                                            @Html.RadioButtonFor(m => m.IsSewingPlant, true, htmlAttributes: new { id = "IsSewingPlant_Yes" })
                                            <label for="IsSewingPlant_Yes"> Yes </label>
                                        </div>
                                        <div class="radio form-check-inline">
                                            @Html.RadioButtonFor(m => m.IsSewingPlant, false, htmlAttributes: new { id = "IsSewingPlant_No" })
                                            <label for="IsSewingPlant_No"> No </label>
                                        </div>
                                    </div>

                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.SewingPlantId)

                                        @if (!Model.IsSewingPlant || Model.Planner == null || (Model.Planner != null && !Model.PlannerId.Equals(@SmartPlanner.BusinessLayer.Common.GV.LoggedUser().Id)))
                                        {
                                            ViewBag.IsSewing = "form-control disabled";
                                        }
                                        else
                                        {
                                            ViewBag.IsSewing = "form-control";
                                        }

                                        @Html.DropDownListFor(model => model.SewingPlantId, new SelectList(Model.SewingPlants, "Id", "ConfigValue"), htmlAttributes: new { @class = @ViewBag.IsSewing })
                                        @Html.ValidationMessageFor(model => model.SewingPlantId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-1">
                                    </div>

                                    <div class="form-group col-md-5">
                                        @Html.LabelFor(model => model.IsEmblishmentPlant, htmlAttributes: new { @class = "col-form-label d-block" })

                                        <div class="radio form-check-inline">
                                            @Html.RadioButtonFor(m => m.IsEmblishmentPlant, true, htmlAttributes: new { id = "IsEmblishmentPlant_Yes" })
                                            <label for="IsEmblishmentPlant_Yes"> Yes </label>
                                        </div>
                                        <div class="radio form-check-inline">
                                            @Html.RadioButtonFor(m => m.IsEmblishmentPlant, false, htmlAttributes: new { id = "IsEmblishmentPlant_No" })
                                            <label for="IsEmblishmentPlant_No"> No </label>
                                        </div>
                                    </div>

                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.EmblishmentPlantId)

                                        @if (!Model.IsEmblishmentPlant || Model.Planner == null || (Model.Planner != null && !Model.PlannerId.Equals(@SmartPlanner.BusinessLayer.Common.GV.LoggedUser().Id)))
                                        {
                                            ViewBag.IsEmblishment = "form-control disabled";
                                        }
                                        else
                                        {
                                            ViewBag.IsEmblishment = "form-control";
                                        }
                                        @Html.DropDownListFor(model => model.EmblishmentPlantId, new SelectList(Model.EmblishmentPlants, "Id", "ConfigValue"), htmlAttributes: new { @class = @ViewBag.IsEmblishment })
                                        @Html.ValidationMessageFor(model => model.EmblishmentPlantId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-1">
                                    </div>

                                    <div class="form-group col-md-5">
                                        @Html.LabelFor(model => model.IsPrintingPlant, htmlAttributes: new { @class = "col-form-label d-block" })

                                        <div class="radio form-check-inline">
                                            @Html.RadioButtonFor(m => m.IsPrintingPlant, true, htmlAttributes: new { id = "IsPrintingPlant_Yes" })
                                            <label for="IsPrintingPlant_Yes"> Yes </label>
                                        </div>
                                        <div class="radio form-check-inline">
                                            @Html.RadioButtonFor(m => m.IsPrintingPlant, false, htmlAttributes: new { id = "IsPrintingPlant_No" })
                                            <label for="IsPrintingPlant_No"> No </label>
                                        </div>
                                    </div>

                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.PrintingPlantId)
                                        @if (!Model.IsPrintingPlant || Model.Planner == null || (Model.Planner != null && !Model.PlannerId.Equals(@SmartPlanner.BusinessLayer.Common.GV.LoggedUser().Id)))
                                        {
                                            ViewBag.IsPrinting = "form-control disabled";
                                        }
                                        else
                                        {
                                            ViewBag.IsPrinting = "form-control";
                                        }
                                        @Html.DropDownListFor(model => model.PrintingPlantId, new SelectList(Model.PrintingPlants, "Id", "ConfigValue"), htmlAttributes: new { @class = @ViewBag.IsPrinting })
                                        @Html.ValidationMessageFor(model => model.PrintingPlantId, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-1">
                                    </div>

                                    <div class="form-group col-md-5">
                                        @Html.LabelFor(model => model.IsWashingPlant, htmlAttributes: new { @class = "col-form-label d-block" })

                                        <div class="radio form-check-inline">
                                            @Html.RadioButtonFor(m => m.IsWashingPlant, true, htmlAttributes: new { id = "IsWashingPlant_Yes" })
                                            <label for="IsWashingPlant_Yes"> Yes </label>
                                        </div>
                                        <div class="radio form-check-inline">
                                            @Html.RadioButtonFor(m => m.IsWashingPlant, false, htmlAttributes: new { id = "IsWashingPlant_No" })
                                            <label for="IsWashingPlant_No"> No </label>
                                        </div>
                                    </div>

                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.WashingPlantId)
                                        @if (!Model.IsWashingPlant || Model.Planner == null || (Model.Planner != null && !Model.PlannerId.Equals(@SmartPlanner.BusinessLayer.Common.GV.LoggedUser().Id)))
                                        {
                                            ViewBag.IsWashing = "form-control disabled";
                                        }
                                        else
                                        {
                                            ViewBag.IsWashing = "form-control";
                                        }
                                        @Html.DropDownListFor(model => model.WashingPlantId, new SelectList(Model.WashingPlants, "Id", "ConfigValue"), htmlAttributes: new { @class = @ViewBag.IsWashing })
                                        @Html.ValidationMessageFor(model => model.WashingPlantId, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.OrderConfirmationDate)
                                        @Html.TextBoxFor(model => model.OrderConfirmationDate,
                                                htmlAttributes: new { type = "date",
                                                    @Value = Model.OrderConfirmationDate.HasValue?Model.OrderConfirmationDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                                    @class = @ViewBag.IsPlanner
                                                })
                                        @Html.ValidationMessageFor(model => model.OrderConfirmationDate, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group  col-md-6" id="shipment-date-div">
                                        @Html.LabelFor(model => model.ShipmentDate)
                                        @Html.TextBoxFor(model => model.ShipmentDate,
                                            htmlAttributes: new { type = "date",
                                                @Value = Model.ShipmentDate.HasValue?Model.ShipmentDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                                @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ShipmentDate, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.ProductionSMV)
                                        @Html.TextBoxFor(model => model.ProductionSMV, new { @class = "form-control disabled", type = "text" })
                                        @Html.ValidationMessageFor(model => model.ProductionSMV, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.CM)
                                        @Html.TextBoxFor(model => model.CM, new {@class = "form-control disabled", type = "text" })
                                        @Html.ValidationMessageFor(model => model.CM, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.MerchantId)
                                        @Html.DropDownListFor(model => model.MerchantId, new SelectList(Model.Merchants, "Id", "FullName"), htmlAttributes: new { @class = @ViewBag.IsPlanner })
                                        @Html.ValidationMessageFor(model => model.MerchantId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group  col-md-6">
                                        @Html.LabelFor(model => model.PlannerId)
                                        @Html.DropDownListFor(model => model.PlannerId, new SelectList(Model.Planners, "Id", "FullName"), htmlAttributes: new { @class = @ViewBag.IsPlanner })
                                        @Html.ValidationMessageFor(model => model.PlannerId, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        @Html.LabelFor(model => model.OrderInquiryStatusId)
                                        @Html.DropDownListFor(model => model.OrderInquiryStatusId, new SelectList(Model.OrderInquiryStatuses, "Id", "StatusName"), htmlAttributes: new { @class = @ViewBag.IsPlanner })
                                        @Html.ValidationMessageFor(model => model.OrderInquiryStatusId, "", new { @class = "text-danger" })
                                    </div>



                                </div>

                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" class="btn btn-primary" value=@ViewBag.SubmitText>
                                <a href="@Url.Action("Index", "OrderInquiries")" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-cart-outline mr-1"></i>Go to Order Inquiry List</a>
                                <a data-toggle="modal" data-target="#show-email-content" class="btn btn-outline-warning waves-effect waves-light @(Model.Id == 0 ? "disabled" : string.Empty)" id="btn-show-email-content"><i class="mdi mdi-email-outline mr-1"></i>Copy to Email</a>
                            </div>


                        }
                    </div>
                </div>

            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
</div>

<!-- Modal - Add Split Breakdown - Start -->
<div class="modal fade" id="add-split-breakdown">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Order Split Breakdown</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group  col-md-12">
                        @Html.LabelFor(model => model.Split.Qty)
                        @Html.TextBoxFor(model => model.Split.Qty, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                       data_bts_max = "9999999999",
                       onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                        @Html.ValidationMessageFor(model => model.Split.Qty, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Split.ShipmentDate)
                        @Html.TextBoxFor(model => model.Split.ShipmentDate,
                                htmlAttributes: new { type = "date",
                                    @Value = Model.Split.ShipmentDate.HasValue?Model.Split.ShipmentDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                    @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Split.ShipmentDate, "", new { @class = "text-danger" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelSplitBreakdown" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btnAddSplitBreakdown" type="button" class="btn btn-primary btn-pill">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Add Split Breakdown - End -->

<div class="modal fade" id="show-email-content">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Copy to Email</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div id="email-content">
                        <p>Dear Customer,</p>
                        <p>Thank you for your valuable opportunity to work with you. Please find the delivery plan for your reference.</p>

                        <div class="form-group mb-3">

                            <strong>@Html.DisplayNameFor(model => model.SalesOrderNumber)</strong>: @Html.DisplayFor(model => model.SalesOrderNumber)<br />
                            <strong>@Html.DisplayNameFor(model => model.CreatedDateString)</strong>: @Html.DisplayFor(model => model.CreatedDateString)<br />
                            <strong>@Html.DisplayNameFor(model => model.BuyerId)</strong>: @Html.DisplayFor(model => model.Buyer.Name)<br />
                            <strong>@Html.DisplayNameFor(model => model.CustomerId)</strong>: @Html.DisplayFor(model => model.Customer.Name)<br />
                            <strong>@Html.DisplayNameFor(model => model.StyleId)</strong>: @Html.DisplayFor(model => model.Style.StyleNumber)<br />
                            <strong>@Html.DisplayNameFor(model => model.PlanningSeasonId)</strong>: @Html.DisplayFor(model => model.PlanningSeason.ConfigValue)<br />
                            <strong>@Html.DisplayNameFor(model => model.CM)</strong>: @Html.DisplayFor(model => model.CM)<br />

                            @if (!@Model.IsSplitOrder)
                            {
                                <div>
                                    <strong>@Html.DisplayNameFor(model => model.OrderQty)</strong>: @Html.DisplayFor(model => model.OrderQty)<br />
                                    <strong>@Html.DisplayNameFor(model => model.ShipmentDateText)</strong>: @Html.DisplayFor(model => model.ShipmentDateText)<br />
                                </div>
                            }

                            <strong>@Html.DisplayNameFor(model => model.SewingPlantId)</strong>: @Html.DisplayFor(model => model.SewingPlant.ConfigValue)<br />
                            <strong>@Html.DisplayNameFor(model => model.EmblishmentPlantId)</strong>: @Html.DisplayFor(model => model.EmblishmentPlant.ConfigValue)<br />
                            <strong>@Html.DisplayNameFor(model => model.PrintingPlantId)</strong>: @Html.DisplayFor(model => model.PrintingPlant.ConfigValue)<br />
                            <strong>@Html.DisplayNameFor(model => model.WashingPlantId)</strong>: @Html.DisplayFor(model => model.WashingPlant.ConfigValue)<br />
                            <strong>@Html.DisplayNameFor(model => model.OrderConfirmationDateString)</strong>: @Html.DisplayFor(model => model.OrderConfirmationDateString)<br /><br />


                            @if (@Model.IsSplitOrder)
                            {
                                <table id="WebGridSplitCopy" data-toggle="table"
                                       data-search="false"
                                       data-show-refresh="false"
                                       data-show-columns="false"
                                       data-sort-name="splitid"
                                       data-page-list="[5, 10, 20]"
                                       data-page-size="10"
                                       data-pagination="true" data-show-pagination-switch="false" class="table-bordered ">
                                    <thead class="thead-light">
                                        <tr>
                                            <th data-field="splitid" data-sortable="true">@Html.DisplayNameFor(model => model.Split.SplitIdValue) </th>
                                            <th data-field="qty" data-sortable="true">@Html.DisplayNameFor(model => model.Split.QtyValue) </th>
                                            <th data-field="shipmentdate" data-sortable="true">@Html.DisplayNameFor(model => model.Split.ShipmentDateText) </th>
                                            @*<th></th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Splits != null)
                                        {
                                            foreach (var item in Model.Splits)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.SplitIdValue) </td>
                                                    <td>@Html.DisplayFor(modelItem => item.QtyValue)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.ShipmentDateText) </td>
                                                    @*<td><a href="#" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a></td>*@
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnCancelEmailContent" type="reset" class="btn btn-default btn-pill" data-dismiss="modal">Cancel</button>
                <button id="btn-email-content" type="button" class="btn btn-primary btn-pill">Copy</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/jquery.jeditable.js"></script>
    <script type="text/javascript">

        window.addEventListener('beforeunload', function (e) {

            var modified = $('#tabWasModified').val();

            if (modified === 'true') {
                // Cancel the event
                e.preventDefault();
                // Chrome requires returnValue to be set
                e.returnValue = "You have changes pending on save in this page, if you continue you'll lose these changes.\nDo you want to continue?";
            }
        });

        $(document).ready(function () {

            LoadStyles();

            //AddOnChangeEvent();

            var oldValue = '';
            $('.edit').editable(window.rootUrl + '/orderdetails/SaveResponsibility', {
                cssclass: 'jeditForm',
                tooltip: 'click to change...',
                width: 'none',
                height: 'none',
                type: 'select',
                submit: 'Ok',
                loadurl: window.rootUrl + '/orderdetails/loadusers',
                loaddata: function () {
                    return { id: $(this).data('id') };
                },
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        tnaDefaultId: $(this).data('tnadefid'),
                        orderId: $('#Id').val()
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.name)
                    }
                    else {
                        $(this).text(oldValue);
                    }
                }
            })

            function LoadStyles() {
                var buyerId = $('#BuyerId option:selected').val();
                var customerId = $('#CustomerId option:selected').val();
                var styleId = $('#StyleId option:selected').val();
                console.log("styleId");
                console.log(styleId);

                if (buyerId === undefined)
                    buyerId = -1;

                if (customerId === undefined)
                    customerId = -1;

                $.ajax({
                    type: "GET",
                    url: window.rootUrl + "/SMVBank/GetStyleDetailList",
                    data: { buyerId: buyerId, customerId: customerId },
                    success: function (data) {
                        resetTabWasModified();
                        console.log(data);
                        var s = '<option value="-1">Select One...</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Id + '">' + data[i].StyleNumber + '</option>';
                        }
                        $("#StyleId").html(s);
                        //$('#styleId option:selected').val(styleId);
                        if (styleId > 0) {
                            $("#StyleId > [value=" + styleId + "]").attr("selected", "true");
                        }
                    }
                });
            };

            $("#BuyerId").change(function () {
                LoadStyles();
                resetTabWasModified();
            });

            $("#CustomerId").change(function () {
                LoadStyles();
                resetTabWasModified();
            });

            function GetStyleInfo() {

                var styleId = $('#StyleId option:selected').val();

                $.ajax({
                    type: "POST",
                    url: window.rootUrl + "/OrderInquiries/GetStyleInfo",
                    data: { styleId: styleId },
                    success: function (data) {
                        resetTabWasModified();

                        $('#CM').val(data["CM"]);
                        $('#ProductionSMV').val(data["ProductionSMV"]);
                    }
                });
            };

            $("#StyleId").change(function () {
                GetStyleInfo();
                resetTabWasModified();
            });

            if ($("#IsSplitOrder_Yes").is(":checked")) {
                $("#split-details").show();
                $("#shipment-date-div").hide();
                $("#order-qty-div").hide();

            }
            else {
                $("#split-details").hide();
                $("#shipment-date-div").show();
                $("#order-qty-div").show();
            }

            $("#btnAddSplitBreakdown").click(function (e) {
                if (window.FormData !== undefined) {

                    // Create FormData object
                    var fileData = new FormData();

                    // Adding one more key to FormData object

                    fileData.append('OrderInquiryId', $("#Id").val());
                    fileData.append('SplitQty', $("#Split_Qty").val());
                    fileData.append('ShipmentDate', $("#Split_ShipmentDate").val());

                    $.ajax({
                        url: window.rootUrl + '/OrderInquiries/AddSplitBreakdown',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {

                            resetTabWasModified();
                            toastr.success("Split details added successfully")

                            //$("#btnCancelSplitBreakdown").click();
                            $("#Split_Qty").val(0);
                            $("#Split_ShipmentDate").val("");
                            toastr.clear()

                            var row = $("#WebGridSplit tbody tr:last-child").clone(true);

                            $("#WebGridSplit tbody tr").remove();

                            $.each(result, function () {
                                var fileName = this;
                                $("td", row).eq(0).html(fileName["SplitIdValue"]);
                                $("td", row).eq(1).html(fileName["QtyValue"]);
                                $("td", row).eq(2).html(fileName["ShipmentDateText"]);
                                $("td", row).eq(3).html('<a href="#" class="deleteSplit btn btn-danger btn-sm" data-splitid =' + fileName["SplitId"] + '>Delete</a>');
                                $("#WebGridSplit").append(row);
                                row = $("#WebGridSplit tbody tr:last-child").clone(true);
                            });

                        },
                        error: function (err) {
                            toastr.warning("Unable to add Split details")
                            toastr.clear()
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });

            $(document).on('click', '.deleteSplit', function () {

                var splitId = this.getAttribute('data-splitid');

                // Create FormData object
                var fileData = new FormData();

                fileData.append('SplitId', splitId);

                $.ajax({
                    url: window.rootUrl + '/OrderInquiries/DeleteSplitBreakdown',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                        resetTabWasModified();
                        toastr.success("Split details deleted successfully")

                        toastr.clear()

                        var row = $("#WebGridSplit tbody tr:last-child").clone(true);

                        $("#WebGridSplit tbody tr").remove();

                        $.each(result, function () {
                            var fileName = this;
                            $("td", row).eq(0).html(fileName["SplitIdValue"]);
                            $("td", row).eq(1).html(fileName["QtyValue"]);
                            $("td", row).eq(2).html(fileName["ShipmentDateText"]);
                            $("td", row).eq(3).html('<a href="' + window.rootUrl + '/OrderInquiries/UpdateSplit/' + fileName["Id"] + '?qty=' + fileName["Qty"] + '&shipmentDate=' + fileName["ShipmentDate"] + '" class="editDialog btn btn-info btn-sm" >Edit</a>'
                                + ' | <a href="#" class="deleteSplit btn btn-danger btn-sm" data-splitid =' + fileName["SplitId"] + '>Delete</a>');
                            $("#WebGridSplit").append(row);
                            row = $("#WebGridSplit tbody tr:last-child").clone(true);
                        });

                    },
                    error: function (err) {
                        toastr.warning("Unable to add Split details")
                        toastr.clear()
                    }
                });

            });

            $("#btn-email-content").click(function (e) {
                var el = document.getElementById("email-content");
                var range = document.createRange();
                range.selectNodeContents(el);
                var sel = window.getSelection();
                sel.removeAllRanges();
                sel.addRange(range);
                document.execCommand('copy');

                toastr.success("Contents copied to clipboard.")
                toastr.clear()
                return false;
            });
        });

        function resetTabWasModified() {
            $('#tabWasModified').val(false);
        }

        $("#IsSplitOrder_Yes").click(function (e) {
            $("#split-details").show();
            $("#shipment-date-div").hide();
            $("#order-qty-div").hide();
        });

        $("#IsSplitOrder_No").click(function (e) {
            $("#split-details").hide();
            $("#shipment-date-div").show();
            $("#order-qty-div").show();
        });

    </script>
}
