﻿@model SmartPlanner.BusinessLayer.OrderInquirySplit

@{
    ViewBag.Title = $"Update split details";
}
<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="sub-header">
                    Use this option to @ViewBag.Title
                </p>

                <!-- Start Display the message as a dismissable alert -->
                @if (!string.IsNullOrEmpty(@ViewBag.Message))
                {
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Message
                    </div>
                }

                @if (!ViewData.ModelState.IsValid && Model.BrokenBusinessRules?.Count > 0)
                {
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @Html.ValidationSummary(true)
                    </div>
                }
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        @using (Html.BeginForm("UpdateSplit", "OrderInquiries", FormMethod.Post, htmlAttributes: new { @class = "needs-validation" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.SplitId)
                            @Html.HiddenFor(model => model.OrderInquiryId)

                            <div class="form-group  col-md-12">
                                @Html.LabelFor(model => model.Qty)
                                @Html.TextBoxFor(model => model.Qty, new { @class = "form-control", type = "text", data_toggle = "touchspin",
                               data_bts_max = "9999999999",
                               onkeypress = "return IsNumber(event)", ondrop = "return false;", onpaste = "return false;" })
                                @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.ShipmentDate)
                                @Html.TextBoxFor(model => model.ShipmentDate,
                                        htmlAttributes: new { type = "date",
                                            @Value = Model.ShipmentDate.HasValue?Model.ShipmentDate.Value.ToString("yyyy-MM-dd"):string.Empty,
                                            @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ShipmentDate, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group mb-0">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a href="@Url.Action("Detail", "OrderInquiries", new { id = Model.OrderInquiryId })" class="btn btn-outline-blue waves-effect waves-light" id="demo-delete-row"><i class="mdi mdi-account-multiple mr-1"></i>Back</a>
                            </div>
                        }

                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

    </script>
}

